<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>合作交流页面</title>
    <link href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="/css/mytable.css"
          th:href="@{/css/mytable.css}" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>
<div class="content">
    <p th:if="${#lists.isEmpty(dataList)}">
        无数据
    </p>
    <table class="table table-borderless table-hover zyytable">
        <thead>
        <tr>
            <th scope="col">合作交流名称</th>
            <th scope="col">主研人</th>
            <th scope="col">项目简介</th>
            <th scope="col">项目建设单位</th>
            <th scope="col">联系人</th>
            <th scope="col">联系电话</th>
            <th scope="col">预期合作机构</th>
            <th scope="col">数据状态</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="dataList" type="java.util.List"*/-->
        <tr th:each="item,status:${dataList}">
            <td th:text="${item.getCooperationExchangeName()}" name="firstcol"></td>
            <td th:text="${item.getCooperationExchangeLeader()}">兰云涛</td>
            <td th:text="${item.getProjectIntroduce()}">项目简介</td>
            <td th:text="${item.getProjectUnit()}">某单位</td>
            <td th:text="${item.getContacts()}">唐任猛</td>
            <td th:text="${item.getPhone()}">15907786666</td>
            <td th:text="${item.getCooOrg()}">桂电</td>
            <td th:text="${item.getStatus()}">审核不通过</td>
        </tr>
        </tbody>
    </table>
    <div class="pagediv">
        <nav aria-label="Page navigation example">
            <ul class="my-pagination">
                <li class="my-page-item">
                    <a class="my-page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"><</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(1,10)}" class="my-page-item">
                    <a class="my-page-link" href="#" th:text="${i}"></a></li>
                <li class="my-page-item">
                    <a class="my-page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">></span>
                    </a>
                </li>
                <li>
                    <label>
                        <select id="pageselect" class="my-select my-select-secondary">
                            <option th:value="10">10/页</option>
                            <option th:value="20">20/页</option>
                            <option th:value="30">30/页</option>
                            <option th:value="40">40/页</option>
                        </select>
                    </label>
                </li>
                <li class="page-input">
                    跳至
                    <input type="number" id="pageinput" value="5">
                    页
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>