.reg-content {
    margin-top: 8%;
    width: 100%;
    height: 100%;
    background-image: url('static/images/bg-border.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 40px 50px;
}

.form-text {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #9c7049;
    line-height: 38px;
    text-align: left;
    width: 115px;
}

.form-item {
    padding: 0;
    margin: 10px 0;
    height: 37px;
}

.form-input {
    padding: 0;
    margin: 0;
}

.form-input input, .form-input select {
    border: 1px solid #9c7049;
    height: 32px;
    width: 100%;
}

.form-input input:focus, .form-input select:focus {
    outline: none;
    border: 1px solid #9c7049;
    box-shadow: 0 0 0 0.2rem rgba(156, 112, 73, 0.6);
}

.form-button, .form-button:hover {
    background-color: #9c7049;
    color: white;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

html, body {
    height: 100%;
    width: 100%
}

.reg-content-body {
    width: 100%;
    height: 100%;
    background-image: url('static/images/bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}
