<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{project/css/evaluationTable/evaluationTable.css}">
    <title>评审</title>
</head>
<body>
<div id="evalutionMain" style="width: 951px;margin: 0 auto">
    <div id="headerT">集中评审打分情况</div>
    <div style="font-weight: 400;font-style: normal;font-size: 14px;">总分:<input type="text"  id="allSc" readonly="readonly" style="width: 190px;height: 20px;border: 1px solid; border-color: #F2F2F2"></div>
    <div style="font-weight: 400;font-style: normal;font-size: 14px;margin-top:20px">专家评审意见:</div>
    <div>
        <textarea name="" id="" style="resize:none; width: 951px;height: 58px;border: 1px solid; border-color:#F2F2F2 "></textarea>
        <!--<input type="text" style="width: 951px;height: 58px;border: 1px solid; border-color:#F2F2F2 ">-->
    </div>
    <div style="font-weight: 700;font-style: normal;font-size: 14px;text-align: center;margin-top:20px">集中评审打分表</div>
    <table  border="2" bordercolor="#F2F2F2"  cellspacing="0" >
        <tr>
            <th>一级指标</th>
            <th>二级指标</th>
            <th>打分标准</th>
            <th>分值</th>
            <th>实际得分</th>
        </tr>
        <tr>
            <td rowspan="4">立论依据</td>
            <td>课题研究的意义</td>
            <td style="text-align: left;">涉及重点领域的中医药理论或临床、药学关键技术问题,具有重要的理论价值或应用前景。</td>
            <td>12分</td>
            <td><input class="sc" type="text" oninput="if(value>12)value=12;if(value<0)value=0" onkeyup="this.value=this.value.replace(/\D/g,'');" style="outline: none;text-align: center; border: none;width: 100%;height: 100%;"></td>
        </tr>
        <tr>
            <td>科学性</td>
            <td style="text-align: left;">研究的背景：国内外目前的研究现状；<br>

                存在的问题：提出合理开展中医药研究的切入点；<br>

                研究设想：研究目标及思路。</td>
            <td>10分</td>
            <td><input class="sc" type="text" oninput="if(value>10)value=10;if(value<0)value=0" onkeyup="this.value=this.value.replace(/\D/g,'');" style="outline: none;text-align: center; border: none;width: 100%;height: 100%;"></td>
        </tr>
        <tr>
            <td>学术思想及创新性</td>
            <td style="text-align: left;">理论创新：新学说或理论；<br>

                方法创新：新方法；<br>

                技术创新：技术改进或完善。</td>
            <td>16分</td>
            <td><input class="sc" type="text" oninput="if(value>16)value=16;if(value<0)value=0" onkeyup="this.value=this.value.replace(/\D/g,'');" style="outline: none;text-align: center; border: none;width: 100%;height: 100%"></td>
        </tr>
        <tr>
            <td>对国内外研究现状的了解</td>
            <td style="text-align: left;">广度和深度：近5年的主要研究进展，研究中存在的主要问题。</td>
            <td>7分</td>
            <td><input class="sc" type="text" oninput="if(value>7)value=7;if(value<0)value=0" onkeyup="this.value=this.value.replace(/\D/g,'');" style="outline: none;text-align: center; border: none;width: 100%;height: 100%"></td>
        </tr>
        <tr>
            <td rowspan="4">研究方案</td>
            <td>研究内容和拟解决的关键问题</td>
            <td style="text-align: left;">范围合适：3-5个内容；<br>

                重点突出：1-2个重点；<br>

                关键问题选择准确：1-2个关键问题。</td>
            <td>8分</td>
            <td><input class="sc" type="text" oninput="if(value>8)value=8;if(value<0)value=0" onkeyup="this.value=this.value.replace(/\D/g,'');" style="outline: none;text-align: center; border: none;width: 100%;height: 100%"></td>
        </tr>
        <tr>
            <td>技术路线</td>
            <td style="text-align: left;">设计合理：基础与临床；方法可行：成熟可靠 可重复性强 易于掌握。。</td>
            <td>12分</td>
            <td><input class="sc" type="text" oninput="if(value>12)value=12;if(value<0)value=0" onkeyup="this.value=this.value.replace(/\D/g,'');" style="outline: none;text-align: center; border: none;width: 100%;height: 100%"></td>
        </tr>
        <tr>
            <td>研究方法及手段</td>
            <td style="text-align: left;">方法先进；技术成熟可靠；有创新：</td>
            <td>12分</td>
            <td><input class="sc" type="text" oninput="if(value>12)value=12;if(value<0)value=0" onkeyup="this.value=this.value.replace(/\D/g,'');" style="outline: none;text-align: center; border: none;width: 100%;height: 100%"></td>
        </tr>
        <tr>
            <td>研究的预期目标</td>
            <td style="text-align: left;">明确，可以达到，留有余地。发表的研究论文；申请的技术专利；可应用产品的开发。</td>
            <td>8分</td>
            <td><input class="sc" type="text" oninput="if(value>8)value=8;if(value<0)value=0" onkeyup="this.value=this.value.replace(/\D/g,'');" style="outline: none;text-align: center; border: none;width: 100%;height: 100%"></td>
        </tr>
        <tr>
            <td rowspan="3">与本项目有关的工作积累</td>
            <td>主要研究者的研究背景及经验；与本研究相关的前期研究；已发表的研究论文。</td>
            <td style="text-align: left;">范围合适：3-5个内容；<br>

                重点突出：1-2个重点；<br>

                关键问题选择准确：1-2个关键问题。</td>
            <td>5分</td>
            <td><input class="sc" type="text" oninput="if(value>5)value=5;if(value<0)value=0" onkeyup="this.value=this.value.replace(/\D/g,'');" style="outline: none;text-align: center; border: none;width: 100%;height: 100%"></td>
        </tr>
        <tr>
            <td>已具备的实验条件</td>
            <td style="text-align: left;">实验室条件：主要仪器和设备。<br>

                技术条件：实验模型的建立,预实验的结果,关键实验材料。<br>

                国内及国际合作：合作的背景及技术优势。</td>
            <td>5分</td>
            <td><input class="sc" type="text" oninput="if(value>5)value=5;if(value<0)value=0" onkeyup="this.value=this.value.replace(/\D/g,'');" style="outline: none;text-align: center; border: none;width: 100%;height: 100%"></td>
        </tr>
        <tr>
            <td>项目组成员</td>
            <td style="text-align: left;">主要成员6-10名，结构合理：高级研究人员（1-2人）；中级研究人员（2-3人）；技术人员及研究生（3-5人）。</td>
            <td>5分</td>
            <td><input class="sc" type="text" oninput="if(value>5)value=5;if(value<0)value=0" onkeyup="this.value=this.value.replace(/\D/g,'');" style="outline: none;text-align: center; border: none;width: 100%;height: 100%"></td>
        </tr>
    </table>
    <div>
        <buttun>取消</buttun>
        <buttun>保存</buttun>
        <buttun>提交</buttun>
    </div>

</div>
<script type="text/javascript" th:src="@{/project/js/scientificProject/centralizedReview.js}"></script>

</body>
</html>