<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1805932_ysrcp4y0uy9.css">
    <link rel="stylesheet" th:href="@{/component/bootstrap@4.5.2/css/bootstrap.css}">
    <title>Document</title>
    <style>
        .upload-wrap {
            position: relative;
            display: inline-block;
            overflow: hidden;

            border-radius: 3px;
        }

        .upload-wrap .file-ele {
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }

        .upload-wrap .file-open {
            width: 90px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            color: #fff;
            background: red;
        }

        label {
            text-align: right;
        }
    </style>
</head>
<body>
<div class="row" id="fir_body">
    <div class="col-12">
        <div class="titleCSS">院所信息维护</div>
        <form>
            <div class="col-lg-12 row" >
                <div class="col-lg-6" >
                    <div class="form-group row">
                        <label style="padding-right: 20px;" class="col-sm-4 col-form-label"><span style="color: red">*</span>院所名称：</label>
                        <div style="padding-left: 10px;padding-right: 5px;" class="col-sm-6" >
                            <input id="name" type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label style="padding-right: 20px;" class="col-sm-4 col-form-label"><span style="color: red">*</span>联系人：</label>
                        <div style="padding-left: 10px;padding-right: 5px;" class="col-sm-6" >
                            <input id="contacts" type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label style="padding-right: 20px;" class="col-sm-4 col-form-label"><span style="color: red">*</span>联系电话：</label>
                        <div style="padding-left: 10px;padding-right: 5px;" class="col-sm-6" >
                            <input id="phone" type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="form-group row" style="margin-top: -1rem;">
                        <label style="position: relative;flex: 0 0 19.666667%;max-width: 19.666667%;top: 60px;" class="col-sm-2 col-form-label">院所照片： </label>
                        <div class="upload-content" data-limit="1">
                            <div class="content-img">
                                <ul class="content-img-list"></ul>
                                <div class="file">
                                    <i class="gcl gcladd"></i>
                                    <input type="file" name="file" accept="image/*" id="upload" multiple>
                                </div>
                            </div>
                            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                                 aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><span style="color: red">*</span>链接地址：</label>
                <div class="col-sm-3">
                    <input id="onlineAddress" type="text" class="form-control" placeholder="请输入">
                </div>
            </div>

            <div id="distpicker" class="form-group row">
                <label for="addressPro" class="col-sm-2 col-form-label"><span style="color: red">*</span>详细地址：</label>
                <div class="col-sm-5 row" style="padding-left: 30px;">
                    <select id="addressPro" class="form-control col"></select>
                    <select id="addressCity" class="form-control col"></select>
                    <select id="addressCountry" class="form-control col"></select>
                </div>
                <div class="col-sm-3" style="padding-left: 0;flex: 0 0 26.6666%;max-width: 26.6666%;">
                    <input id="address" type="text" class="form-control" placeholder="请输入">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><span style="color: red">*</span>介绍：</label>
                <div id="div1" class="col-sm-8">
                </div>
            </div>


            <div class="form-group row">
                <div class="col-lg-6 col-md-6" ></div>
                <div class=" col-lg-4 row" style="padding: 0" >
                    <div class="col">
                        <button id="cancelBtn" type="button" class="btn btn-light col">取消</button>
                    </div>
                    <div class="col">
                        <button id="saveBtn" type="button" class="btn btn-danger col">保存</button>
                    </div>
                    <div class="col"  style="padding-right: 0;">
                        <button id="submitBtn" type="submit" class="btn btn-primary col">提交</button>
                    </div>
                </div>

            </div>
        </form>

    </div>

</div>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
<link type="text/css" rel="stylesheet" href="/component/uploadImg/css/uploadImg.css"
      th:src="@{/component/uploadImg/css/uploadImg.css}">
</body>
</html>
