<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/mainPage.css}">
</head>
<body id="fir_body">
<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
            <div class="home-header">
                <div class="head-name">
                    <span >我的办公</span>
                </div>
                <div class="more-c">
                    <a id="wdbggd">更多>></a>
                </div>
            </div>
            <div class="home-contain container">
                <div class="col-md-12">
                    <div id="wdsw" style="color: red; margin: -1px 0 16px -11px">我的收文</div>
                    <div class="col-lg-12" style="margin-top: 27px">
                        <span class="col-md-4">待办<span id="wdswdb">10</span></span>
                        <span class="col-md-4">已办<span id="wdswyb">106</span></span>
                        <span class="col-md-4">完结<span id="wdswwj">311</span></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="wdfw" style="color: red; margin: 36px 0 16px -11px">我的发文</div>
                    <div class="col-lg-12" style="margin-top: 27px">
                        <span class="col-md-4">待办<span id="wdfwdb">10</span></span>
                        <span class="col-md-4">已办<span id="wdfwyb">106</span></span>
                        <span class="col-md-4">完结<span id="wdfwwj">311</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="home-header">
                <div class="head-name">
                    <span >通知公告</span>
                </div>
                <div class="more-c">
                    <a id="tzgggd">更多>></a>
                </div>
            </div>
            <div class="home-contain">
                <div>
                    <ul id="tzgg">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
            <div class="home-header">
                <div class="head-name">
                    <span >政策法规</span>
                </div>
                <div class="more-c">
                    <a id="zcfggd">更多>></a>
                </div>
            </div>
            <div class="home-contain">
                <div>
                    <ul id="zcfg">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="home-header">
                <div class="head-name">
                    <span >规章制度</span>
                </div>
                <div class="more-c">
                    <a id="gzzdgd">更多>></a>
                </div>
            </div>
            <div class="home-contain">
                <div>
                    <ul id="gzzd">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
            <div class="home-header">
                <div class="head-name">
                    <span >领导讲话</span>
                </div>
                <div class="more-c">
                    <a id="ldjhjh">更多>></a>
                </div>
            </div>
            <div class="home-contain">
                <div>
                    <ul id="ldjh">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="home-header">
                <div class="head-name">
                    <span >共享文件</span>
                </div>
                <div class="more-c">
                    <a id="gxwjgd">更多>></a>
                </div>
            </div>
            <div class="home-contain">
                <div>
                    <ul id="gxwj">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
</body>
</html>