<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewsign" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1805932_ysrcp4y0uy9.css">
    <title>Document</title>
    <style>
        .request-table{
            width: 900px;
            margin-top: 20px;
            margin-left: 30px;
        }
        .title{
            text-align: center;
            font-size: 21px;
            color: #D60000;
        }
        .documentNum{
            margin-left: 1rem;
            margin-right: 1rem;
            width: 110px;
            border: none;
            outline: none;
        }
        .opinion{
            margin-bottom: 20px;
        }
        .advice{
            width: 485px;
            margin-left: 18px;
            border: none;
            outline: none;
        }
        .text1{
            margin: 10px;
            width: 95%;
            border: none;
            outline: none;
        }
        .date {
            float: right;
            width: 100px;
            margin-left: 20px;
            border: none;
            outline: none;
        }
        .name {
            float: right;
            text-align: right;
            width: 160px;
            border: none;
            outline: none;
        }

    </style>
</head>
<body>
<div id="fir_body" class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8" style="margin-left: 60px;">
    <div style="margin-left: 230px;margin-top: 40px;">
        <h4 style="color: #D60000; font-size: 34px;">河北省中医药管理局文件会签笺</h4>
    </div>
    <div class="col-lg-12">
        <table class="request-table" border="1" bordercolor="#D60000">
            <tr style="height: 2rem;">
                <td class="title">会签部门</td>
                <td colspan="5">
                    <div>
                        <input id="parment" class="text1" />
                    </div>
                </td>
                <td class="title">需要份数</td>
                <td colspan="3">
                    <div>
                        <input id="number" class="text1" />
                    </div>
                </td>
            </tr>

            <tr style="height: 2rem;">
                <td class="title">文件标题</td>
                <td colspan="9">
                    <div>
                        <input id="receivingTitle" class="text1" />
                    </div>
                </td>
            </tr>

            <tr style="height: 2rem;">
                <td class="title">政府信息公开</td>
                <td colspan="9">
                    <div>
                        <input id="govPunlic" class="text1" />
                    </div>
                </td>
            </tr>

            <tr style="height: 2rem;">
                <td class="title">文件编号</td>
                <td colspan="5">
                    <div>
                        <input id="fileNumber" class="text1" />
                    </div>
                </td>
                <td class="title">密级</td>
                <td colspan="3">
                    <div>
                        <input id="classification" class="text1" />
                    </div>
                </td>
            </tr>

            <tr style="height: 200px">
                <td class="title">会签<br>部门<br>领导<br>意见</td>
                <td colspan="9">
                    <div class="opinion">
                        <input id="signOpinion" class="advice" placeholder="等待审批" readonly="readonly"/>
                        <input id="signDate" class="date" style="margin-top: 50px;" placeholder="审批日期" readonly="readonly"/>
                        <input id="signName" class="name" style="margin-top: 50px;" placeholder="审批人" readonly="readonly"/>
                    </div>
                </td>
            </tr>

            <tr style="height: 200px">
                <td class="title">局<br>领<br>导<br>意<br>见</td>
                <td colspan="9">
                    <div class="opinion">
                        <input id="directorOpinion" class="advice" placeholder="等待审批" readonly="readonly"/>
                        <input id="directorDate" class="date" placeholder="审批日期" readonly="readonly"/>
                        <input id="directorName" class="name" placeholder="审批人" readonly="readonly"/>
                    </div>
                    <div class="opinion">
                        <input id="deputyDirectorOpinion" class="advice" placeholder="等待审批" readonly="readonly"/>
                        <input id="deputyDirectorDate" class="date" placeholder="审批日期" readonly="readonly"/>
                        <input id="deputyDirectorName" class="name" placeholder="审批人" readonly="readonly"/>
                    </div>
                </td>
            </tr>

            <tr style="height: 200px">
                <td class="title">办<br>公<br>室<br>核<br>稿</td>
                <td colspan="9">
                    <div class="opinion">
                        <input id="officeOpinion" class="advice" placeholder="等待审批" readonly="readonly"/>
                        <input id="officeDate" class="date" style="margin-top: 50px;" placeholder="审批日期" readonly="readonly"/>
                        <input id="officeName" class="name" style="margin-top: 50px;" placeholder="审批人" readonly="readonly"/>
                    </div>
                </td>
            </tr>

            <tr style="height: 200px">
                <td class="title">处<br>室<br>核<br>稿</td>
                <td colspan="5">
                    <div class="opinion">
                        <input id="departmentOpinion" style="margin-left: 18px; width: 410px; border: none; outline: none;" placeholder="等待审批" readonly="readonly"/>
                        <input id="departmentDate" class="date" style="margin-top: 50px;" placeholder="审批日期" readonly="readonly"/>
                        <input id="departmentName" class="name" style="margin-top: 50px;" placeholder="审批人" readonly="readonly"/>
                    </div>
                </td>
                <td class="title">处<br>室<br>拟<br>稿</td>
                <td colspan="3">
                    <div class="opinion">
                        <input id="initialName" style="margin-left: 18px; width: 128px; border: none; outline: none;" placeholder="审批人" readonly="readonly"/>
                        <input id="initialDate" class="date" style="margin-top: 50px;" placeholder="审批日期" readonly="readonly"/>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    <br>
    <div class="form-group row" style="width: 976px;">
        <div class="col-lg-10 col-md-10" ></div>
        <div class=" col-lg-2 row" style="flex: 0 0 18%;max-width: 18%;">
            <div class="col" style="padding-right: 0;" >
                <button id="cancelbtn" type="button" class="btn btn-light col">返回</button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-1"></div>
</div>

<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
<script type="text/javascript" th:src="@{/project/js/document/sign_vision.js}"></script>
<link type="text/css" rel="stylesheet" href="/component/uploadImg/css/uploadImg.css"
      th:src="@{/component/uploadImg/css/uploadImg.css}">
</body>
</html>