<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>收文呈办笺</title>

    <style>
        table {
            border-spacing: 0px;
            text-align: center;
            border-collapse: collapse; /* 为table设置这个属性 */
        }

        th,
        td {
            border: 1px solid red;
            width: 5rem;
        }

        ,
        style

        =
        "color: red;font-size: 2rem;padding-bottom: 1rem;"

    </style>
</head>
<body>
<div style="width:41.5rem" align="center">
    <div align="center" style="color: red;font-size: 2rem;padding-bottom: 1rem;">河北省中医药管理局收文呈办笺</div>
    <div style="width:50%;float: left; text-indent: -12rem;"><span style="color:red">收文号：</span><span
            id="shouNum">123</span><span style="color:red">号</span></div>
    <div style="width:50%;float: right;text-indent: 6rem;"><span>收文时间：</span><span id="shouDataY"></span><span
            style="color:red">2020年</span><span id="shouDataM"></span><span style="color:red">12月</span><span
            id="shouDataY"></span><span style="color:red">12日</span></div>
    <table border=1 align="center" style="margin-top: 2.3rem;">
        <tr style="height: 2rem;">
            <td style="color:red">来文单位</td>
            <td colspan="3"></td>
            <td style="color:red">文件编号</td>
            <td colspan="3"></td>
        </tr>
        <tr style="height: 2rem;">
            <td style="color:red">份数</td>
            <td></td>
            <td style="color:red">密级</td>
            <td></td>
            <td style="color:red">紧急程度</td>
            <td>
                <select style="width:80%">
                    <option value="1">平急</option>
                    <option value="2">加急</option>
                    <option value="3">特急</option>
                </select>
            </td>
            <td style="color:red">办结时限</td>
            <td></td>
        </tr>
        <tr>
            <td style="color:red"><br><br>来<br>文<br>标<br>题<br><br><br></td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td style="color:red"><br><br>局<br>领<br>导<br>批<br>示<br><br><br></td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td style="color:red"><br><br>拟<br>办<br>意<br>见<br><br><br></td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td style="color:red"><br><br>处<br>室<br>办<br>理<br>情<br>况<br><br><br></td>
            <td colspan="7"></td>
        </tr>
    </table>

</div>

</body>
</html>