<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .modal-content{
            width:13em;
        }
        .bs-checkbox{
            width: 38px !important;
        }
        #table td:first-child{
            visibility: hidden;
        }
        #table th:first-child{
            visibility: hidden;
            width: 0 !important;
        }
    </style>
</head>
<body>
<div id="fir_body">
    <div class="row " id="accordion2">
        <div class="col-lg-3 col-md-3" style="padding-left: 2rem;">
            <div class="input-group col-lg-12 col-md-12" >
                <div class="input-group-prepend" style="margin-top: 7px;">
                    <span>项目名称：</span>
                </div>
                <input type="text" id="taskNameSearch" class="form-control" value="请输入" onfocus="if (value=='请输入'){value =''}" onblur="if (value ==''){value='请输入'}" >
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend" style="margin-top: 7px;">
                    <span class="input-text" >项目状态：</span>
                </div>
                <select class="custom-select" id="chargePersonSearch">
                </select>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="btnSearch" style="z-index: 1;">搜索</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-2 col-md-2" style="padding: 0">
            <button type="button" id="addExper" class="btn btn-danger ml-3 distribution ">批量分配专家</button>
        </div>
        <div class="col-lg-2 col-md-2" style="padding-left: 0">
            <button type="button" id="deleteExper" class="btn btn-danger ml-3 distribution " style="width: 156px">批量取消分配专家</button>
        </div>
    </div>

    <div class="col-lg-12">
        <table id="table"></table>
    </div>


    <!-- Modal -->




</div>

</body>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
</html>