<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{CSS/taskList.css}">
    <style>
        .modal-content {
            width: 17rem;
        }
    </style>
</head>
<body>
<div id="fir_body">

    <div class="row test-border" id="accordion2">
        <div class="col-lg-4 col-md-4">
            <div class="input-group mb-4" >
                <input type="text" id="taskNameSearch" class="form-control" value="请输入" onfocus="if (value=='请输入'){value =''}" onblur="if (value ==''){value='请输入'}" >
                <div class="input-group-prepend">
                    <span class="input-group-text" id="btnSearch" style="z-index: 1;">搜索</span>
                </div>

            </div>
        </div>
        <div class="col-lg-7 col-md-7"></div>
    </div>

    <div class="row col-lg-12 col-md-12 mb-3">
        <div class="col-lg-12 col-md-12">
            <button type="button" id="btn_addTask" class="add btn btn-danger ml-3">新增专家账号</button>
        </div>
    </div>
    <div class="col-lg-12">
        <table id="table"></table>
    </div>


    <!-- Modal -->




</div>

</body>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
<script type="text/javascript" th:src="@{/scientificProject/expert.js}"></script>
</html>