<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        #btn-color{
            width: 171px;
            height: 40px;
            text-align: center;
            font-size: 16px;
            display: none;
            color: #ffffff;
            font-family: AdobeHeitiStd-Regular;
        }
    </style>
</head>
<body>
<div id="fir_body">

    <div class="row " id="accordion2">
        <div class="col-lg-4 col-md-4" style="padding-left: 2rem;">
            <div class="input-group mb-3 col-lg-10 col-md-10" >
                <div class="input-group-prepend" style="margin-top: 7px;">
                    <span >项目名称：</span>
                </div>
                <input type="text" id="taskNameSearch" class="form-control" value="请输入关键字" onfocus="if (value=='请输入关键字'){value =''}" onblur="if (value ==''){value='请输入关键字'}" >
            </div>
        </div>
        <div class="col-lg-4 col-md-4" style="padding-left: 2rem;">
            <div class="input-group mb-3">
                <div class="input-group-prepend" style="margin-top: 7px;">
                    <span class="input-text" >审核状态：</span>
                </div>
                <select class="custom-select" id="chargePersonSearch"></select>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="btnSearch" style="z-index: 1;">搜索</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-2 col-md-2">
            <button type="button" id="btn-color" class="btn ml-3">申报项目信息</button>
        </div>

        <!--</div>-->
    </div>

    <div class="col-lg-12">
        <table id="table"></table>
    </div>


    <!-- Modal -->




</div>

</body>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
</html>