<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>机构审核</title>
    <link rel="stylesheet" th:href="@{CSS/taskList.css}">
</head>
<body>
<div id="fir_body">

    <div class="row test-border" id="accordion2">
        <div class="col-lg-4 col-md-4" style="padding-left: 2rem;">
            <div class="input-group mb-4" style="width: 530px;">
                <input type="text" id="taskNameSearch" class="form-control" value="请输入"
                       onfocus="if (value=='请输入'){value =''}" onblur="if (value ==''){value='请输入'}">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="btnSearch" style="z-index: 1;">搜索</span>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7"></div>
        <div class="col-lg-1 col-md-1 pull-right">
            <a id="closeAndOpen" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"
               style="text-decoration: none; color: red;" aria-expanded="false">
                展开
            </a>
        </div>
        <hr size="1" class="mb-3" style="color: #EBEBEB;border-style:dashed;width:100%;margin-bottom:10px;">

        <!--<div id="collapseOne" class="collapse show col-md-12 col-lg-12 row" style="height: 0px; ">-->
        <div id="collapseOne" class="collapse col-md-12 col-lg-12 row" style="height: 0px; ">
            <div class="col-lg-3 col-md-3" style="padding-left: 2rem;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend" style="margin-top: 9px;">
                        <span class="input-text">其他选项： 机构类型：</span>
                    </div>
                    <select class="custom-select" id="orgTypeSelect">
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-2 col-md-2">
                <label style="padding-left: 30px" class="input-text" for="chargePersonSearch">展示状态:</label>
            </div>
            <div class="col-lg-2 col-md-2">
                <select class="custom-select"
                        id="chargePersonSearch"></select>
            </div>
        </div>
        <div class="col-lg-12">
            <table id="table"></table>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
</html>