
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap@4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/user/login.css}">
</head>
<body>
<div class="container-fluid reg-content-body">
    <div class="row clearfix">
        <div class="col-sm-12 offset-md-4 col-md-4 reg-content">
            <div class="form-group row form-item">
                <label for="inputUsername" class="col-sm-3 col-form-label form-text">用户名：</label>
                <div class="col-sm-9 form-input">
                    <input type="text" class="form-control" id="inputUsername" placeholder="请输入用户名">
                </div>
            </div>
            <div class="form-group row form-item">
                <label for="password" class="col-sm-3 col-form-label form-text">密&nbsp;&nbsp;&nbsp;码：</label>
                <div class="col-sm-9 form-input">
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="请输入密码">
                </div>
            </div>

            <div class="form-group row form-item">
                <label class="col-sm-3"></label>
                <button id="btn_Login" class="btn form-button col-sm-12" type="submit">登录</button>
            </div>
            <div class="form-group row form-item">
                <label class="col-sm-3"></label>
                <button id="btn_Register" class="btn form-button col-sm-12" type="submit">注册</button>
            </div>
        </div>

    </div>

</div>
</body>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
</html>
