<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap@4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/user/register.css}">
    <title>注册</title>
</head>
<body>

<div class="container-fluid reg-content-body">
    <div class="row clearfix">
        <div class="col-sm-12 offset-md-4 col-md-5 reg-content">
            <div class="form-group row form-item">
                <label for="orgName" class="col-sm-4 col-form-label form-text">企业名称：</label>
                <div class="col-sm-8 form-input">
                    <input type="text" class="form-control-plaintext" id="orgName" placeholder="   请输入企业名称">
                </div>
            </div>
            <div class="form-group row form-item">
                <label for="orgType" class="col-sm-4 col-form-label form-text">机构类型：</label>
                <div class="col-sm-8 form-input">
                    <select id="orgType"></select>
                </div>
            </div>
            <div class="form-group row form-item">
                <label for="orgCode" class="col-sm-4 col-form-label form-text">统一社会信用代码：</label>
                <div class="col-sm-8 form-input">
                    <input type="text" class="form-control-plaintext" id="orgCode" placeholder="   请输入组织机构代码">
                </div>
            </div>
            <div class="form-group row form-item">
                <label for="username" class="col-sm-4 col-form-label form-text">用户名：</label>
                <div class="col-sm-8 form-input">
                    <input type="text" class="form-control-plaintext" id="username" placeholder="   请输入用户名">
                </div>
            </div>
            <div class="form-group row form-item">
                <label for="password" class="col-sm-4 col-form-label form-text">密&nbsp;&nbsp;&nbsp;码：</label>
                <div class="col-sm-8 form-input">
                    <input type="password" name="password" class="form-control" id="password" placeholder="请输入密码">
                </div>
            </div>
            <div class="form-group row form-item">
                <label for="phone" class="col-sm-4 col-form-label form-text">手机号：</label>
                <div class="col-sm-8 form-input">
                    <input type="text" class="form-control-plaintext" id="phone" placeholder="   请输入手机号">
                </div>
            </div>
            <div class="form-group row form-item">
                <label for="reg-code" class="col-sm-4 col-form-label form-text">验证码：</label>
                <div class="col-sm-4 form-input">
                    <input type="text" class="form-control" id="reg-code" placeholder="请输入验证码">
                </div>
                <div class="col-sm-4">
                    <span>
                        <canvas id="canvas" width="100" height="28"></canvas>
                    </span>
                </div>
            </div>
            <div class="form-group row form-item">
                <button class="btn form-button col-sm-8" id="btn_register" type="submit">注 册</button>
            </div>

        </div>

    </div>
    <div id="showStatusdiv">
    </div>
</div>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
</body>
</html>
