<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap@4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/user/register.css}">
    <title>注册</title>
</head>
<body>

<div class="container-fluid reg-content-body" >
    <div class="row clearfix">
        <div class="  col-sm-12 offset-md-4 col-md-4 reg-content" >
                <form action="/user/register"  method="post" onsubmit="return validateLogin()">
                    <div class="form-group row form-item">
                    <label for="orgName" class="col-sm-4 col-form-label form-text">企业名称：</label>
                    <div class="col-sm-8 form-input">
                        <input type="text"  class="form-control-plaintext" id="orgName" placeholder="请输入企业名称">
                    </div>
                </div>
                    <div class="form-group row form-item">
                        <label for="orgType" class="col-sm-4 col-form-label form-text">机构类型：</label>
                        <div class="col-sm-8 form-input">
                            <select id="orgType">
                                <option  value="中药材种植园">中药材种植园</option>
                                <option  value="中药材加工企业">中药材加工企业</option>
                                <option  value="中药材制药企业">中药材制药企业</option>
                                <option  value="中医医疗机构">中医医疗机构&nbsp;&nbsp; </option>
                                <option  value="高等医学院校">高等医学院校&nbsp;&nbsp; </option>
                                <option  value="科研院所">科研院所</option>
                                <option  value="技术服务机构">技术服务机构</option>
                                <option  value="旅游康养机构">旅游康养机构</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row form-item">
                        <label for="orgCode" class="col-sm-4 col-form-label form-text">组织机构代码：</label>
                        <div class="col-sm-8 form-input">
                            <input type="text" class="form-control-plaintext" id="orgCode" placeholder="请输入组织机构代码">
                        </div>
                    </div>
                    <div class="form-group row form-item">
                        <label for="username" class="col-sm-4 col-form-label form-text">用户名：</label>
                        <div class="col-sm-8 form-input">
                            <input type="text"  class="form-control-plaintext" id="username" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group row form-item">
                        <label for="phone" class="col-sm-4 col-form-label form-text">手机号：</label>
                        <div class="col-sm-8 form-input">
                            <input type="text"  class="form-control-plaintext" id="phone" placeholder="请输入手机号">
                        </div>
                    </div>

                    <div class="form-group row form-item">
                        <label for="password" class="col-sm-4 col-form-label form-text">密&nbsp;&nbsp;&nbsp;码：</label>
                        <div class="col-sm-8 form-input">
                            <input type="password"name="password" class="form-control" id="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group row form-item">
                        <label for="reg-code" class="col-sm-4 col-form-label form-text">验证码：</label>
                        <div class="col-sm-4 form-input">
                            <input type="text" class="form-control" id="reg-code" placeholder="请输入验证码">
                        </div>
                        <div class="col-sm-4">
                            <span>
                                 <canvas id="canvas" width="100" height="28"></canvas>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row form-item">
                        <label class="col-sm-4 col-form-label form-text"></label>
                        <div class="col-sm-8 form-input">
                            <button  class="btn form-button ">注    册</button>
                        </div>
                    </div>
                </form>

        </div>

    </div>
</div>
<script type="text/javascript" th:src="@{/component/jquery@3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/component/bootstrap@4.5.2/js/bootstrap.min.js}"></script>
<script>
    var codeStr = [];
    /**生成一个随机数**/
    function randomNum(min,max){
        return Math.floor( Math.random()*(max-min)+min);
    }
    /**生成一个随机色**/
    function randomColor(min,max){
        var r = randomNum(min,max);
        var g = randomNum(min,max);
        var b = randomNum(min,max);
        return "rgb("+r+","+g+","+b+")";
    }
    drawPic(codeStr);
    document.getElementById("canvas").onclick = function(e){
        e.preventDefault();
        drawPic(codeStr);
    }

    /**绘制验证码图片**/
    function drawPic(codeStr){
        var canvas=document.getElementById("canvas");
        var width=canvas.width;
        var height=canvas.height;
        var ctx = canvas.getContext('2d');
        ctx.textBaseline = 'bottom';

        /**绘制背景色**/
        ctx.fillStyle = randomColor(180,240); //颜色若太深可能导致看不清
        ctx.fillRect(0,0,width,height);
        /**绘制文字**/
        var str = 'ABCEFGHJKLMNPQRSTWXY123456789';
        for(var i=0; i<4; i++){
            var txt = str[randomNum(0,str.length)];
            codeStr[i] = txt;
            ctx.fillStyle = randomColor(50,160);  //随机生成字体颜色
            ctx.font = randomNum(16,25)+'px SimHei'; //随机生成字体大小
            var x = 10+i*25;
            var y = randomNum(25,30);
            var deg = randomNum(-45, 45);
            //修改坐标原点和旋转角度
            ctx.translate(x,y);
            ctx.rotate(deg*Math.PI/180);
            ctx.fillText(txt, 0,0);
            //恢复坐标原点和旋转角度
            ctx.rotate(-deg*Math.PI/180);
            ctx.translate(-x,-y);
        }
    }


    function validateLogin() {
        let orgName =  $("#orgName").val();
        let orgType = $("#orgType option:selected").val();
        let orgCode =  $("#orgCode").val();
        let username =  $("#username").val();
        let password =  $("#password").val();
        let phone =  $("#phone").val();

        let inputCode =  $("#reg-code").val().toLowerCase();
        let canvasCode = codeStr.join("").toLowerCase();

        if (orgName == ''){
            alert('请输入机构名字！');
            return false;
        }
        if (orgType == ''){
            alert('请选择机构类型！');
            return false;
        }
        if (orgCode == ''){
            alert('请输入机构代码！');
            return false;
        }
        if (username == ''){
            alert('请输入用户名！');
            return false;
        }
        if (password == ''){
            alert('请输入密码！');
            return false;
        }
        if (phone == ''){
            alert('请输入手机号码！');
            return false;
        }else if(!(/^1[3456789]\d{9}$/.test(phone))){
            alert("手机号码有误，请重填");
            return false;
        }


        if(inputCode==''){
            alert('请输入验证码！');
            return false;
        }else if(inputCode == canvasCode){
            alert('提交成功！');
            return true;
        }else{
            alert('验证码错误！请重新输入！');
            return false
        }
    }
</script>
</body>
</html>
