<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <!--<link rel="stylesheet" type="text/css"  th:href="@{/css/user/user.css}">-->
</head>
<body>
    <div id="fir_body">
        <header>
            <div class="layout content">
                <div>
                    <img src="/images/u11.png">
                </div>
                <div class="contentTitle">
                    <span><h3>多源异构中医科学数据汇交系统</h3></span><span></span><br>
                    <span><h3>Multi-source heterogeneous data TCM Science Concurrent Systems</h3></span>
                </div>
            </div>
        </header>
        <div class="register_body">
            <div id="tmc_content" class="tcm_content">
                <div id="left_content" class="left_content-reg">
                    <div>
                        <!--<h4 class="">注册须知</h4>-->
                        <!--<div class="left_content-reg-notes">-->
                            <!--<p>1、用户名称由6~20位的英文字母和数字组成</p>-->
                            <!--<p>2、密码的长度不能小于6位,可以是英文字母和数字的任意组合</p>-->
                            <!--<p>3、请如实填写您的真实姓名和真实身份号码</p>-->
                            <!--<p>4、真实姓名和身份号码将作为您找回密码的重要依据</p>-->
                        <!--</div>-->
                    </div>
                </div>
                <div id="right_content" class="right_content-reg">
                    <div class="right_content-reg-header">
                        <p style="cursor: pointer; text-align: right; padding-right: 10px">
                            <img src="/images/return.png" style="width: 32px;height: 32px" id="return">
                        </p>
                    </div>
                    <div class="regMenu">
                        <div class="loginMenuText">
                            <label class="regLabel">用户名称：</label>
                            <input type="text" id="userAccountName" class="regMenuInput" placeholder="用户名（6-12英文、数字组合）">
                        </div>
                    </div>
                    <div class="regMenu">
                        <div class="loginMenuText">
                            <label class="regLabel">真实姓名：</label>
                            <input type="text" id="userRealName" class="regMenuInput" placeholder="真实姓名">
                        </div>
                    </div>
                    <div class="regMenu">
                        <div class="loginMenuText">
                            <label class="regLabel">证件类型：</label>
                            <select id="cardType"></select>
                        </div>
                    </div>
                    <div class="regMenu">
                        <div class="loginMenuText">
                            <label class="regLabel">证件号码：</label>
                            <input type="text" id="idNum" class="regMenuInput" placeholder="证件号码">
                        </div>
                    </div>
                    <div class="regMenu">
                        <div class="loginMenuText">
                            <label class="regLabel">登录密码：</label>
                            <input type="password" id="userPassword" class="regMenuInput" placeholder="登录密码">
                        </div>
                    </div>
                    <div class="regMenu">
                        <div class="loginMenuText">
                            <label class="regLabel">确认密码：</label>
                            <input type="password" id="userVPassword" class="regMenuInput" placeholder="确认密码">
                        </div>
                    </div>
                    <div class="regMenu">
                        <div class="loginMenuText-button">
                            <input type="button" id="btn_reg"  class="loginButton-reg" value="注册">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--页脚-->
        <div id="main_foot">
            <span>Copyright © 2018   中科软科技股份有限公司</span>
        </div>
    </div>
</body>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
<script type="text/javascript" th:src="@{/project/js/user/register.js}"></script>
</html>