<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>个人信息</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/user/usermsg.css}">
    <style>
        label {
            padding-top: 0px;
        }

        p {
            text-align: center;
            transform: scale3d(1.5, 1.5, 1.5);
        }
    </style>
</head>
<body>

<form class="form-horizontal" role="form" id="userMessage">
    <div class="form-group">
        <div class="text-center mb-4">
            <img class="mb-4" src="/images/logo.png" alt="" width="227">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">账户名称：</label>
        <div class="col-sm-2">
            <p class="accountName"></p>
        </div>
        <button type="button" class="btn btn-primary btn-sm">修改</button>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">姓名：</label>
        <div class="col-sm-2">
            <p class="userName"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">性别：</label>
        <div class="col-sm-2">
            <p class="sex"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">身份证类型：</label>
        <div class="col-sm-2">
            <p class="IDcardType"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">身份证号：</label>
        <div class="col-sm-2">
            <p class="IDNo"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">邮箱：</label>
        <div class="col-sm-2">
            <p class="email"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">手机号码：</label>
        <div class="col-sm-2">
            <p class="mobilePhone"></p>
        </div>
    </div>
    <div class="col-sm-12" style="text-align: center">
        <button type="button" class="btn btn-primary btn-sm">修改</button>
    </div>

</form>
</body>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
</html>
