<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.adviceDOMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.adviceDO">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="DATA_CODE" jdbcType="VARCHAR" property="dataCode" />
    <result column="INITIAL" jdbcType="VARCHAR" property="initial" />
    <result column="INITIAL_DATE" jdbcType="TIMESTAMP" property="initialDate" />
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
    <result column="DEPARTMENT_NAME" jdbcType="VARCHAR" property="departmentName" />
    <result column="DEPART_DATE" jdbcType="DATE" property="departDate" />
    <result column="OFFICE" jdbcType="VARCHAR" property="office" />
    <result column="OFFICE_NAME" jdbcType="VARCHAR" property="officeName" />
    <result column="OFFICE_DATE" jdbcType="TIMESTAMP" property="officeDate" />
    <result column="DEPUTY_DIRECTOR" jdbcType="VARCHAR" property="deputyDirector" />
    <result column="DEPUTY_DIRECTOR_NAME" jdbcType="VARCHAR" property="deputyDirectorName" />
    <result column="DEPUTY_DIRECTOR_DATE" jdbcType="TIMESTAMP" property="deputyDirectorDate" />
    <result column="DEPUTY_DIRECTOR1" jdbcType="VARCHAR" property="deputyDirector1" />
    <result column="DEPUTY_DIRECTOR_NAME1" jdbcType="VARCHAR" property="deputyDirectorName1" />
    <result column="DEPUTY_DIRECTOR_DATE1" jdbcType="TIMESTAMP" property="deputyDirectorDate1" />
    <result column="DEPUTY_DIRECTOR2" jdbcType="VARCHAR" property="deputyDirector2" />
    <result column="DEPUTY_DIRECTOR_NAME2" jdbcType="VARCHAR" property="deputyDirectorName2" />
    <result column="DEPUTY_DIRECTOR_DATE2" jdbcType="TIMESTAMP" property="deputyDirectorDate2" />
    <result column="DEPUTY_DIRECTOR3" jdbcType="VARCHAR" property="deputyDirector3" />
    <result column="DEPUTY_DIRECTOR_NAME3" jdbcType="VARCHAR" property="deputyDirectorName3" />
    <result column="DEPUTY_DIRECTOR_DATE3" jdbcType="TIMESTAMP" property="deputyDirectorDate3" />
    <result column="DIRECTOR" jdbcType="VARCHAR" property="director" />
    <result column="DIRECTOR_NAME" jdbcType="VARCHAR" property="directorName" />
    <result column="DIRECTOR_DATE" jdbcType="TIMESTAMP" property="directorDate" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
    <result column="signOpinion" jdbcType="VARCHAR" property="signOpinion" />
    <result column="signName" jdbcType="VARCHAR" property="signName" />
    <result column="signDate" jdbcType="TIMESTAMP" property="signDate" />
  </resultMap>
  <sql id="Base_Column_List">
    itemID, itemCode, DATA_CODE, INITIAL, INITIAL_DATE, signOpinion, signName, signDate,
    DEPARTMENT, DEPARTMENT_NAME, DEPART_DATE, OFFICE, OFFICE_NAME, OFFICE_DATE,
    DEPUTY_DIRECTOR, DEPUTY_DIRECTOR_NAME, DEPUTY_DIRECTOR_DATE, DEPUTY_DIRECTOR1,
    DEPUTY_DIRECTOR_NAME1, DEPUTY_DIRECTOR_DATE1, DEPUTY_DIRECTOR2, DEPUTY_DIRECTOR_NAME2,
    DEPUTY_DIRECTOR_DATE2, DEPUTY_DIRECTOR3, DEPUTY_DIRECTOR_NAME3, DEPUTY_DIRECTOR_DATE3,
    DIRECTOR, DIRECTOR_NAME, DIRECTOR_DATE,
    CREATER, itemCreateAt, UPDATER, itemUpdateAt, signOpinion,signName,signDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.adviceDOKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_governres_advice
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.adviceDOKey">
    delete from tb_governres_advice
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zyyglxt.dataobject.adviceDO">
    insert into tb_governres_advice (itemID, itemCode, DATA_CODE,
      INITIAL, INITIAL_DATE, DEPARTMENT,
      DEPART_DATE, OFFICE, OFFICE_DATE,
      DEPUTY_DIRECTOR, DEPUTY_DIRECTOR_DATE, DIRECTOR,
      DIRECTOR_DATE, CREATER, itemCreateAt,
      UPDATER, itemUpdateAt,signOpinion,signDate)
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{dataCode,jdbcType=VARCHAR},
      #{initial,jdbcType=VARCHAR}, #{initialDate,jdbcType=TIMESTAMP}, #{department,jdbcType=VARCHAR},
      #{departDate,jdbcType=DATE}, #{office,jdbcType=VARCHAR}, #{officeDate,jdbcType=TIMESTAMP},
      #{deputyDirector,jdbcType=VARCHAR}, #{deputyDirectorDate,jdbcType=TIMESTAMP}, #{director,jdbcType=VARCHAR},
      #{directorDate,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP},
      #{updater,jdbcType=VARCHAR}, #{itemupdateat,jdbcType=TIMESTAMP},#{signOpinion,jdbcType=VARCHAR}, #{signDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.adviceDO">
    insert into tb_governres_advice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="dataCode != null">
        DATA_CODE,
      </if>
      <if test="initial != null">
        INITIAL,
      </if>
      <if test="initialDate != null">
        INITIAL_DATE,
      </if>
      <if test="department != null">
        DEPARTMENT,
      </if>
      <if test="departmentName != null">
        DEPARTMENT_NAME,
      </if>
      <if test="departDate != null">
        DEPART_DATE,
      </if>
      <if test="office != null">
        OFFICE,
      </if>
      <if test="officeName != null">
        OFFICE_NAME,
      </if>
      <if test="officeDate != null">
        OFFICE_DATE,
      </if>
      <if test="deputyDirector != null">
        DEPUTY_DIRECTOR,
      </if>
      <if test="deputyDirectorName != null">
        DEPUTY_DIRECTOR_NAME,
      </if>
      <if test="deputyDirectorDate != null">
        DEPUTY_DIRECTOR_DATE,
      </if>
      <if test="deputyDirector1 != null">
        DEPUTY_DIRECTOR1,
      </if>
      <if test="deputyDirectorName1 != null">
        DEPUTY_DIRECTOR_NAME1,
      </if>
      <if test="deputyDirectorDate1 != null">
        DEPUTY_DIRECTOR_DATE1,
      </if>
      <if test="deputyDirector2 != null">
        DEPUTY_DIRECTOR2,
      </if>
      <if test="deputyDirectorName2 != null">
        DEPUTY_DIRECTOR_NAME2,
      </if>
      <if test="deputyDirectorDate2 != null">
        DEPUTY_DIRECTOR_DATE2,
      </if>
      <if test="deputyDirector3 != null">
        DEPUTY_DIRECTOR3,
      </if>
      <if test="deputyDirectorName3 != null">
        DEPUTY_DIRECTOR_NAME3,
      </if>
      <if test="deputyDirectorDate3 != null">
        DEPUTY_DIRECTOR_DATE3,
      </if>
      <if test="director != null">
        DIRECTOR,
      </if>
      <if test="directorName != null">
        DIRECTOR_NAME,
      </if>
      <if test="directorDate != null">
        DIRECTOR_DATE,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
      <if test="signOpinion != null">
        signOpinion,
      </if>
      <if test="signName != null">
        signName,
      </if>
      <if test="signDate != null">
        signDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="dataCode != null">
        #{dataCode,jdbcType=VARCHAR},
      </if>
      <if test="initial != null">
        #{initial,jdbcType=VARCHAR},
      </if>
      <if test="initialDate != null">
        #{initialDate,jdbcType=TIMESTAMP},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="departDate != null">
        #{departDate,jdbcType=DATE},
      </if>
      <if test="office != null">
        #{office,jdbcType=VARCHAR},
      </if>
      <if test="officeName != null">
        #{officeName,jdbcType=VARCHAR},
      </if>
      <if test="officeDate != null">
        #{officeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deputyDirector != null">
        #{deputyDirector,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorName != null">
        #{deputyDirectorName,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorDate != null">
        #{deputyDirectorDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deputyDirector1 != null">
        #{deputyDirector1,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorName1 != null">
        #{deputyDirectorName1,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorDate1 != null">
        #{deputyDirectorDate1,jdbcType=TIMESTAMP},
      </if>
      <if test="deputyDirector2 != null">
        #{deputyDirector2,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorName2 != null">
        #{deputyDirectorName2,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorDate2 != null">
        #{deputyDirectorDate2,jdbcType=TIMESTAMP},
      </if>
      <if test="deputyDirector3 != null">
        #{deputyDirector3,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorName3 != null">
        #{deputyDirectorName3,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorDate3 != null">
        #{deputyDirectorDate3,jdbcType=TIMESTAMP},
      </if>
      <if test="director != null">
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="directorName != null">
        #{directorName,jdbcType=VARCHAR},
      </if>
      <if test="directorDate != null">
        #{directorDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="signOpinion != null">
        #{signOpinion,jdbcType=VARCHAR},
      </if>
      <if test="signName != null">
        #{signName,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null">
        #{signDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.adviceDO">
    update tb_governres_advice
    <set>
      <if test="dataCode != null">
        DATA_CODE = #{dataCode,jdbcType=VARCHAR},
      </if>
      <if test="initial != null">
        INITIAL = #{initial,jdbcType=VARCHAR},
      </if>
      <if test="initialDate != null">
        INITIAL_DATE = #{initialDate,jdbcType=TIMESTAMP},
      </if>
      <if test="department != null">
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        DEPARTMENT_NAME = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="departDate != null">
        DEPART_DATE = #{departDate,jdbcType=DATE},
      </if>
      <if test="office != null">
        OFFICE = #{office,jdbcType=VARCHAR},
      </if>
      <if test="officeName != null">
        OFFICE_NAME = #{officeName,jdbcType=VARCHAR},
      </if>
      <if test="officeDate != null">
        OFFICE_DATE = #{officeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deputyDirector != null">
        DEPUTY_DIRECTOR = #{deputyDirector,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorName != null">
        DEPUTY_DIRECTOR_NAME = #{deputyDirectorName,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorDate != null">
        DEPUTY_DIRECTOR_DATE = #{deputyDirectorDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deputyDirector1 != null">
        DEPUTY_DIRECTOR1 = #{deputyDirector1,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorName1 != null">
        DEPUTY_DIRECTOR_NAME1 = #{deputyDirectorName1,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorDate1 != null">
        DEPUTY_DIRECTOR_DATE1 = #{deputyDirectorDate1,jdbcType=TIMESTAMP},
      </if>
      <if test="deputyDirector2 != null">
        DEPUTY_DIRECTOR2 = #{deputyDirector2,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorName2 != null">
        DEPUTY_DIRECTOR_NAME2 = #{deputyDirectorName2,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorDate2 != null">
        DEPUTY_DIRECTOR_DATE2 = #{deputyDirectorDate2,jdbcType=TIMESTAMP},
      </if>
      <if test="deputyDirector3 != null">
        DEPUTY_DIRECTOR3 = #{deputyDirector3,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorName3 != null">
        DEPUTY_DIRECTOR_NAME3 = #{deputyDirectorName3,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorDate3 != null">
        DEPUTY_DIRECTOR_DATE3 = #{deputyDirectorDate3,jdbcType=TIMESTAMP},
      </if>
      <if test="director != null">
        DIRECTOR = #{director,jdbcType=VARCHAR},
      </if>
      <if test="directorName != null">
        DIRECTOR_NAME = #{directorName,jdbcType=VARCHAR},
      </if>
      <if test="directorDate != null">
        DIRECTOR_DATE = #{directorDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
       <if test="signOpinion != null">
        signOpinion = #{signOpinion,jdbcType=VARCHAR},
      </if>
      <if test="signName != null">
        signName = #{signName,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null">
        signDate = #{signDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.adviceDO">
    update tb_governres_advice
    set DATA_CODE = #{dataCode,jdbcType=VARCHAR},
      INITIAL = #{initial,jdbcType=VARCHAR},
      INITIAL_DATE = #{initialDate,jdbcType=TIMESTAMP},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      DEPARTMENT_NAME = #{departmentName,jdbcType=VARCHAR},
      DEPART_DATE = #{departDate,jdbcType=DATE},
      OFFICE = #{office,jdbcType=VARCHAR},
      OFFICE_NAME = #{officeName,jdbcType=VARCHAR},
      OFFICE_DATE = #{officeDate,jdbcType=TIMESTAMP},
      DEPUTY_DIRECTOR = #{deputyDirector,jdbcType=VARCHAR},
      DEPUTY_DIRECTOR_NAME = #{deputyDirectorName,jdbcType=VARCHAR},
      DEPUTY_DIRECTOR_DATE = #{deputyDirectorDate,jdbcType=TIMESTAMP},
      DIRECTOR = #{director,jdbcType=VARCHAR},
      DIRECTOR_NAME = #{directorName,jdbcType=VARCHAR},
      DIRECTOR_DATE = #{directorDate,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      signOpinion = #{signOpinion,jdbcType=VARCHAR},
      signName = #{signName,jdbcType=VARCHAR},
      signDate = #{signDate,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <delete id="delByDataCode" parameterType="com.zyyglxt.dataobject.adviceDO">
    delete from tb_governres_advice
    where DATA_CODE = #{dataCode,jdbcType=VARCHAR}
  </delete>
  <select id="getByDataCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_governres_advice
    where DATA_CODE = #{dataCode,jdbcType=VARCHAR}
    limit 1
  </select>
  <update id="updAdvice" parameterType="com.zyyglxt.dataobject.adviceDO">
    update tb_governres_advice
    <set>
      <if test="dataCode != null">
        DATA_CODE = #{dataCode,jdbcType=VARCHAR},
      </if>
      <if test="initial != null">
        INITIAL = #{initial,jdbcType=VARCHAR},
      </if>
      <if test="initialDate != null">
        INITIAL_DATE = #{initialDate,jdbcType=TIMESTAMP},
      </if>
      <if test="department != null">
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        DEPARTMENT_NAME = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="departDate != null">
        DEPART_DATE = #{departDate,jdbcType=DATE},
      </if>
      <if test="office != null">
        OFFICE = #{office,jdbcType=VARCHAR},
      </if>
      <if test="officeName != null">
        OFFICE_NAME = #{officeName,jdbcType=VARCHAR},
      </if>
      <if test="officeDate != null">
        OFFICE_DATE = #{officeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deputyDirector != null">
        DEPUTY_DIRECTOR = #{deputyDirector,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorName != null">
        DEPUTY_DIRECTOR_NAME = #{deputyDirectorName,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorDate != null">
        DEPUTY_DIRECTOR_DATE = #{deputyDirectorDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deputyDirector1 != null">
        DEPUTY_DIRECTOR1 = #{deputyDirector1,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorName1 != null">
        DEPUTY_DIRECTOR_NAME1 = #{deputyDirectorName1,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorDate1 != null">
        DEPUTY_DIRECTOR_DATE1 = #{deputyDirectorDate1,jdbcType=TIMESTAMP},
      </if>
      <if test="deputyDirector2 != null">
        DEPUTY_DIRECTOR2 = #{deputyDirector,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorName2 != null">
        DEPUTY_DIRECTOR_NAME2 = #{deputyDirectorName2,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorDate2 != null">
        DEPUTY_DIRECTOR_DATE2 = #{deputyDirectorDate2,jdbcType=TIMESTAMP},
      </if>
      <if test="deputyDirector3 != null">
        DEPUTY_DIRECTOR3 = #{deputyDirector3,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorName3 != null">
        DEPUTY_DIRECTOR_NAME3 = #{deputyDirectorName3,jdbcType=VARCHAR},
      </if>
      <if test="deputyDirectorDate3 != null">
        DEPUTY_DIRECTOR_DATE3 = #{deputyDirectorDate3,jdbcType=TIMESTAMP},
      </if>
      <if test="director != null">
        DIRECTOR = #{director,jdbcType=VARCHAR},
      </if>
      <if test="directorName != null">
        DIRECTOR_NAME = #{directorName,jdbcType=VARCHAR},
      </if>
      <if test="directorDate != null">
        DIRECTOR_DATE = #{directorDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="signOpinion != null">
        signOpinion = #{signOpinion,jdbcType=VARCHAR},
      </if>
      <if test="signName != null">
        signName = #{signName,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null">
        signDate = #{signDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DATA_CODE = #{dataCode,jdbcType=VARCHAR}
  </update>
</mapper>