<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.AuditMapper">
    <resultMap id="ChiMedResultMap" type="com.zyyglxt.dto.industrialDevelop.IndustrialDevelopChiMedDto">
        <!--@mbg.generated-->
        <!--@Table tb_industrial_develop_chi_med-->
        <id column="itemID" jdbcType="INTEGER" property="itemid"/>
        <id column="itemCode" jdbcType="CHAR" property="itemcode"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="AREA_COVERD" jdbcType="VARCHAR" property="areaCoverd"/>
        <result column="SALES_CATEGORY" jdbcType="VARCHAR" property="salesCategory"/>
        <result column="PROCESSING_TYPE" jdbcType="VARCHAR" property="processingType"/>
        <result column="PEODUCE_TYPE" jdbcType="VARCHAR" property="peoduceType"/>
        <result column="PLANT_TYPE" jdbcType="VARCHAR" property="plantType"/>
        <result column="PEODUCE_DRUG" jdbcType="VARCHAR" property="peoduceDrug"/>
        <result column="SELLING_DRUGS" jdbcType="VARCHAR" property="sellingDrugs"/>
        <result column="CONTACTS" jdbcType="VARCHAR" property="contacts"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="ADDRESS_PRO" jdbcType="VARCHAR" property="addressPro"/>
        <result column="ADDRESS_CITY" jdbcType="VARCHAR" property="addressCity"/>
        <result column="ADDRESS_COUNTRY" jdbcType="VARCHAR" property="addressCountry"/>
        <result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
        <result column="INTRUDUCE" jdbcType="LONGVARCHAR" property="intruduce"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="REASON" jdbcType="VARCHAR" property="reason"/>
        <result column="ORG_CODE" jdbcType="CHAR" property="orgCode"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat"/>
        <collection property="filePath" ofType="java.lang.String">
            <constructor>
                <arg column="FILE_PATH"/>
            </constructor>
        </collection>
    </resultMap>

    <resultMap id="TecSerOrgResultMap" type="com.zyyglxt.dto.industrialDevelop.IndustrialDevelopTecSerOrgDto">
        <!--@mbg.generated-->
        <!--@Table tb_industrial_develop_tec_ser_org-->
        <id column="itemID" jdbcType="INTEGER" property="itemid"/>
        <id column="itemCode" jdbcType="CHAR" property="itemcode"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="AREA_COVERD" jdbcType="VARCHAR" property="areaCoverd"/>
        <result column="SPECIAL_SERVICE" jdbcType="VARCHAR" property="specialService"/>
        <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName"/>
        <result column="CONTACTS" jdbcType="VARCHAR" property="contacts"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="ADDRESS_PRO" jdbcType="VARCHAR" property="addressPro"/>
        <result column="ADDRESS_CITY" jdbcType="VARCHAR" property="addressCity"/>
        <result column="ADDRESS_COUNTRY" jdbcType="VARCHAR" property="addressCountry"/>
        <result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
        <result column="INTRUDUCE" jdbcType="LONGVARCHAR" property="intruduce"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="REASON" jdbcType="VARCHAR" property="reason"/>
        <result column="ORG_CODE" jdbcType="CHAR" property="orgCode"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat"/>
        <result column="ONLINE_ADDRESS" jdbcType="VARCHAR" property="onlineAddress"/>
        <collection property="filePath" ofType="java.lang.String">
            <constructor>
                <arg column="FILE_PATH"/>
            </constructor>
        </collection>
    </resultMap>

    <resultMap id="SchoolResultMap" type="com.zyyglxt.dto.industrialDevelop.IndustrialDevelopSchoolDto">
        <!--@mbg.generated-->
        <!--@Table tb_industrial_develop_school-->
        <id column="itemID" jdbcType="INTEGER" property="itemid"/>
        <id column="itemCode" jdbcType="CHAR" property="itemcode"/>
        <result column="SCHOOL_NAME" jdbcType="VARCHAR" property="schoolName"/>
        <result column="SCHOOL_INTRODUCE" jdbcType="VARCHAR" property="schoolIntroduce"/>
        <result column="SECONDARY_COLLEGE" jdbcType="LONGVARCHAR" property="secondaryCollege"/>
        <result column="ENROLLMENT_MAJOR" jdbcType="LONGVARCHAR" property="enrollmentMajor"/>
        <result column="GRADUATE_ENROLLMENT_MAJOR" jdbcType="LONGVARCHAR" property="graduateEnrollmentMajor"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="ONLINE_ADDRESS" jdbcType="VARCHAR" property="onlineAddress"/>
        <result column="SCHOOL_TEXT" jdbcType="LONGVARCHAR" property="schoolText"/>
        <result column="ADDRESS_PRO" jdbcType="VARCHAR" property="addressPro"/>
        <result column="ADDRESS_CITY" jdbcType="VARCHAR" property="addressCity"/>
        <result column="ADDRESS_COUNTRY" jdbcType="VARCHAR" property="addressCountry"/>
        <result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat"/>
        <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode"/>
        <collection property="filePath" ofType="java.lang.String">
            <constructor>
                <arg column="FILE_PATH"/>
            </constructor>
        </collection>
    </resultMap>

    <resultMap id="HospitalResultMap" type="com.zyyglxt.dto.HospDto">
        <id column="itemID" jdbcType="INTEGER" property="itemid"/>
        <id column="itemCode" jdbcType="CHAR" property="itemcode"/>
        <result column="HOSPITAL_NAME" jdbcType="VARCHAR" property="hospitalName"/>
        <result column="HOSPITAL_LEVEL" jdbcType="VARCHAR" property="hospitalLevel"/>
        <result column="HOSPITAL_BRIEF_INTRODUCE" jdbcType="VARCHAR" property="hospitalBriefIntroduce"/>
        <result column="HOSPITAL_KEY_SPECIALTY" jdbcType="VARCHAR" property="hospitalKeySpecialty"/>
        <result column="HOSPITAL_TELEPHONE" jdbcType="VARCHAR" property="hospitalTelephone"/>
        <result column="HOSPITAL_ADDRESS_PRO" jdbcType="VARCHAR" property="hospitalAddressPro"/>
        <result column="HOSPITAL_ADDRESS_CITY" jdbcType="VARCHAR" property="hospitalAddressCity"/>
        <result column="HOSPITAL_ADDRESS_COUNTRY" jdbcType="VARCHAR" property="hospitalAddressCountry"/>
        <result column="HOSPITAL_ADDRESS" jdbcType="VARCHAR" property="hospitalAddress"/>
        <result column="HOSPITAL_LINK" jdbcType="VARCHAR" property="hospitalLink"/>
        <result column="REASON" jdbcType="VARCHAR" property="reason"/>
        <result column="HOSPITAL_STATUS" jdbcType="VARCHAR" property="hospitalStatus"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat"/>
        <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode"/>
        <collection property="filePath" ofType="java.lang.String">
            <constructor>
                <arg column="FILE_PATH"/>
            </constructor>
        </collection>
    </resultMap>

    <sql id="chimed">
        cm.itemID,
        cm.itemCode,
        cm.NAME,
        cm.AREA_COVERD,
        cm.SALES_CATEGORY,
        cm.PROCESSING_TYPE,
        cm.PEODUCE_TYPE,
        cm.PLANT_TYPE,
        cm.PEODUCE_DRUG,
        cm.SELLING_DRUGS,
        cm.CONTACTS,
        cm.PHONE,
        cm.ADDRESS_PRO,
        cm.ADDRESS_CITY,
        cm.ADDRESS_COUNTRY,
        cm.ADDRESS,
        cm.INTRUDUCE,
        cm.STATUS,
        cm.REASON,
        cm.ORG_CODE,
        cm.TYPE,
        cm.CREATER,
        cm.itemCreateAt,
        cm.UPDATER,
        cm.itemUpdateAt
    </sql>
    <sql id="tecorg">
        tecorg.itemID,
        tecorg.itemCode,
        tecorg.NAME,
        tecorg.AREA_COVERD,
        tecorg.SPECIAL_SERVICE,
        tecorg.PROJECT_NAME,
        tecorg.CONTACTS,
        tecorg.PHONE,
        tecorg.ADDRESS_PRO,
        tecorg.ADDRESS_CITY,
        tecorg.ADDRESS_COUNTRY,
        tecorg.ADDRESS,
        tecorg.ONLINE_ADDRESS,
        tecorg.INTRUDUCE,
        tecorg.STATUS,
        tecorg.REASON,
        tecorg.ORG_CODE,
        tecorg.TYPE,
        tecorg.CREATER,
        tecorg.itemCreateAt,
        tecorg.UPDATER,
        tecorg.itemUpdateAt
    </sql>
    <sql id="school">
        school.itemID,
        school.itemCode,
        school.SCHOOL_NAME,
        school.SCHOOL_INTRODUCE,
        school.SECONDARY_COLLEGE,
        school.ENROLLMENT_MAJOR,
        school.GRADUATE_ENROLLMENT_MAJOR,
        school.PHONE,
        school.ONLINE_ADDRESS,
        school.SCHOOL_TEXT,
        school.ADDRESS_PRO,
        school.ADDRESS_CITY,
        school.ADDRESS_COUNTRY,
        school.ADDRESS,
        school.ORG_CODE,
        school.STATUS,
        school.CREATER,
        school.itemCreateAt,
        school.UPDATER,
        school.itemUpdateAt
    </sql>
    <sql id="hospital">
        hospital.itemID,
        hospital.itemCode,
        hospital.HOSPITAL_NAME,
        hospital.HOSPITAL_LEVEL,
        hospital.HOSPITAL_BRIEF_INTRODUCE,
        hospital.HOSPITAL_KEY_SPECIALTY,
        hospital.HOSPITAL_INTRODUCE,
        hospital.HOSPITAL_TELEPHONE,
        hospital.HOSPITAL_ADDRESS_PRO,
        hospital.HOSPITAL_ADDRESS_CITY,
        hospital.HOSPITAL_ADDRESS_COUNTRY,
        hospital.HOSPITAL_ADDRESS,
        hospital.HOSPITAL_LINK,
        hospital.REASON,
        hospital.HOSPITAL_STATUS,
        hospital.CREATER,
        hospital.itemCreateAt,
        hospital.UPDATER,
        hospital.itemUpdateAt,
        hospital.ORG_CODE
    </sql>

    <select id="getAllChiMed" resultMap="com.zyyglxt.dao.IndustrialDevelopChiMedMapper.BaseResultMap">
        select
        <include refid="chimed"/>
        from tb_industrial_develop_chi_med cm
        order by itemUpdateAt desc
    </select>
    <select id="getAllTecOrg" resultMap="com.zyyglxt.dao.IndustrialDevelopTecSerOrgMapper.BaseResultMap">
        select
        <include refid="tecorg"/>
        from tb_industrial_develop_tec_ser_org tecorg
        order by itemUpdateAt desc
    </select>
    <select id="getAllSchool" resultMap="com.zyyglxt.dao.IndustrialDevelopSchoolMapper.BaseResultMap">
        select
        <include refid="school"/>
        from tb_industrial_develop_school school
        order by itemUpdateAt desc
    </select>
    <select id="getAllHospital" resultMap="com.zyyglxt.dao.HospDOMapper.BaseResultMap">
        select
        <include refid="hospital"/>
        from tb_culpro_hosp hospital
        where ORG_CODE != 0
        order by itemUpdateAt desc
    </select>
    <select id="getAllChiMedByType" resultMap="com.zyyglxt.dao.IndustrialDevelopChiMedMapper.BaseResultMap">
        select
        <include refid="chimed"/>
        from tb_industrial_develop_chi_med cm
        where TYPE = #{type}
        order by itemUpdateAt desc
    </select>
    <select id="getAllTecOrgByType" resultMap="com.zyyglxt.dao.IndustrialDevelopTecSerOrgMapper.BaseResultMap">
        select
        <include refid="tecorg"/>
        from tb_industrial_develop_tec_ser_org tecorg
        where TYPE = #{type}
        order by itemUpdateAt desc
    </select>
    <select id="getDetailChiMed" resultMap="ChiMedResultMap">
        select
        <include refid="chimed"/>,
        tcf.FILE_PATH
        from tb_industrial_develop_chi_med cm left join tb_culpro_file tcf on cm.itemCode = tcf.DATA_CODE
                where cm.itemCode = #{itemcode}
        <if test="itemid != null">
            and cm.itemID = #{itemid}
        </if>
        limit 1
    </select>
    <select id="getDetailTecSerOrg" resultMap="TecSerOrgResultMap">
        select
        <include refid="tecorg"/>,
        tcf.FILE_PATH
        from tb_industrial_develop_tec_ser_org tecorg left join tb_culpro_file tcf on tecorg.itemCode = tcf.DATA_CODE
                where tecorg.itemCode = #{itemcode}
        <if test="itemid != null">
            and tecorg.itemID = #{itemid}
        </if>
        limit 1
    </select>
    <select id="getDetailSchool" resultMap="SchoolResultMap">
        select
        <include refid="school"/>,
        tcf.FILE_PATH
        from tb_industrial_develop_school school left join tb_culpro_file tcf on school.itemCode = tcf.DATA_CODE
                where school.itemCode = #{itemcode}
        <if test="itemid != null">
            and school.itemID = #{itemid}
        </if>
        limit 1
    </select>
    <select id="getDetailHospital" resultMap="HospitalResultMap">
        select
        <include refid="hospital"/>,
        tcf.FILE_PATH
        from tb_culpro_hosp hospital left join tb_culpro_file tcf on hospital.itemCode = tcf.DATA_CODE
                where hospital.itemCode = #{itemcode}
        <if test="itemid != null">
            and hospital.itemID = #{itemid}
        </if>
        limit 1
    </select>
    <update id="changeChiMedStatus">
        update tb_industrial_develop_chi_med
                set STATUS  = #{status},
                    UPDATER = #{updater}
        <if test="reason != null and reason != ''">
            ,
                    REASON = #{reason}
        </if>
        where itemCode = #{itemcode}
        <if test="itemid != null and itemid != ''">
            and itemID = #{itemid}
        </if>
    </update>
    <update id="changeTecSerOrgStatus">
        update tb_industrial_develop_tec_ser_org
                set STATUS  = #{status},
                    UPDATER = #{updater}
        <if test="reason != null and reason != ''">
            ,
                    REASON = #{reason}
        </if>
        where itemCode = #{itemcode}
        <if test="itemid != null and itemid != ''">
            and itemID = #{itemid}
        </if>
    </update>
    <update id="changeHospitalStatus">
        update tb_culpro_hosp
        set HOSPITAL_STATUS = #{status,jdbcType=VARCHAR},
            UPDATER         = #{updater}
                where itemCode = #{itemcode}
        <if test="itemid != null and itemid != ''">
            and itemID = #{itemid}
        </if>
    </update>
    <update id="changeSchoolStatus">
        update tb_industrial_develop_school
        set STATUS  = #{status,jdbcType=VARCHAR},
            UPDATER = #{updater}
                where itemCode = #{itemcode}
        <if test="itemid != null and itemid != ''">
            and itemID = #{itemid}
        </if>
    </update>
    <select id="getAllChiMedByCity" resultMap="com.zyyglxt.dao.IndustrialDevelopChiMedMapper.BaseResultMap">
        select
        <include refid="chimed"/>
        from tb_industrial_develop_chi_med cm
        where ADDRESS_CITY = #{city,jdbcType=VARCHAR}
        order by itemUpdateAt desc
    </select>
    <select id="getAllTecOrgByCity" resultMap="com.zyyglxt.dao.IndustrialDevelopTecSerOrgMapper.BaseResultMap">
        select
        <include refid="tecorg"/>
        from tb_industrial_develop_tec_ser_org tecorg
        where ADDRESS_CITY = #{city,jdbcType=VARCHAR}
        order by itemUpdateAt desc
    </select>
    <select id="getAllSchoolByCity" resultMap="com.zyyglxt.dao.IndustrialDevelopSchoolMapper.BaseResultMap">
        select
        <include refid="school"/>
        from tb_industrial_develop_school school
        where ADDRESS_CITY = #{city,jdbcType=VARCHAR}
        order by itemUpdateAt desc
    </select>
    <select id="getAllHospitalByCity" resultMap="com.zyyglxt.dao.HospDOMapper.BaseResultMap">
        select
        <include refid="hospital"/>
        from tb_culpro_hosp hospital
        where ORG_CODE != 0
          and HOSPITAL_ADDRESS_CITY = #{city,jdbcType=VARCHAR}
        order by itemUpdateAt desc
    </select>
    <update id="changeUserStatus">
        update organization
        set AUDIT_STATUS = '1'
        where ORG_CODE = #{orgCode,jdbcType=VARCHAR};
    </update>
</mapper>