<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.ChineseMedicineDOMapper">
    <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.ChineseMedicineDO">
        <id column="itemID" jdbcType="INTEGER" property="itemid"/>
        <id column="itemCode" jdbcType="CHAR" property="itemcode"/>
        <result column="CHINESE_MEDICINE_NAME" jdbcType="VARCHAR" property="chineseMedicineName"/>
        <result column="CHINESE_MEDICINE_TYPE" jdbcType="VARCHAR" property="chineseMedicineType"/>
        <result column="CHINESE_MEDICINE_TITLE" jdbcType="VARCHAR" property="chineseMedicineTitle"/>
        <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode"/>
        <result column="HOSP_CODE" jdbcType="VARCHAR" property="hospCode"/>
        <result column="VISIT_TIME" jdbcType="VARCHAR" property="visitTime"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="EXPERT_BRIEF_INTRODUCE" jdbcType="VARCHAR" property="expertBriefIntroduce"/>
        <result column="MAIN_VISIT" jdbcType="VARCHAR" property="mainVisit"/>
        <result column="CHINESE_MEDICINE_STATUS" jdbcType="VARCHAR" property="chineseMedicineStatus"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zyyglxt.dataobject.ChineseMedicineDOWithBLOBs">
        <result column="EXPERT_INTRODUCE" jdbcType="LONGVARCHAR" property="expertIntroduce"/>
        <result column="MEDICINE_RECORDS" jdbcType="LONGVARCHAR" property="medicineRecords"/>
    </resultMap>
    <sql id="Base_Column_List">
        itemID, itemCode, CHINESE_MEDICINE_NAME, CHINESE_MEDICINE_TYPE, CHINESE_MEDICINE_TITLE,
        DEPT_CODE, HOSP_CODE, VISIT_TIME, PHONE, EXPERT_BRIEF_INTRODUCE, MAIN_VISIT, CHINESE_MEDICINE_STATUS, CREATER,
        itemCreateAt, UPDATER, itemUpdateAt
    </sql>
    <sql id="Blob_Column_List">
        EXPERT_INTRODUCE, MEDICINE_RECORDS
    </sql>
    <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.ChineseMedicineDOKey"
            resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_chinese_medicine
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
        order by itemUpdateAt desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.ChineseMedicineDOKey">
        delete from tb_culpro_chinese_medicine
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="com.zyyglxt.dataobject.ChineseMedicineDOWithBLOBs">
        insert into tb_culpro_chinese_medicine (itemID, itemCode,
        CHINESE_MEDICINE_NAME,
        CHINESE_MEDICINE_TYPE,
        CHINESE_MEDICINE_TITLE,
        DEPT_CODE,
        HOSP_CODE,
        VISIT_TIME,
        PHONE,
        EXPERT_BRIEF_INTRODUCE,
        MAIN_VISIT,
        CHINESE_MEDICINE_STATUS,
        CREATER,
        itemCreateAt,
        UPDATER,
        itemUpdateAt,
        EXPERT_INTRODUCE,
        MEDICINE_RECORDS
        )
        values (#{itemid,jdbcType=INTEGER},
        #{itemcode,jdbcType=CHAR},
        #{chineseMedicineName,jdbcType=VARCHAR},
        #{chineseMedicineType,jdbcType=VARCHAR},
        #{chineseMedicineTitle,jdbcType=VARCHAR},
        #{deptCode,jdbcType=VARCHAR},
        #{hospCode,jdbcType=VARCHAR},
        #{visitTime,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR},
        #{expertBriefIntroduce,jdbcType=VARCHAR},
        #{mainVisit,jdbcType=VARCHAR},
        #{chineseMedicineStatus,jdbcType=VARCHAR},
        #{creater,jdbcType=VARCHAR},
        #{itemcreateat,jdbcType=TIMESTAMP},
        #{updater,jdbcType=VARCHAR},
        #{itemupdateat,jdbcType=TIMESTAMP},
        #{expertIntroduce,jdbcType=LONGVARCHAR},
        #{medicineRecords,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.ChineseMedicineDOWithBLOBs">
        insert into tb_culpro_chinese_medicine
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemid != null">
                itemID,
            </if>
            <if test="itemcode != null">
                itemCode,
            </if>
            <if test="chineseMedicineName != null">
                CHINESE_MEDICINE_NAME,
            </if>
            <if test="chineseMedicineType != null">
                CHINESE_MEDICINE_TYPE,
            </if>
            <if test="chineseMedicineTitle != null">
                CHINESE_MEDICINE_TITLE,
            </if>
            <if test="deptCode != null">
                DEPT_CODE,
            </if>
            <if test="hospCode != null">
                HOSP_CODE,
            </if>
            <if test="visitTime != null">
                VISIT_TIME,
            </if>
            <if test="phone != null">
                PHONE,
            </if>
            <if test="expertBriefIntroduce != null">
                EXPERT_BRIEF_INTRODUCE,
            </if>
            <if test="mainVisit != null">
                MAIN_VISIT,
            </if>
            <if test="chineseMedicineStatus != null">
                CHINESE_MEDICINE_STATUS,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="itemcreateat != null">
                itemCreateAt,
            </if>
            <if test="updater != null">
                UPDATER,
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt,
            </if>
            <if test="expertIntroduce != null">
                EXPERT_INTRODUCE,
            </if>
            <if test="medicineRecords != null">
                MEDICINE_RECORDS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemid != null">
                #{itemid,jdbcType=INTEGER},
            </if>
            <if test="itemcode != null">
                #{itemcode,jdbcType=CHAR},
            </if>
            <if test="chineseMedicineName != null">
                #{chineseMedicineName,jdbcType=VARCHAR},
            </if>
            <if test="chineseMedicineType != null">
                #{chineseMedicineType,jdbcType=VARCHAR},
            </if>
            <if test="chineseMedicineTitle != null">
                #{chineseMedicineTitle,jdbcType=VARCHAR},
            </if>
            <if test="deptCode != null">
                #{deptCode,jdbcType=VARCHAR},
            </if>
            <if test="hospCode != null">
                #{hospCode,jdbcType=VARCHAR},
            </if>
            <if test="visitTime != null">
                #{visitTime,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="expertBriefIntroduce != null">
                #{expertBriefIntroduce,jdbcType=VARCHAR},
            </if>
            <if test="mainVisit != null">
                #{mainVisit,jdbcType=VARCHAR},
            </if>
            <if test="chineseMedicineStatus != null">
                #{chineseMedicineStatus,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
            <if test="expertIntroduce != null">
                #{expertIntroduce,jdbcType=LONGVARCHAR},
            </if>
            <if test="medicineRecords != null">
                #{medicineRecords,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.ChineseMedicineDO">
        update tb_culpro_chinese_medicine
        <set>
            <if test="chineseMedicineName != null">
                CHINESE_MEDICINE_NAME = #{chineseMedicineName,jdbcType=VARCHAR},
            </if>
            <if test="chineseMedicineType != null">
                CHINESE_MEDICINE_TYPE = #{chineseMedicineType,jdbcType=VARCHAR},
            </if>
            <if test="chineseMedicineTitle != null">
                CHINESE_MEDICINE_TITLE = #{chineseMedicineTitle,jdbcType=VARCHAR},
            </if>
            <if test="deptCode != null">
                DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
            </if>
            <if test="hospCode != null">
                HOSP_CODE = #{hospCode,jdbcType=VARCHAR},
            </if>
            <if test="visitTime != null">
                VISIT_TIME = #{visitTime,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                PHONE = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="expertBriefIntroduce != null">
                EXPERT_BRIEF_INTRODUCE = #{expertBriefIntroduce,jdbcType=VARCHAR},
            </if>
            <if test="mainVisit != null">
                MAIN_VISIT = #{mainVisit,jdbcType=VARCHAR},
            </if>
            <if test="chineseMedicineStatus != null">
                CHINESE_MEDICINE_STATUS = #{chineseMedicineStatus,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                UPDATER = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
            <if test="expertIntroduce != null">
                EXPERT_INTRODUCE = #{expertIntroduce,jdbcType=LONGVARCHAR},
            </if>
            <if test="medicineRecords != null">
                MEDICINE_RECORDS = #{medicineRecords,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zyyglxt.dataobject.ChineseMedicineDOWithBLOBs">
        update tb_culpro_chinese_medicine
        set CHINESE_MEDICINE_NAME = #{chineseMedicineName,jdbcType=VARCHAR},
        CHINESE_MEDICINE_TYPE = #{chineseMedicineType,jdbcType=VARCHAR},
        CHINESE_MEDICINE_TITLE = #{chineseMedicineTitle,jdbcType=VARCHAR},
        DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
        HOSP_CODE = #{hospCode,jdbcType=VARCHAR},
        VISIT_TIME = #{visitTime,jdbcType=VARCHAR},
        PHONE = #{phone,jdbcType=VARCHAR},
        EXPERT_BRIEF_INTRODUCE = #{expertBriefIntroduce,jdbcType=VARCHAR},
        MAIN_VISIT = #{mainVisit,jdbcType=VARCHAR},
        CHINESE_MEDICINE_STATUS = #{chineseMedicineStatus,jdbcType=VARCHAR},
        CREATER = #{creater,jdbcType=VARCHAR},
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
        UPDATER = #{updater,jdbcType=VARCHAR},
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
        EXPERT_INTRODUCE = #{expertIntroduce,jdbcType=LONGVARCHAR},
        MEDICINE_RECORDS = #{medicineRecords,jdbcType=LONGVARCHAR}
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.ChineseMedicineDO">
        update tb_culpro_chinese_medicine
        set CHINESE_MEDICINE_NAME = #{chineseMedicineName,jdbcType=VARCHAR},
        CHINESE_MEDICINE_TYPE = #{chineseMedicineType,jdbcType=VARCHAR},
        CHINESE_MEDICINE_TITLE = #{chineseMedicineTitle,jdbcType=VARCHAR},
        DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
        HOSP_CODE = #{hospCode,jdbcType=VARCHAR},
        VISIT_TIME = #{visitTime,jdbcType=VARCHAR},
        PHONE = #{phone,jdbcType=VARCHAR},
        EXPERT_BRIEF_INTRODUCE = #{expertBriefIntroduce,jdbcType=VARCHAR},
        MAIN_VISIT = #{mainVisit,jdbcType=VARCHAR},
        CHINESE_MEDICINE_STATUS = #{chineseMedicineStatus,jdbcType=VARCHAR},
        CREATER = #{creater,jdbcType=VARCHAR},
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
        UPDATER = #{updater,jdbcType=VARCHAR},
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>


    <select id="selectAllChineseMedicine" resultMap="ResultMapWithBLOBs">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        FROM tb_culpro_chinese_medicine
        order by itemUpdateAt desc
    </select>

    <select id="searchChineseMedicine" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_chinese_medicine
        WHERE CHINESE_MEDICINE_NAME LIKE "%"#{value}"%"
        OR CHINESE_MEDICINE_TYPE LIKE "%"#{value}"%"
        OR CHINESE_MEDICINE_TITLE LIKE "%"#{value}"%"
        OR MAIN_VISIT LIKE "%"#{value}"%"
        OR DEPT_CODE IN (select itemCode
                         from tb_culpro_specialty
                         WHERE SPECIALTY_NAME LIKE "%"#{value}"%")
        OR HOSP_CODE IN (select itemCode
                         from tb_culpro_hosp
                         WHERE HOSPITAL_NAME LIKE "%"#{value}"%")
        order by itemUpdateAt desc
    </select>

    <select id="top5ChineseMedicine" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_chinese_medicine
        order by itemUpdateAt desc
        LIMIT 5
    </select>

    <select id="selectBySpecialtyCode" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_chinese_medicine
        WHERE DEPT_CODE = #{specialtyCode}
        order by itemUpdateAt desc
    </select>

    <select id="selectByStatus" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_chinese_medicine
        WHERE CHINESE_MEDICINE_STATUS = #{status}
        order by itemUpdateAt desc
    </select>

    <update id="updateStatusByPrimaryKey" parameterType="com.zyyglxt.dto.StatusDto">
        UPDATE tb_culpro_chinese_medicine
        SET CHINESE_MEDICINE_STATUS = #{status}, UPDATER = #{updater}
        WHERE itemID = #{itemid,jdbcType=INTEGER}
        AND itemCode = #{itemcode,jdbcType=CHAR}
    </update>

</mapper>