<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.CountersignDOMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.CountersignDO">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="RECEIVING_TITLE" jdbcType="VARCHAR" property="receivingTitle" />
    <result column="NUMBER" jdbcType="INTEGER" property="number" />
    <result column="GOV_PUNLIC" jdbcType="VARCHAR" property="govPunlic" />
    <result column="REASON" jdbcType="VARCHAR" property="reason" />
    <result column="FILE_NO" jdbcType="VARCHAR" property="fileNo" />
    <result column="CLASSIFICATION" jdbcType="VARCHAR" property="classification" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
  </resultMap>
  <sql id="Base_Column_List">
    itemID, itemCode, RECEIVING_TITLE, NUMBER, GOV_PUNLIC, REASON, FILE_NO, CLASSIFICATION, 
    STATUS, CREATER, itemCreateAt, UPDATER, itemUpdateAt
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.CountersignDOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_governres_countersign
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.CountersignDOKey">
    delete from tb_governres_countersign
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zyyglxt.dataobject.CountersignDO">
    insert into tb_governres_countersign (itemID, itemCode, RECEIVING_TITLE, 
      NUMBER, GOV_PUNLIC, REASON, 
      FILE_NO, CLASSIFICATION, STATUS, 
      CREATER, itemCreateAt, UPDATER, 
      itemUpdateAt)
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{receivingTitle,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{govPunlic,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{fileNo,jdbcType=VARCHAR}, #{classification,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{itemupdateat,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.CountersignDO">
    insert into tb_governres_countersign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="receivingTitle != null">
        RECEIVING_TITLE,
      </if>
      <if test="number != null">
        NUMBER,
      </if>
      <if test="govPunlic != null">
        GOV_PUNLIC,
      </if>
      <if test="reason != null">
        REASON,
      </if>
      <if test="fileNo != null">
        FILE_NO,
      </if>
      <if test="classification != null">
        CLASSIFICATION,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="receivingTitle != null">
        #{receivingTitle,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="govPunlic != null">
        #{govPunlic,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="fileNo != null">
        #{fileNo,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        #{classification,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.CountersignDO">
    update tb_governres_countersign
    <set>
      <if test="receivingTitle != null">
        RECEIVING_TITLE = #{receivingTitle,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        NUMBER = #{number,jdbcType=INTEGER},
      </if>
      <if test="govPunlic != null">
        GOV_PUNLIC = #{govPunlic,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        REASON = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="fileNo != null">
        FILE_NO = #{fileNo,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        CLASSIFICATION = #{classification,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.CountersignDO">
    update tb_governres_countersign
    set RECEIVING_TITLE = #{receivingTitle,jdbcType=VARCHAR},
      NUMBER = #{number,jdbcType=INTEGER},
      GOV_PUNLIC = #{govPunlic,jdbcType=VARCHAR},
      REASON = #{reason,jdbcType=VARCHAR},
      FILE_NO = #{fileNo,jdbcType=VARCHAR},
      CLASSIFICATION = #{classification,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
</mapper>