<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.CulturalResourcesDOMapper">
  <!--文化资源模块mapper-->
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.CulturalResourcesDO">

    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="CHINESE_CULTURAL_NAME" jdbcType="VARCHAR" property="chineseCulturalName" />
    <result column="CHINESE_CULTURAL_SOURCE" jdbcType="VARCHAR" property="chineseCulturalSource" />
    <result column="CHINESE_CULTURAL_AUTHOR" jdbcType="VARCHAR" property="chineseCulturalAuthor" />
    <result column="VISIT_NUM" jdbcType="INTEGER" property="visitNum" />
    <result column="CHINESE_CULTURAL_TYPE" jdbcType="VARCHAR" property="chineseCulturalType" />
    <result column="CHINESE_CULTURAL_STATUS" jdbcType="VARCHAR" property="chineseCulturalStatus" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zyyglxt.dataobject.CulturalResourcesDO">

    <result column="CHINESE_CULTURAL_CONTENT" jdbcType="LONGVARCHAR" property="chineseCulturalContent" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBsAndFile" type="com.zyyglxt.dto.CulturalResourcesDto">
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath"/>
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
    <result column="CHINESE_CULTURAL_CONTENT" jdbcType="LONGVARCHAR" property="chineseCulturalContent" />
  </resultMap>
  <sql id="Base_Column_List">
    itemID, itemCode, CHINESE_CULTURAL_NAME, CHINESE_CULTURAL_SOURCE, CHINESE_CULTURAL_AUTHOR, 
    VISIT_NUM, CHINESE_CULTURAL_TYPE, CHINESE_CULTURAL_STATUS, CREATER, itemCreateAt, 
    UPDATER, itemUpdateAt
  </sql>
  <sql id="Blob_Column_List">

    CHINESE_CULTURAL_CONTENT
  </sql>
  <sql id="SelectAll_Column_List">
    cr.itemID, cr.itemCode, cr.CHINESE_CULTURAL_NAME, cr.CHINESE_CULTURAL_SOURCE, cr.CHINESE_CULTURAL_AUTHOR,
    cr.VISIT_NUM, cr.CHINESE_CULTURAL_TYPE, cr.CHINESE_CULTURAL_STATUS, cr.CREATER, cr.itemCreateAt,
    cr.UPDATER, cr.itemUpdateAt
  </sql>
  <sql id="SelectAllBlob_Column_List">
    cr.CHINESE_CULTURAL_CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs">

    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_culpro_cultural_resources
    where itemID = #{key.itemid,jdbcType=INTEGER}
      and itemCode = #{key.itemcode,jdbcType=CHAR}
      and CHINESE_CULTURAL_TYPE = #{chineseCulturalType}
    order by itemUpdateAt desc
  </select>
  <!--<select id="selectCulturalResourcesList" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">-->

    <!--select-->
    <!--<include refid="Base_Column_List" />-->
    <!--,-->
    <!--<include refid="Blob_Column_List" />-->
    <!--from tb_culpro_cultural_resources-->
    <!--where CHINESE_CULTURAL_TYPE = #{type}-->
    <!--and CHINESE_CULTURAL_STATUS = #{status}-->
    <!--order by itemUpdateAt desc-->
  <!--</select>-->
  <select id="selectCulturalResourcesList"  resultMap="ResultMapWithBLOBsAndFile">
    select
    <include refid="SelectAll_Column_List" />
    ,
    <include refid="SelectAllBlob_Column_List" />
    ,
    cf.FILE_PATH,
    cf.FILE_NAME
    from tb_culpro_cultural_resources cr left join tb_culpro_file cf
    on cr.itemCode = cf.DATA_CODE
    where CHINESE_CULTURAL_TYPE = #{type}
    <if test="status == 3">
      and CHINESE_CULTURAL_STATUS in (2,4,5)
    </if>
    <if test="status == 2">
      and CHINESE_CULTURAL_STATUS in (1,2,3,5)
    </if>
    <if test="status == 1">
      and CHINESE_CULTURAL_STATUS between 0 and 7
    </if>
    order by cr.itemUpdateAt desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.CulturalResourcesDOKey">

    delete from tb_culpro_cultural_resources
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zyyglxt.dataobject.CulturalResourcesDO">

    insert into tb_culpro_cultural_resources (itemID, itemCode, CHINESE_CULTURAL_NAME, 
      CHINESE_CULTURAL_SOURCE, CHINESE_CULTURAL_AUTHOR, 
      VISIT_NUM, CHINESE_CULTURAL_TYPE, CHINESE_CULTURAL_STATUS, 
      CREATER, itemCreateAt, UPDATER, 
      itemUpdateAt, CHINESE_CULTURAL_CONTENT
      )
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{chineseCulturalName,jdbcType=VARCHAR}, 
      #{chineseCulturalSource,jdbcType=VARCHAR}, #{chineseCulturalAuthor,jdbcType=VARCHAR}, 
      #{visitNum,jdbcType=INTEGER}, #{chineseCulturalType,jdbcType=VARCHAR}, #{chineseCulturalStatus,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{itemupdateat,jdbcType=TIMESTAMP}, #{chineseCulturalContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.CulturalResourcesDO">

    insert into tb_culpro_cultural_resources
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="chineseCulturalName != null">
        CHINESE_CULTURAL_NAME,
      </if>
      <if test="chineseCulturalSource != null">
        CHINESE_CULTURAL_SOURCE,
      </if>
      <if test="chineseCulturalAuthor != null">
        CHINESE_CULTURAL_AUTHOR,
      </if>
      <if test="visitNum != null">
        VISIT_NUM,
      </if>
      <if test="chineseCulturalType != null">
        CHINESE_CULTURAL_TYPE,
      </if>
      <if test="chineseCulturalStatus != null">
        CHINESE_CULTURAL_STATUS,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
      <if test="chineseCulturalContent != null">
        CHINESE_CULTURAL_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="chineseCulturalName != null">
        #{chineseCulturalName,jdbcType=VARCHAR},
      </if>
      <if test="chineseCulturalSource != null">
        #{chineseCulturalSource,jdbcType=VARCHAR},
      </if>
      <if test="chineseCulturalAuthor != null">
        #{chineseCulturalAuthor,jdbcType=VARCHAR},
      </if>
      <if test="visitNum != null">
        #{visitNum,jdbcType=INTEGER},
      </if>
      <if test="chineseCulturalType != null">
        #{chineseCulturalType,jdbcType=VARCHAR},
      </if>
      <if test="chineseCulturalStatus != null">
        #{chineseCulturalStatus,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="chineseCulturalContent != null">
        #{chineseCulturalContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.CulturalResourcesDO">

    update tb_culpro_cultural_resources
    <set>
      <if test="chineseCulturalName != null">
        CHINESE_CULTURAL_NAME = #{chineseCulturalName,jdbcType=VARCHAR},
      </if>
      <if test="chineseCulturalSource != null">
        CHINESE_CULTURAL_SOURCE = #{chineseCulturalSource,jdbcType=VARCHAR},
      </if>
      <if test="chineseCulturalAuthor != null">
        CHINESE_CULTURAL_AUTHOR = #{chineseCulturalAuthor,jdbcType=VARCHAR},
      </if>
      <if test="visitNum != null">
        VISIT_NUM = #{visitNum,jdbcType=INTEGER},
      </if>
      <if test="chineseCulturalType != null">
        CHINESE_CULTURAL_TYPE = #{chineseCulturalType,jdbcType=VARCHAR},
      </if>
      <if test="chineseCulturalStatus != null">
        CHINESE_CULTURAL_STATUS = #{chineseCulturalStatus,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="chineseCulturalContent != null">
        CHINESE_CULTURAL_CONTENT = #{chineseCulturalContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="changeStatusByPrimaryKeySelective">

    update tb_culpro_cultural_resources
    <set>
      <if test="status != null">
        CHINESE_CULTURAL_STATUS = #{status,jdbcType=VARCHAR}
      </if>
    </set>
    where itemID = #{key.itemid,jdbcType=INTEGER}
    and itemCode = #{key.itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zyyglxt.dataobject.CulturalResourcesDO">

    update tb_culpro_cultural_resources
    set CHINESE_CULTURAL_NAME = #{chineseCulturalName,jdbcType=VARCHAR},
      CHINESE_CULTURAL_SOURCE = #{chineseCulturalSource,jdbcType=VARCHAR},
      CHINESE_CULTURAL_AUTHOR = #{chineseCulturalAuthor,jdbcType=VARCHAR},
      VISIT_NUM = #{visitNum,jdbcType=INTEGER},
      CHINESE_CULTURAL_TYPE = #{chineseCulturalType,jdbcType=VARCHAR},
      CHINESE_CULTURAL_STATUS = #{chineseCulturalStatus,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      CHINESE_CULTURAL_CONTENT = #{chineseCulturalContent,jdbcType=LONGVARCHAR}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.CulturalResourcesDO">

    update tb_culpro_cultural_resources
    set CHINESE_CULTURAL_NAME = #{chineseCulturalName,jdbcType=VARCHAR},
      CHINESE_CULTURAL_SOURCE = #{chineseCulturalSource,jdbcType=VARCHAR},
      CHINESE_CULTURAL_AUTHOR = #{chineseCulturalAuthor,jdbcType=VARCHAR},
      VISIT_NUM = #{visitNum,jdbcType=INTEGER},
      CHINESE_CULTURAL_TYPE = #{chineseCulturalType,jdbcType=VARCHAR},
      CHINESE_CULTURAL_STATUS = #{chineseCulturalStatus,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
</mapper>