<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.DataDOMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.DataDO">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="DATA_TITLE" jdbcType="VARCHAR" property="dataTitle" />
    <result column="DATA_LOCATION" jdbcType="VARCHAR" property="dataLocation" />
    <result column="DATA_AUTHOR" jdbcType="VARCHAR" property="dataAuthor" />
    <result column="DATA_SOURCE" jdbcType="VARCHAR" property="dataSource" />
    <result column="DATA_FILE_TYPE" jdbcType="VARCHAR" property="dataFileType" />
    <result column="DATA_DELAYED_RELEASE" jdbcType="TIMESTAMP" property="dataDelayedRelease" />
    <result column="DATA_STATUS" jdbcType="VARCHAR" property="dataStatus" />
    <result column="DATA_TYPE" jdbcType="VARCHAR" property="dataType" />
    <result column="VISIT_NUM" jdbcType="INTEGER" property="visitNum" />
    <result column="RELEASE_OR_NOT" jdbcType="VARCHAR" property="releaseOrNot" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zyyglxt.dataobject.DataDO">
    <result column="DATA_CONTENT" jdbcType="LONGVARCHAR" property="dataContent" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBsAndFile" type="com.zyyglxt.dto.DataDto">
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath"/>
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
    <result column="DATA_CONTENT" jdbcType="LONGVARCHAR" property="dataContent" />
  </resultMap>
  <resultMap id="MainPageResultMap" type="com.zyyglxt.dto.MainPageDto">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="DATA_TITLE" jdbcType="VARCHAR" property="dataTitle" />
  </resultMap>
  <sql id="Base_Column_List">
    itemID, itemCode, DATA_TITLE, DATA_LOCATION, DATA_AUTHOR, DATA_SOURCE, DATA_FILE_TYPE, 
    DATA_DELAYED_RELEASE, DATA_STATUS, DATA_TYPE, RELEASE_OR_NOT, CREATER, itemCreateAt, UPDATER, itemUpdateAt
  </sql>
  <sql id="Blob_Column_List">
    DATA_CONTENT
  </sql>
  <sql id="SelectAll_Column_List">
    cr.itemID, cr.itemCode, cr.DATA_TITLE, cr.DATA_LOCATION, cr.DATA_AUTHOR, cr.DATA_SOURCE, cr.DATA_FILE_TYPE,
    cr.DATA_DELAYED_RELEASE, cr.DATA_STATUS, cr.DATA_TYPE, cr.RELEASE_OR_NOT, cr.CREATER, cr.itemCreateAt, cr.UPDATER, cr.itemUpdateAt
  </sql>
  <sql id="SelectAllBlob_Column_List">
    cr.DATA_CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.DataDOKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_culpro_data
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
      and DATA_TYPE = #{dataType,jdbcType=VARCHAR}
    order by itemUpdateAt desc
  </select>
  <select id="selectOneData" parameterType="com.zyyglxt.dataobject.DataDOKey" resultMap="ResultMapWithBLOBsAndFile">
    select
    <include refid="SelectAll_Column_List" />
    ,
    <include refid="SelectAllBlob_Column_List" />
    ,
    cf.FILE_PATH,
    cf.FILE_NAME
    from tb_culpro_data cr left join tb_culpro_file cf
    on cr.itemCode = cf.DATA_CODE
    where cr.itemID = #{key.itemid,jdbcType=INTEGER}
    and cr.itemCode = #{key.itemcode,jdbcType=CHAR}
    and cr.DATA_TYPE = #{dataType,jdbcType=VARCHAR}
  </select>
  <select id="selectByAllData" resultMap="ResultMapWithBLOBsAndFile">
    select
    <include refid="SelectAll_Column_List" />
    ,
    <include refid="SelectAllBlob_Column_List" />
    ,
    cf.FILE_PATH,
    cf.FILE_NAME
    from tb_culpro_data cr left join tb_culpro_file cf
    on cr.itemCode = cf.DATA_CODE
    where DATA_TYPE = #{dataType,jdbcType=VARCHAR}
    and DATA_LOCATION = ""
    <if test="dataStatus == 3">
      and DATA_STATUS in (2,4,5,7)
    </if>
    <if test="dataStatus == 2">
      and DATA_STATUS in (1,2,3)
    </if>
    <if test="dataStatus == 1">
      and DATA_STATUS in (0,1,2,3,4,5,6,7)
    </if>
    order by cr.itemUpdateAt desc
  </select>
  <select id="getAllNewsRot" resultMap="ResultMapWithBLOBsAndFile">
    select
    <include refid="SelectAll_Column_List" />
    ,
    <include refid="SelectAllBlob_Column_List" />
    ,
    cf.FILE_PATH,
    cf.FILE_NAME
    from tb_culpro_data cr left join tb_culpro_file cf
    on cr.itemCode = cf.DATA_CODE
    where DATA_TYPE = #{dataType,jdbcType=VARCHAR}
    and DATA_LOCATION != ""
    <if test="dataStatus == 3">
      and DATA_STATUS in (2,4,5,7)
    </if>
    <if test="dataStatus == 2">
      and DATA_STATUS in (1,2,3)
    </if>
    <if test="dataStatus == 1">
      and DATA_STATUS in (0,1,2,3,4,5,6,7)
    </if>
    order by cr.itemUpdateAt desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.DataDOKey">
    delete from tb_culpro_data
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zyyglxt.dataobject.DataDO">
    insert into tb_culpro_data (itemID, itemCode, DATA_TITLE, 
      DATA_LOCATION, DATA_AUTHOR, DATA_SOURCE, 
      DATA_FILE_TYPE, DATA_DELAYED_RELEASE, DATA_STATUS, 
      DATA_TYPE, RELEASE_OR_NOT, CREATER, itemCreateAt,
      UPDATER, itemUpdateAt, DATA_CONTENT
      )
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{dataTitle,jdbcType=VARCHAR}, 
      #{dataLocation,jdbcType=VARCHAR}, #{dataAuthor,jdbcType=VARCHAR}, #{dataSource,jdbcType=VARCHAR}, 
      #{dataFileType,jdbcType=VARCHAR}, #{dataDelayedRelease,jdbcType=TIMESTAMP}, #{dataStatus,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=VARCHAR}, #{releaseOrNot,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP},
      #{updater,jdbcType=VARCHAR}, #{itemupdateat,jdbcType=TIMESTAMP}, #{dataContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.DataDO">
    insert into tb_culpro_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="dataTitle != null">
        DATA_TITLE,
      </if>
      <if test="dataLocation != null">
        DATA_LOCATION,
      </if>
      <if test="dataAuthor != null">
        DATA_AUTHOR,
      </if>
      <if test="dataSource != null">
        DATA_SOURCE,
      </if>
      <if test="dataFileType != null">
        DATA_FILE_TYPE,
      </if>
      <if test="dataDelayedRelease != null">
        DATA_DELAYED_RELEASE,
      </if>
      <if test="dataStatus != null">
        DATA_STATUS,
      </if>
      <if test="dataType != null">
        DATA_TYPE,
      </if>
      <if test="releaseOrNot != null">
        RELEASE_OR_NOT,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
      <if test="dataContent != null">
        DATA_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="dataTitle != null">
        #{dataTitle,jdbcType=VARCHAR},
      </if>
      <if test="dataLocation != null">
        #{dataLocation,jdbcType=VARCHAR},
      </if>
      <if test="dataAuthor != null">
        #{dataAuthor,jdbcType=VARCHAR},
      </if>
      <if test="dataSource != null">
        #{dataSource,jdbcType=VARCHAR},
      </if>
      <if test="dataFileType != null">
        #{dataFileType,jdbcType=VARCHAR},
      </if>
      <if test="dataDelayedRelease != null">
        #{dataDelayedRelease,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null">
        #{dataStatus,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="releaseOrNot != null">
        #{releaseOrNot,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="dataContent != null">
        #{dataContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.DataDO">
    update tb_culpro_data
    <set>
      <if test="dataTitle != null">
        DATA_TITLE = #{dataTitle,jdbcType=VARCHAR},
      </if>
      <if test="dataLocation != null">
        DATA_LOCATION = #{dataLocation,jdbcType=VARCHAR},
      </if>
      <if test="dataAuthor != null">
        DATA_AUTHOR = #{dataAuthor,jdbcType=VARCHAR},
      </if>
      <if test="dataSource != null">
        DATA_SOURCE = #{dataSource,jdbcType=VARCHAR},
      </if>
      <if test="dataFileType != null">
        DATA_FILE_TYPE = #{dataFileType,jdbcType=VARCHAR},
      </if>
      <if test="dataDelayedRelease != null">
        DATA_DELAYED_RELEASE = #{dataDelayedRelease,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null">
        DATA_STATUS = #{dataStatus,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="releaseOrNot != null">
        RELEASE_OR_NOT = #{releaseOrNot,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="dataContent != null">
        DATA_CONTENT = #{dataContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="changeStatusByPrimaryKey" parameterType="com.zyyglxt.dataobject.DataDO">
        update tb_culpro_data
        <set>
            <if test="dataStatus != null">
                DATA_DELAYED_RELEASE = #{dataDelayedRelease,jdbcType=TIMESTAMP},
                DATA_STATUS = #{dataStatus,jdbcType=VARCHAR},
            </if>
        </set>
        where itemID = #{key.itemid,jdbcType=INTEGER}
        and itemCode = #{key.itemcode,jdbcType=CHAR}
    </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zyyglxt.dataobject.DataDO">

    update tb_culpro_data
    set DATA_TITLE = #{dataTitle,jdbcType=VARCHAR},
      DATA_LOCATION = #{dataLocation,jdbcType=VARCHAR},
      DATA_AUTHOR = #{dataAuthor,jdbcType=VARCHAR},
      DATA_SOURCE = #{dataSource,jdbcType=VARCHAR},
      DATA_FILE_TYPE = #{dataFileType,jdbcType=VARCHAR},
      DATA_DELAYED_RELEASE = #{dataDelayedRelease,jdbcType=TIMESTAMP},
      DATA_STATUS = #{dataStatus,jdbcType=VARCHAR},
      DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      RELEASE_OR_NOT = #{releaseOrNot,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      DATA_CONTENT = #{dataContent,jdbcType=LONGVARCHAR}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.DataDO">
    update tb_culpro_data
    set DATA_TITLE = #{dataTitle,jdbcType=VARCHAR},
      DATA_LOCATION = #{dataLocation,jdbcType=VARCHAR},
      DATA_AUTHOR = #{dataAuthor,jdbcType=VARCHAR},
      DATA_SOURCE = #{dataSource,jdbcType=VARCHAR},
      DATA_FILE_TYPE = #{dataFileType,jdbcType=VARCHAR},
      DATA_DELAYED_RELEASE = #{dataDelayedRelease,jdbcType=TIMESTAMP},
      DATA_STATUS = #{dataStatus,jdbcType=VARCHAR},
      DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      RELEASE_OR_NOT = #{releaseOrNot,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    FROM tb_culpro_data
    order by itemUpdateAt desc
  </select>

  <select id="selectAllForMainPage" resultMap="MainPageResultMap">
    select
      a.DATA_TITLE, a.itemID, a.itemCode
    from
      tb_culpro_data a inner join
        (select itemID from tb_culpro_data where DATA_TYPE = #{dataType,jdbcType=VARCHAR} and DATA_STATUS = 5 order by itemUpdateAt limit 0,5)
        b on a.itemID=b.itemID;
  </select>
</mapper>