<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.FamPreDOMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.FamPreDO">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="PRESCRIPTION" jdbcType="VARCHAR" property="prescription" />
    <result column="VISIT_NUM" jdbcType="INTEGER" property="visitNum" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zyyglxt.dataobject.FamPreDO">

    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">

    itemID, itemCode, NAME, SOURCE, PRESCRIPTION, VISIT_NUM, STATUS, TYPE, CREATER, itemCreateAt,
    UPDATER, itemUpdateAt
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  <!--<select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.FamPreDOKey" resultMap="ResultMapWithBLOBs">

    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_culpro_fam_pre
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
    order by itemUpdateAt desc
  </select>-->
  <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.FamPreDOKey">

    delete from tb_culpro_fam_pre
    where itemID = #{key.itemid,jdbcType=INTEGER}
      and itemCode = #{key.itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zyyglxt.dataobject.FamPreDO">

    insert into tb_culpro_fam_pre (itemID, itemCode, NAME, 
      SOURCE, PRESCRIPTION, VISIT_NUM, 
      STATUS, TYPE, CREATER, itemCreateAt,
      UPDATER, itemUpdateAt, CONTENT
      )
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{prescription,jdbcType=VARCHAR}, #{visitNum,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP},
      #{updater,jdbcType=VARCHAR}, #{itemupdateat,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.FamPreDO">
    insert into tb_culpro_fam_pre
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="prescription != null">
        PRESCRIPTION,
      </if>
      <if test="visitNum != null">
        VISIT_NUM,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="prescription != null">
        #{prescription,jdbcType=VARCHAR},
      </if>
      <if test="visitNum != null">
        #{visitNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.FamPreDO">

    update tb_culpro_fam_pre
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        SOURCE = #{source,jdbcType=VARCHAR},
      </if>
      <if test="prescription != null">
        PRESCRIPTION = #{prescription,jdbcType=VARCHAR},
      </if>
      <if test="visitNum != null">
        VISIT_NUM = #{visitNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zyyglxt.dataobject.FamPreDO">

    update tb_culpro_fam_pre
    set NAME = #{name,jdbcType=VARCHAR},
      SOURCE = #{source,jdbcType=VARCHAR},
      PRESCRIPTION = #{prescription,jdbcType=VARCHAR},
      VISIT_NUM = #{visitNum,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.FamPreDO">

    update tb_culpro_fam_pre
    set NAME = #{name,jdbcType=VARCHAR},
      SOURCE = #{source,jdbcType=VARCHAR},
      PRESCRIPTION = #{prescription,jdbcType=VARCHAR},
      VISIT_NUM = #{visitNum,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>

  <select id="selectAllFamPre" resultMap="ResultMapWithBLOBs">
        SELECT
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        ,
        FROM tb_culpro_fam_pre
        WHERE STATUS = #{status}
        <if test="status == 3">
          and STATUS in (2,5)
        </if>
        <if test="status == 2">
          and STATUS in (1,2,3)
        </if>
        <if test="status == 1">
          and STATUS in (0,1,2,3,4,6)
        </if>
        order by itemUpdateAt desc
    </select>


    <update id="updateVisitNumFamPre" parameterType="com.zyyglxt.dataobject.FamPreDOKey">
      update tb_culpro_fam_pre set VISIT_NUM = VISIT_NUM + 1 where itemID = #{itemid,jdbcType=INTEGER} and itemCode = #{itemcode,jdbcType=CHAR}
    </update>

  <select id="searchFamPre" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from tb_culpro_fam_pre
    WHERE NAME LIKE "%"#{name,jdbcType=VARCHAR}"%"
    or SOURCE LIKE "%"#{source,jdbcType=VARCHAR}"%"
    or PRESCRIPTION LIKE "%"#{source,jdbcType=VARCHAR}"%"
    or VISIT_NUM LIKE "%"#{visitNum,jdbcType=INTEGER}"%"
    or STATUS LIKE "%"#{status,jdbcType=VARCHAR}"%"
    or TYPE LIKE "%"#{type,jdbcType=VARCHAR}"%"
    or CREATER LIKE "%"#{creater,jdbcType=VARCHAR}"%"
    or UPDATER LIKE "%"#{updater,jdbcType=VARCHAR}"%"
    order by itemUpdateAt desc
  </select>

  <update id="changeStatusToFamPre">

    update tb_culpro_fam_pre
    <set>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR}
      </if>
    </set>
    where itemID = #{key.itemid,jdbcType=INTEGER}
    and itemCode = #{key.itemcode,jdbcType=CHAR}
  </update>

</mapper>