<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.FileDOMapper">
    <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.FileDO">
        <id column="itemID" jdbcType="INTEGER" property="itemid"/>
        <id column="itemCode" jdbcType="CHAR" property="itemcode"/>
        <result column="DATA_CODE" jdbcType="CHAR" property="dataCode"/>
        <result column="UPLOADER" jdbcType="VARCHAR" property="uploader"/>
        <result column="UPLOADER_CODE" jdbcType="CHAR" property="uploaderCode"/>
        <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
        <result column="FILE_TYPE" jdbcType="VARCHAR" property="fileType"/>
        <result column="FILE_SIZE" jdbcType="DOUBLE" property="fileSize"/>
        <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath"/>
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat"/>
    </resultMap>
    <sql id="Base_Column_List">
        itemID, itemCode, DATA_CODE, UPLOADER, UPLOADER_CODE, FILE_NAME, FILE_TYPE, FILE_SIZE,
        FILE_PATH, itemCreateAt
    </sql>
    <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.FileDOKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_culpro_file
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.FileDOKey">
        delete from tb_culpro_file
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="com.zyyglxt.dataobject.FileDO">
        insert into tb_culpro_file (itemID, itemCode, DATA_CODE,
        UPLOADER, UPLOADER_CODE, FILE_NAME,
        FILE_TYPE, FILE_SIZE, FILE_PATH,
        itemCreateAt)
        values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{dataCode,jdbcType=CHAR},
        #{uploader,jdbcType=VARCHAR}, #{uploaderCode,jdbcType=CHAR}, #{fileName,jdbcType=VARCHAR},
        #{fileType,jdbcType=VARCHAR}, #{fileSize,jdbcType=DOUBLE}, #{filePath,jdbcType=VARCHAR},
        #{itemcreateat,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.FileDO">
        insert into tb_culpro_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemid != null">
                itemID,
            </if>
            <if test="itemcode != null">
                itemCode,
            </if>
            <if test="dataCode != null">
                DATA_CODE,
            </if>
            <if test="uploader != null">
                UPLOADER,
            </if>
            <if test="uploaderCode != null">
                UPLOADER_CODE,
            </if>
            <if test="fileName != null">
                FILE_NAME,
            </if>
            <if test="fileType != null">
                FILE_TYPE,
            </if>
            <if test="fileSize != null">
                FILE_SIZE,
            </if>
            <if test="filePath != null">
                FILE_PATH,
            </if>
            <if test="itemcreateat != null">
                itemCreateAt,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemid != null">
                #{itemid,jdbcType=INTEGER},
            </if>
            <if test="itemcode != null">
                #{itemcode,jdbcType=CHAR},
            </if>
            <if test="dataCode != null">
                #{dataCode,jdbcType=CHAR},
            </if>
            <if test="uploader != null">
                #{uploader,jdbcType=VARCHAR},
            </if>
            <if test="uploaderCode != null">
                #{uploaderCode,jdbcType=CHAR},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=DOUBLE},
            </if>
            <if test="filePath != null">
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.FileDO">
        update tb_culpro_file
        <set>
            <if test="dataCode != null">
                DATA_CODE = #{dataCode,jdbcType=CHAR},
            </if>
            <if test="uploader != null">
                UPLOADER = #{uploader,jdbcType=VARCHAR},
            </if>
            <if test="uploaderCode != null">
                UPLOADER_CODE = #{uploaderCode,jdbcType=CHAR},
            </if>
            <if test="fileName != null">
                FILE_NAME = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                FILE_TYPE = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                FILE_SIZE = #{fileSize,jdbcType=DOUBLE},
            </if>
            <if test="filePath != null">
                FILE_PATH = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
        </set>
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.FileDO">
        update tb_culpro_file
        set DATA_CODE = #{dataCode,jdbcType=CHAR},
        UPLOADER = #{uploader,jdbcType=VARCHAR},
        UPLOADER_CODE = #{uploaderCode,jdbcType=CHAR},
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
        FILE_TYPE = #{fileType,jdbcType=VARCHAR},
        FILE_SIZE = #{fileSize,jdbcType=DOUBLE},
        FILE_PATH = #{filePath,jdbcType=VARCHAR},
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP}
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>


    <select id="selectAllFile" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_culpro_file
        ORDER BY itemCreateAt DESC
    </select>

    <select id="searchFile" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_culpro_file
        WHERE UPLOADER LIKE "%"#{value}"%"
        OR FILE_NAME LIKE "%"#{value}"%"
        OR FILE_TYPE LIKE "%"#{value}"%"
        ORDER BY itemCreateAt DESC
    </select>

    <select id="top5File" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_culpro_file
        ORDER BY itemCreateAt DESC
        LIMIT 5
    </select>

    <select id="selectFileByDataCode" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_culpro_file
        WHERE DATA_CODE = #{dataCode}
    </select>

    <delete id="deleteByDataCode">
        delete from tb_culpro_file
        where DATA_CODE = #{dataCode}
    </delete>

</mapper>