<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.HealthSciKnowDOMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.HealthSciKnowDO">

    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="SCIENCE_KNOWLEDGE_NAME" jdbcType="VARCHAR" property="scienceKnowledgeName" />
    <result column="SCIENCE_KNOWLEDGE_SOURCE" jdbcType="VARCHAR" property="scienceKnowledgeSource" />
    <result column="SCIENCE_KNOWLEDGE_AUTHOR" jdbcType="VARCHAR" property="scienceKnowledgeAuthor" />
    <result column="VISIT_NUM" jdbcType="INTEGER" property="visitNum" />
    <result column="SCIENCE_KNOWLEDGE_STATUS" jdbcType="VARCHAR" property="scienceKnowledgeStatus" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zyyglxt.dataobject.HealthSciKnowDO">

    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">

    itemID, itemCode, SCIENCE_KNOWLEDGE_NAME, SCIENCE_KNOWLEDGE_SOURCE, SCIENCE_KNOWLEDGE_AUTHOR, 
    VISIT_NUM, SCIENCE_KNOWLEDGE_STATUS, CREATER, itemCreateAt, UPDATER, itemUpdateAt
  </sql>
  <sql id="Blob_Column_List">

    CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.HealthSciKnowDOKey" resultMap="ResultMapWithBLOBs">

    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_health_care_sci_know
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
    order by itemUpdateAt desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.HealthSciKnowDOKey">

    delete from tb_health_care_sci_know
    where itemID = #{key.itemid,jdbcType=INTEGER}
      and itemCode = #{key.itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zyyglxt.dataobject.HealthSciKnowDO">

    insert into tb_health_care_sci_know (itemID, itemCode, SCIENCE_KNOWLEDGE_NAME, 
      SCIENCE_KNOWLEDGE_SOURCE, SCIENCE_KNOWLEDGE_AUTHOR, 
      VISIT_NUM, SCIENCE_KNOWLEDGE_STATUS, CREATER, 
      itemCreateAt, UPDATER, itemUpdateAt, 
      CONTENT)
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{scienceKnowledgeName,jdbcType=VARCHAR}, 
      #{scienceKnowledgeSource,jdbcType=VARCHAR}, #{scienceKnowledgeAuthor,jdbcType=VARCHAR}, 
      #{visitNum,jdbcType=INTEGER}, #{scienceKnowledgeStatus,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{itemcreateat,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{itemupdateat,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.HealthSciKnowDO">

    insert into tb_health_care_sci_know
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="scienceKnowledgeName != null">
        SCIENCE_KNOWLEDGE_NAME,
      </if>
      <if test="scienceKnowledgeSource != null">
        SCIENCE_KNOWLEDGE_SOURCE,
      </if>
      <if test="scienceKnowledgeAuthor != null">
        SCIENCE_KNOWLEDGE_AUTHOR,
      </if>
      <if test="visitNum != null">
        VISIT_NUM,
      </if>
      <if test="scienceKnowledgeStatus != null">
        SCIENCE_KNOWLEDGE_STATUS,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="scienceKnowledgeName != null">
        #{scienceKnowledgeName,jdbcType=VARCHAR},
      </if>
      <if test="scienceKnowledgeSource != null">
        #{scienceKnowledgeSource,jdbcType=VARCHAR},
      </if>
      <if test="scienceKnowledgeAuthor != null">
        #{scienceKnowledgeAuthor,jdbcType=VARCHAR},
      </if>
      <if test="visitNum != null">
        #{visitNum,jdbcType=INTEGER},
      </if>
      <if test="scienceKnowledgeStatus != null">
        #{scienceKnowledgeStatus,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.HealthSciKnowDO">

    update tb_health_care_sci_know
    <set>
      <if test="scienceKnowledgeName != null">
        SCIENCE_KNOWLEDGE_NAME = #{scienceKnowledgeName,jdbcType=VARCHAR},
      </if>
      <if test="scienceKnowledgeSource != null">
        SCIENCE_KNOWLEDGE_SOURCE = #{scienceKnowledgeSource,jdbcType=VARCHAR},
      </if>
      <if test="scienceKnowledgeAuthor != null">
        SCIENCE_KNOWLEDGE_AUTHOR = #{scienceKnowledgeAuthor,jdbcType=VARCHAR},
      </if>
      <if test="visitNum != null">
        VISIT_NUM = #{visitNum,jdbcType=INTEGER},
      </if>
      <if test="scienceKnowledgeStatus != null">
        SCIENCE_KNOWLEDGE_STATUS = #{scienceKnowledgeStatus,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zyyglxt.dataobject.HealthSciKnowDO">

    update tb_health_care_sci_know
    set SCIENCE_KNOWLEDGE_NAME = #{scienceKnowledgeName,jdbcType=VARCHAR},
      SCIENCE_KNOWLEDGE_SOURCE = #{scienceKnowledgeSource,jdbcType=VARCHAR},
      SCIENCE_KNOWLEDGE_AUTHOR = #{scienceKnowledgeAuthor,jdbcType=VARCHAR},
      VISIT_NUM = #{visitNum,jdbcType=INTEGER},
      SCIENCE_KNOWLEDGE_STATUS = #{scienceKnowledgeStatus,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.HealthSciKnowDO">

    update tb_health_care_sci_know
    set SCIENCE_KNOWLEDGE_NAME = #{scienceKnowledgeName,jdbcType=VARCHAR},
      SCIENCE_KNOWLEDGE_SOURCE = #{scienceKnowledgeSource,jdbcType=VARCHAR},
      SCIENCE_KNOWLEDGE_AUTHOR = #{scienceKnowledgeAuthor,jdbcType=VARCHAR},
      VISIT_NUM = #{visitNum,jdbcType=INTEGER},
      SCIENCE_KNOWLEDGE_STATUS = #{scienceKnowledgeStatus,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <select id="selectAllHealthSciKnow" resultMap="ResultMapWithBLOBs">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        FROM tb_health_care_sci_know
    <if test="scienceKnowledgeStatus == 3">
      where SCIENCE_KNOWLEDGE_STATUS in (2,4,5)
    </if>
    <if test="scienceKnowledgeStatus == 2">
      where SCIENCE_KNOWLEDGE_STATUS in (1,2,3,5)
    </if>
    <if test="scienceKnowledgeStatus == 1">
      where SCIENCE_KNOWLEDGE_STATUS in (0,1,2,3,4,5,6)
    </if>
    order by itemUpdateAt desc
    </select>
    <update id="updateVisitNumHealthSciKnow" parameterType="com.zyyglxt.dataobject.HealthSciKnowDOKey">
      update tb_health_care_sci_know set VISIT_NUM = VISIT_NUM + 1 where itemID = #{itemid,jdbcType=INTEGER} and itemCode = #{itemcode,jdbcType=CHAR}
    </update>

    <update id="changeStatusToSciKnow">
      update tb_health_care_sci_know
      <set>
        <if test="scienceKnowledgeStatus != null">
          SCIENCE_KNOWLEDGE_STATUS = #{scienceKnowledgeStatus,jdbcType=VARCHAR}
        </if>
      </set>
      where itemID = #{key.itemid,jdbcType=INTEGER}
      and itemCode = #{key.itemcode,jdbcType=CHAR}
    </update>
</mapper>