<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.HospSpecialtyRefDOMapper">
    <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.HospSpecialtyRefDO">
        <id column="itemID" jdbcType="INTEGER" property="itemid"/>
        <id column="itemCode" jdbcType="CHAR" property="itemcode"/>
        <result column="HOSPITAL_CODE" jdbcType="VARCHAR" property="hospitalCode"/>
        <result column="SPECIALTY_CODE" jdbcType="VARCHAR" property="specialtyCode"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat"/>
    </resultMap>
    <sql id="Base_Column_List">
    itemID, itemCode, HOSPITAL_CODE, SPECIALTY_CODE, CREATER, itemCreateAt, UPDATER, 
    itemUpdateAt
  </sql>
    <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.HospSpecialtyRefDOKey"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_culpro_hosp_specialty_ref
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.HospSpecialtyRefDOKey">
    delete from tb_culpro_hosp_specialty_ref
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
    <insert id="insert" parameterType="com.zyyglxt.dataobject.HospSpecialtyRefDO">
    insert into tb_culpro_hosp_specialty_ref (itemID, itemCode, HOSPITAL_CODE, 
      SPECIALTY_CODE, CREATER, itemCreateAt, 
      UPDATER, itemUpdateAt)
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{hospitalCode,jdbcType=VARCHAR}, 
      #{specialtyCode,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{itemupdateat,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.HospSpecialtyRefDO">
        insert into tb_culpro_hosp_specialty_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemid != null">
                itemID,
            </if>
            <if test="itemcode != null">
                itemCode,
            </if>
            <if test="hospitalCode != null">
                HOSPITAL_CODE,
            </if>
            <if test="specialtyCode != null">
                SPECIALTY_CODE,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="itemcreateat != null">
                itemCreateAt,
            </if>
            <if test="updater != null">
                UPDATER,
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemid != null">
                #{itemid,jdbcType=INTEGER},
            </if>
            <if test="itemcode != null">
                #{itemcode,jdbcType=CHAR},
            </if>
            <if test="hospitalCode != null">
                #{hospitalCode,jdbcType=VARCHAR},
            </if>
            <if test="specialtyCode != null">
                #{specialtyCode,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.HospSpecialtyRefDO">
        update tb_culpro_hosp_specialty_ref
        <set>
            <if test="hospitalCode != null">
                HOSPITAL_CODE = #{hospitalCode,jdbcType=VARCHAR},
            </if>
            <if test="specialtyCode != null">
                SPECIALTY_CODE = #{specialtyCode,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                UPDATER = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
        </set>
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.HospSpecialtyRefDO">
    update tb_culpro_hosp_specialty_ref
    set HOSPITAL_CODE = #{hospitalCode,jdbcType=VARCHAR},
      SPECIALTY_CODE = #{specialtyCode,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>

    <select id="selectHospBySpecialtyCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_culpro_hosp_specialty_ref
        where SPECIALTY_CODE = #{specialtyCode}
    </select>

    <delete id="deleteBySpecialtyCode">
        delete from tb_culpro_hosp_specialty_ref
        where SPECIALTY_CODE = #{specialtyCode}
    </delete>

    <select id="selectSpecialtyByHospCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_culpro_hosp_specialty_ref
        where HOSPITAL_CODE = #{hospCode}
    </select>

    <update id="updateBySpecialtyCodeSelective">
        update tb_culpro_hosp_specialty_ref
        <set>
            <if test="hospitalCode != null">
                HOSPITAL_CODE = #{hospitalCode,jdbcType=VARCHAR},
            </if>
            <if test="specialtyCode != null">
                SPECIALTY_CODE = #{specialtyCode,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                UPDATER = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
        </set>
        where SPECIALTY_CODE = #{specialtyCode}
    </update>

</mapper>