<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.HospDOMapper">
    <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.HospDO">
        <id column="itemID" jdbcType="INTEGER" property="itemid"/>
        <id column="itemCode" jdbcType="CHAR" property="itemcode"/>
        <result column="HOSPITAL_NAME" jdbcType="VARCHAR" property="hospitalName"/>
        <result column="HOSPITAL_LEVEL" jdbcType="VARCHAR" property="hospitalLevel"/>
        <result column="HOSPITAL_BRIEF_INTRODUCE" jdbcType="VARCHAR" property="hospitalBriefIntroduce"/>
        <result column="HOSPITAL_KEY_SPECIALTY" jdbcType="VARCHAR" property="hospitalKeySpecialty"/>
        <result column="HOSPITAL_TELEPHONE" jdbcType="VARCHAR" property="hospitalTelephone"/>
        <result column="HOSPITAL_ADDRESS_PRO" jdbcType="VARCHAR" property="hospitalAddressPro"/>
        <result column="HOSPITAL_ADDRESS_CITY" jdbcType="VARCHAR" property="hospitalAddressCity"/>
        <result column="HOSPITAL_ADDRESS_COUNTRY" jdbcType="VARCHAR" property="hospitalAddressCountry"/>
        <result column="HOSPITAL_ADDRESS" jdbcType="VARCHAR" property="hospitalAddress"/>
        <result column="HOSPITAL_LINK" jdbcType="VARCHAR" property="hospitalLink"/>
        <result column="REASON" jdbcType="VARCHAR" property="reason"/>
        <result column="HOSPITAL_STATUS" jdbcType="VARCHAR" property="hospitalStatus"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat"/>
        <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zyyglxt.dataobject.HospDO">
        <result column="HOSPITAL_INTRODUCE" jdbcType="LONGVARCHAR" property="hospitalIntroduce"/>
    </resultMap>
    <sql id="Base_Column_List">
        itemID, itemCode, HOSPITAL_NAME, HOSPITAL_LEVEL, HOSPITAL_BRIEF_INTRODUCE, HOSPITAL_KEY_SPECIALTY, HOSPITAL_TELEPHONE, HOSPITAL_ADDRESS_PRO,
        HOSPITAL_ADDRESS_CITY, HOSPITAL_ADDRESS_COUNTRY, HOSPITAL_ADDRESS, HOSPITAL_LINK, REASON,
        HOSPITAL_STATUS, CREATER, itemCreateAt, UPDATER, itemUpdateAt, ORG_CODE
    </sql>
    <sql id="Blob_Column_List">
        HOSPITAL_INTRODUCE
    </sql>
    <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.HospDOKey" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_hosp
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.HospDOKey">
        delete from tb_culpro_hosp
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="com.zyyglxt.dataobject.HospDO">
        insert into tb_culpro_hosp (itemID, itemCode,
        HOSPITAL_NAME,
        HOSPITAL_LEVEL,
        HOSPITAL_BRIEF_INTRODUCE,
        HOSPITAL_KEY_SPECIALTY,
        HOSPITAL_TELEPHONE,
        HOSPITAL_ADDRESS_PRO,
        HOSPITAL_ADDRESS_CITY,
        HOSPITAL_ADDRESS_COUNTRY,
        HOSPITAL_ADDRESS,
        HOSPITAL_LINK,
        REASON,
        HOSPITAL_STATUS,
        CREATER,
        itemCreateAt,
        UPDATER,
        itemUpdateAt,
        HOSPITAL_INTRODUCE)
        values (#{itemid,jdbcType=INTEGER},
        #{itemcode,jdbcType=CHAR},
        #{hospitalName,jdbcType=VARCHAR},
        #{hospitalLevel,jdbcType=VARCHAR},
        #{hospitalBriefIntroduce,jdbcType=VARCHAR},
        #{hospitalKeySpecialty,jdbcType=VARCHAR},
        #{hospitalTelephone,jdbcType=VARCHAR},
        #{hospitalAddressPro,jdbcType=VARCHAR},
        #{hospitalAddressCity,jdbcType=VARCHAR},
        #{hospitalAddressCountry,jdbcType=VARCHAR},
        #{hospitalAddress,jdbcType=VARCHAR},
        #{hospitalLink,jdbcType=VARCHAR},
        #{reason,jdbcType=VARCHAR},
        #{hospitalStatus,jdbcType=VARCHAR},
        #{creater,jdbcType=VARCHAR},
        #{itemcreateat,jdbcType=TIMESTAMP},
        #{updater,jdbcType=VARCHAR},
        #{itemupdateat,jdbcType=TIMESTAMP},
        #{hospitalIntroduce,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.HospDO">
        insert into tb_culpro_hosp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemid != null">
                itemID,
            </if>
            <if test="itemcode != null">
                itemCode,
            </if>
            <if test="hospitalName != null">
                HOSPITAL_NAME,
            </if>
            <if test="hospitalLevel != null">
                HOSPITAL_LEVEL,
            </if>
            <if test="hospitalBriefIntroduce != null">
                HOSPITAL_BRIEF_INTRODUCE,
            </if>
            <if test="hospitalKeySpecialty != null">
                HOSPITAL_KEY_SPECIALTY,
            </if>
            <if test="hospitalTelephone != null">
                HOSPITAL_TELEPHONE,
            </if>
            <if test="hospitalAddressPro != null">
                HOSPITAL_ADDRESS_PRO,
            </if>
            <if test="hospitalAddressCity != null">
                HOSPITAL_ADDRESS_CITY,
            </if>
            <if test="hospitalAddressCountry != null">
                HOSPITAL_ADDRESS_COUNTRY,
            </if>
            <if test="hospitalAddress != null">
                HOSPITAL_ADDRESS,
            </if>
            <if test="hospitalLink != null">
                HOSPITAL_LINK,
            </if>
            <if test="reason != null">
                REASON,
            </if>
            <if test="hospitalStatus != null">
                HOSPITAL_STATUS,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="itemcreateat != null">
                itemCreateAt,
            </if>
            <if test="updater != null">
                UPDATER,
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt,
            </if>
            <if test="hospitalIntroduce != null">
                HOSPITAL_INTRODUCE,
            </if>
            <if test="orgCode != null">
                ORG_CODE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemid != null">
                #{itemid,jdbcType=INTEGER},
            </if>
            <if test="itemcode != null">
                #{itemcode,jdbcType=CHAR},
            </if>
            <if test="hospitalName != null">
                #{hospitalName,jdbcType=VARCHAR},
            </if>
            <if test="hospitalLevel != null">
                #{hospitalLevel,jdbcType=VARCHAR},
            </if>
            <if test="hospitalBriefIntroduce != null">
                #{hospitalBriefIntroduce,jdbcType=VARCHAR},
            </if>
            <if test="hospitalKeySpecialty != null">
                #{hospitalKeySpecialty,jdbcType=VARCHAR},
            </if>
            <if test="hospitalTelephone != null">
                #{hospitalTelephone,jdbcType=VARCHAR},
            </if>
            <if test="hospitalAddressPro != null">
                #{hospitalAddressPro,jdbcType=VARCHAR},
            </if>
            <if test="hospitalAddressCity != null">
                #{hospitalAddressCity,jdbcType=VARCHAR},
            </if>
            <if test="hospitalAddressCountry != null">
                #{hospitalAddressCountry,jdbcType=VARCHAR},
            </if>
            <if test="hospitalAddress != null">
                #{hospitalAddress,jdbcType=VARCHAR},
            </if>
            <if test="hospitalLink != null">
                #{hospitalLink,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=VARCHAR},
            </if>
            <if test="hospitalStatus != null">
                #{hospitalStatus,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
            <if test="hospitalIntroduce != null">
                #{hospitalIntroduce,jdbcType=LONGVARCHAR},
            </if>
            <if test="orgCode != null">
                #{orgCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.HospDO">
        update tb_culpro_hosp
        <set>
            <if test="hospitalName != null">
                HOSPITAL_NAME = #{hospitalName,jdbcType=VARCHAR},
            </if>
            <if test="hospitalLevel != null">
                HOSPITAL_LEVEL = #{hospitalLevel,jdbcType=VARCHAR},
            </if>
            <if test="hospitalBriefIntroduce != null">
                HOSPITAL_BRIEF_INTRODUCE = #{hospitalBriefIntroduce,jdbcType=VARCHAR},
            </if>
            <if test="hospitalKeySpecialty != null">
                HOSPITAL_KEY_SPECIALTY = #{hospitalKeySpecialty,jdbcType=VARCHAR},
            </if>
            <if test="hospitalTelephone != null">
                HOSPITAL_TELEPHONE = #{hospitalTelephone,jdbcType=VARCHAR},
            </if>
            <if test="hospitalAddressPro != null">
                HOSPITAL_ADDRESS_PRO = #{hospitalAddressPro,jdbcType=VARCHAR},
            </if>
            <if test="hospitalAddressCity != null">
                HOSPITAL_ADDRESS_CITY = #{hospitalAddressCity,jdbcType=VARCHAR},
            </if>
            <if test="hospitalAddressCountry != null">
                HOSPITAL_ADDRESS_COUNTRY = #{hospitalAddressCountry,jdbcType=VARCHAR},
            </if>
            <if test="hospitalAddress != null">
                HOSPITAL_ADDRESS = #{hospitalAddress,jdbcType=VARCHAR},
            </if>
            <if test="hospitalLink != null">
                HOSPITAL_LINK = #{hospitalLink,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                REASON = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="hospitalStatus != null">
                HOSPITAL_STATUS = #{hospitalStatus,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                UPDATER = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
            <if test="hospitalIntroduce != null">
                HOSPITAL_INTRODUCE = #{hospitalIntroduce,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zyyglxt.dataobject.HospDO">
        update tb_culpro_hosp
        set HOSPITAL_NAME = #{hospitalName,jdbcType=VARCHAR},
        HOSPITAL_LEVEL = #{hospitalLevel,jdbcType=VARCHAR},
        HOSPITAL_BRIEF_INTRODUCE = #{hospitalBriefIntroduce,jdbcType=VARCHAR},
        HOSPITAL_KEY_SPECIALTY = #{hospitalKeySpecialty,jdbcType=VARCHAR},
        HOSPITAL_TELEPHONE = #{hospitalTelephone,jdbcType=VARCHAR},
        HOSPITAL_ADDRESS_PRO = #{hospitalAddressPro,jdbcType=VARCHAR},
        HOSPITAL_ADDRESS_CITY = #{hospitalAddressCity,jdbcType=VARCHAR},
        HOSPITAL_ADDRESS_COUNTRY = #{hospitalAddressCountry,jdbcType=VARCHAR},
        HOSPITAL_ADDRESS = #{hospitalAddress,jdbcType=VARCHAR},
        HOSPITAL_LINK = #{hospitalLink,jdbcType=VARCHAR},
        REASON = #{reason,jdbcType=VARCHAR},
        HOSPITAL_STATUS = #{hospitalStatus,jdbcType=VARCHAR},
        CREATER = #{creater,jdbcType=VARCHAR},
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
        UPDATER = #{updater,jdbcType=VARCHAR},
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
        HOSPITAL_INTRODUCE = #{hospitalIntroduce,jdbcType=LONGVARCHAR}
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.HospDO">
        update tb_culpro_hosp
        set HOSPITAL_NAME = #{hospitalName,jdbcType=VARCHAR},
        HOSPITAL_LEVEL = #{hospitalLevel,jdbcType=VARCHAR},
        HOSPITAL_BRIEF_INTRODUCE = #{hospitalBriefIntroduce,jdbcType=VARCHAR},
        HOSPITAL_KEY_SPECIALTY = #{hospitalKeySpecialty,jdbcType=VARCHAR},
        HOSPITAL_TELEPHONE = #{hospitalTelephone,jdbcType=VARCHAR},
        HOSPITAL_ADDRESS_PRO = #{hospitalAddressPro,jdbcType=VARCHAR},
        HOSPITAL_ADDRESS_CITY = #{hospitalAddressCity,jdbcType=VARCHAR},
        HOSPITAL_ADDRESS_COUNTRY = #{hospitalAddressCountry,jdbcType=VARCHAR},
        HOSPITAL_ADDRESS = #{hospitalAddress,jdbcType=VARCHAR},
        HOSPITAL_LINK = #{hospitalLink,jdbcType=VARCHAR},
        REASON = #{reason,jdbcType=VARCHAR},
        HOSPITAL_STATUS = #{hospitalStatus,jdbcType=VARCHAR},
        CREATER = #{creater,jdbcType=VARCHAR},
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
        UPDATER = #{updater,jdbcType=VARCHAR},
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>

    <select id="selectAllHosp" resultMap="ResultMapWithBLOBs">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        FROM tb_culpro_hosp
        ORDER BY itemUpdateAt DESC
    </select>

    <select id="searchHosp" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_hosp
        WHERE HOSPITAL_NAME LIKE "%"#{value}"%"
        OR HOSPITAL_LEVEL LIKE "%"#{value}"%"
        OR HOSPITAL_ADDRESS_CITY LIKE "%"#{value}"%"
        OR HOSPITAL_ADDRESS_COUNTRY LIKE "%"#{value}"%"
        OR HOSPITAL_ADDRESS LIKE "%"#{value}"%"
        ORDER BY itemUpdateAt DESC
    </select>


    <select id="selectHospByItemCode" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_hosp
        WHERE itemCode = #{itemCode}
    </select>

    <select id="selectByStatus" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_hosp
        WHERE HOSPITAL_STATUS = #{status}
    </select>

    <update id="updateStatusByPrimaryKey" parameterType="com.zyyglxt.dto.StatusDto">
        UPDATE tb_culpro_hosp
        SET HOSPITAL_STATUS = #{status}, UPDATER = #{updater}
        WHERE itemID = #{itemid,jdbcType=INTEGER}
        AND itemCode = #{itemcode,jdbcType=CHAR}
    </update>

    <select id="selectByOrgCode" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_hosp
        where ORG_CODE = #{orgCode,jdbcType=VARCHAR}
    </select>



</mapper>
