<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.IndustrialDevelopTecSerOrgMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.IndustrialDevelopTecSerOrg">
    <!--@mbg.generated-->
    <!--@Table tb_industrial_develop_tec_ser_org-->
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="AREA_COVERD" jdbcType="VARCHAR" property="areaCoverd" />
    <result column="SPECIAL_SERVICE" jdbcType="VARCHAR" property="specialService" />
    <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
    <result column="CONTACTS" jdbcType="VARCHAR" property="contacts" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="ADDRESS_PRO" jdbcType="VARCHAR" property="addressPro" />
    <result column="ADDRESS_CITY" jdbcType="VARCHAR" property="addressCity" />
    <result column="ADDRESS_COUNTRY" jdbcType="VARCHAR" property="addressCountry" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="INTRUDUCE" jdbcType="LONGVARCHAR" property="intruduce" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="REASON" jdbcType="VARCHAR" property="reason" />
    <result column="ORG_CODE" jdbcType="CHAR" property="orgCode" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    itemID, itemCode, `NAME`, AREA_COVERD, SPECIAL_SERVICE, PROJECT_NAME, CONTACTS, PHONE,
    ADDRESS_PRO, ADDRESS_CITY, ADDRESS_COUNTRY, ADDRESS, INTRUDUCE, `STATUS`, REASON,
    ORG_CODE, `TYPE`, CREATER, itemCreateAt, UPDATER, itemUpdateAt
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from tb_industrial_develop_tec_ser_org
    where itemCode = #{itemcode,jdbcType=CHAR}
  </select>
  <select id="selectByOrgcode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_industrial_develop_tec_ser_org
    where ORG_CODE = #{orgCode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from tb_industrial_develop_tec_ser_org
    where itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" keyColumn="itemID" keyProperty="itemid" parameterType="com.zyyglxt.dataobject.IndustrialDevelopTecSerOrg" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_industrial_develop_tec_ser_org (itemCode, `NAME`, AREA_COVERD,
      SPECIAL_SERVICE, PROJECT_NAME, CONTACTS,
      PHONE, ADDRESS_PRO, ADDRESS_CITY,
      ADDRESS_COUNTRY, ADDRESS, INTRUDUCE,
      `STATUS`, REASON, ORG_CODE,
      `TYPE`, CREATER, itemCreateAt,
      UPDATER, itemUpdateAt)
    values (#{itemcode,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{areaCoverd,jdbcType=VARCHAR},
      #{specialService,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{addressPro,jdbcType=VARCHAR}, #{addressCity,jdbcType=VARCHAR},
      #{addressCountry,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{intruduce,jdbcType=LONGVARCHAR},
      #{status,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{orgCode,jdbcType=CHAR},
      #{type,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP},
      #{updater,jdbcType=VARCHAR}, #{itemupdateat,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="itemID" keyProperty="itemid" parameterType="com.zyyglxt.dataobject.IndustrialDevelopTecSerOrg" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_industrial_develop_tec_ser_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
      <if test="areaCoverd != null">
        AREA_COVERD,
      </if>
      <if test="specialService != null">
        SPECIAL_SERVICE,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="contacts != null">
        CONTACTS,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="addressPro != null">
        ADDRESS_PRO,
      </if>
      <if test="addressCity != null">
        ADDRESS_CITY,
      </if>
      <if test="addressCountry != null">
        ADDRESS_COUNTRY,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="intruduce != null">
        INTRUDUCE,
      </if>
      <if test="status != null">
        `STATUS`,
      </if>
      <if test="reason != null">
        REASON,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="type != null">
        `TYPE`,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="areaCoverd != null">
        #{areaCoverd,jdbcType=VARCHAR},
      </if>
      <if test="specialService != null">
        #{specialService,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="addressPro != null">
        #{addressPro,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null">
        #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="addressCountry != null">
        #{addressCountry,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="intruduce != null">
        #{intruduce,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.IndustrialDevelopTecSerOrg">
    <!--@mbg.generated-->
    update tb_industrial_develop_tec_ser_org
    <set>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="areaCoverd != null">
        AREA_COVERD = #{areaCoverd,jdbcType=VARCHAR},
      </if>
      <if test="specialService != null">
        SPECIAL_SERVICE = #{specialService,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        CONTACTS = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="addressPro != null">
        ADDRESS_PRO = #{addressPro,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null">
        ADDRESS_CITY = #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="addressCountry != null">
        ADDRESS_COUNTRY = #{addressCountry,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="intruduce != null">
        INTRUDUCE = #{intruduce,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        `STATUS` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        REASON = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        ORG_CODE = #{orgCode,jdbcType=CHAR},
      </if>
      <if test="type != null">
        `TYPE` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.IndustrialDevelopTecSerOrg">
    <!--@mbg.generated-->
    update tb_industrial_develop_tec_ser_org
    set `NAME` = #{name,jdbcType=VARCHAR},
      AREA_COVERD = #{areaCoverd,jdbcType=VARCHAR},
      SPECIAL_SERVICE = #{specialService,jdbcType=VARCHAR},
      PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      CONTACTS = #{contacts,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      ADDRESS_PRO = #{addressPro,jdbcType=VARCHAR},
      ADDRESS_CITY = #{addressCity,jdbcType=VARCHAR},
      ADDRESS_COUNTRY = #{addressCountry,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      INTRUDUCE = #{intruduce,jdbcType=LONGVARCHAR},
      `STATUS` = #{status,jdbcType=VARCHAR},
      REASON = #{reason,jdbcType=VARCHAR},
      ORG_CODE = #{orgCode,jdbcType=CHAR},
      `TYPE` = #{type,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
      select * from tb_industrial_develop_tec_ser_org
  </select>
  <select id="selectByOrgNameAndCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_industrial_develop_tec_ser_org
    where NAME = #{orgName,jdbcType=VARCHAR}
    and ORG_CODE = #{orgCode,jdbcType=VARCHAR}
  </select>
</mapper>
