<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.IndustrialDevelopExpertRefDOMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDO">
    <!--@mbg.generated-->
    <!--@Table tb_industrial_develop_expert_ref-->
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="EXPERT_CODE" jdbcType="CHAR" property="expertCode" />
    <result column="TOPIC_CODE" jdbcType="CHAR" property="topicCode" />
    <result column="EXMAINE_STATUS" jdbcType="VARCHAR" property="exmaineStatus" />
    <result column="SUBMIT_STATUS" jdbcType="VARCHAR" property="submitStatus" />
    <result column="OPINION" jdbcType="VARCHAR" property="opinion" />
    <result column="SCORE" jdbcType="INTEGER" property="score" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    itemID, itemCode, EXPERT_CODE, TOPIC_CODE, EXMAINE_STATUS, SUBMIT_STATUS, SCORE,
    CREATER, itemCreateAt, UPDATER, itemUpdateAt, opinion
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDOKey" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from tb_industrial_develop_expert_ref
    where itemCode = #{itemcode,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from tb_industrial_develop_expert_ref
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDOKey">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 28 16:25:52 CST 2020.
    -->
    delete from tb_industrial_develop_expert_ref
    where itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDO">
    <!--@mbg.generated-->
    insert into tb_industrial_develop_expert_ref (itemCode, EXPERT_CODE, TOPIC_CODE,
    EXMAINE_STATUS, SUBMIT_STATUS, SCORE,
    CREATER, itemCreateAt, UPDATER, OPINION
    itemUpdateAt)
    values (#{itemcode,jdbcType=CHAR}, #{expertCode,jdbcType=CHAR}, #{topicCode,jdbcType=CHAR},
    #{exmaineStatus,jdbcType=VARCHAR}, #{submitStatus,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER},
    #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR},
    #{itemupdateat,jdbcType=TIMESTAMP}, #{opinion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDO">
    <!--@mbg.generated-->
    insert into tb_industrial_develop_expert_ref
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="expertCode != null">
        EXPERT_CODE,
      </if>
      <if test="topicCode != null">
        TOPIC_CODE,
      </if>
      <if test="exmaineStatus != null">
        EXMAINE_STATUS,
      </if>
      <if test="submitStatus != null">
        SUBMIT_STATUS,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
      <if test="opinion != null">
        opinion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="expertCode != null">
        #{expertCode,jdbcType=CHAR},
      </if>
      <if test="topicCode != null">
        #{topicCode,jdbcType=CHAR},
      </if>
      <if test="exmaineStatus != null">
        #{exmaineStatus,jdbcType=VARCHAR},
      </if>
      <if test="submitStatus != null">
        #{submitStatus,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="opinion != null">
        #{opinion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 28 16:25:52 CST 2020.
    -->
    update tb_industrial_develop_expert_ref
    <set>
      <if test="expertCode != null">
        EXPERT_CODE = #{expertCode,jdbcType=CHAR},
      </if>
      <if test="topicCode != null">
        TOPIC_CODE = #{topicCode,jdbcType=CHAR},
      </if>
      <if test="exmaineStatus != null">
        EXMAINE_STATUS = #{exmaineStatus,jdbcType=VARCHAR},
      </if>
      <if test="submitStatus != null">
        SUBMIT_STATUS = #{submitStatus,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        SCORE = #{score,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="opinion != null">
        OPINION = #{opinion,jdbcType=TIMESTAMP},
      </if>
    </set>
    where itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDO">
    <!--@mbg.generated-->
    update tb_industrial_develop_expert_ref
    set EXPERT_CODE = #{expertCode,jdbcType=CHAR},
    TOPIC_CODE = #{topicCode,jdbcType=CHAR},
    EXMAINE_STATUS = #{exmaineStatus,jdbcType=VARCHAR},
    SUBMIT_STATUS = #{submitStatus,jdbcType=VARCHAR},
    SCORE = #{score,jdbcType=INTEGER},
    CREATER = #{creater,jdbcType=VARCHAR},
    itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
    UPDATER = #{updater,jdbcType=VARCHAR},
    itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
    OPINION = #{opinion,jdbcType=TIMESTAMP},
    where itemCode = #{itemcode,jdbcType=CHAR}
  </update>
</mapper>