<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.IndustrialDevelopSciAchiDOMapper">
    <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.IndustrialDevelopSciAchiDO">
        <!--@mbg.generated-->
        <!--@Table tb_industrial_develop_sci_achi-->
        <id column="itemID" jdbcType="INTEGER" property="itemid" />
        <id column="itemCode" jdbcType="CHAR" property="itemcode" />
        <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
        <result column="INDUSTRIAL_DEVELOP_NAME" jdbcType="VARCHAR" property="industrialDevelopName" />
        <result column="INDUSTRIAL_DEVELOP_LEADER" jdbcType="VARCHAR" property="industrialDevelopLeader" />
        <result column="CONTACTS" jdbcType="VARCHAR" property="contacts" />
        <result column="PHONE" jdbcType="VARCHAR" property="phone" />
        <result column="CONTEXT" jdbcType="LONGVARCHAR" property="context" />
        <result column="INDUSTRIAL_DEVELOP_STATUS" jdbcType="VARCHAR" property="industrialDevelopStatus" />
        <result column="VISIT_NUM" jdbcType="INTEGER" property="visitNum" />
        <result column="ORG_CODE" jdbcType="CHAR" property="orgCode" />
        <result column="CREATER" jdbcType="VARCHAR" property="creater" />
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
        <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
        <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        itemID, itemCode, PROJECT_NAME, INDUSTRIAL_DEVELOP_NAME, INDUSTRIAL_DEVELOP_LEADER,
        CONTACTS, PHONE, CONTEXT, INDUSTRIAL_DEVELOP_STATUS, VISIT_NUM, ORG_CODE, CREATER,
        itemCreateAt, UPDATER, itemUpdateAt
    </sql>
    <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.IndustrialDevelopSciAchiDOKey"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_industrial_develop_sci_achi
        where itemCode = #{itemcode,jdbcType=CHAR}
        order by itemUpdateAt desc
    </select>
    <select id="selectByPage" resultType="com.zyyglxt.dataobject.IndustrialDevelopSciAchiDO" resultMap="BaseResultMap">
        SELECT * FROM tb_industrial_develop_sci_achi LIMIT #{start},#{end}
        order by itemUpdateAt desc
    </select>
    <select id="selectAll" resultType="com.zyyglxt.dataobject.IndustrialDevelopSciAchiDO" resultMap="BaseResultMap">
        SELECT * FROM tb_industrial_develop_sci_achi where ORG_CODE = #{orgCode}
        order by itemUpdateAt desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.IndustrialDevelopSciAchiDOKey">
        delete from tb_industrial_develop_sci_achi
        where itemCode = #{itemcode,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="com.zyyglxt.dataobject.IndustrialDevelopSciAchiDO">
        <!--@mbg.generated-->
        insert into tb_industrial_develop_sci_achi (itemCode, PROJECT_NAME, INDUSTRIAL_DEVELOP_NAME,
        INDUSTRIAL_DEVELOP_LEADER, CONTACTS, PHONE,
        CONTEXT, INDUSTRIAL_DEVELOP_STATUS, VISIT_NUM,
        ORG_CODE, CREATER, itemCreateAt,
        UPDATER, itemUpdateAt)
        values (#{itemcode,jdbcType=CHAR}, #{projectName,jdbcType=VARCHAR}, #{industrialDevelopName,jdbcType=VARCHAR},
        #{industrialDevelopLeader,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
        #{context,jdbcType=LONGVARCHAR}, #{industrialDevelopStatus,jdbcType=VARCHAR}, #{visitNum,jdbcType=INTEGER},
        #{orgCode,jdbcType=CHAR}, #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP},
        #{updater,jdbcType=VARCHAR}, #{itemupdateat,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.IndustrialDevelopSciAchiDO">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Oct 28 16:25:52 CST 2020.
        -->
        insert into tb_industrial_develop_sci_achi
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemcode != null">
                itemCode,
            </if>
            <if test="projectName != null">
                PROJECT_NAME,
            </if>
            <if test="industrialDevelopName != null">
                INDUSTRIAL_DEVELOP_NAME,
            </if>
            <if test="industrialDevelopLeader != null">
                INDUSTRIAL_DEVELOP_LEADER,
            </if>
            <if test="contacts != null">
                CONTACTS,
            </if>
            <if test="phone != null">
                PHONE,
            </if>
            <if test="context != null">
                CONTEXT,
            </if>
            <if test="industrialDevelopStatus != null">
                INDUSTRIAL_DEVELOP_STATUS,
            </if>
            <if test="visitNum != null">
                VISIT_NUM,
            </if>
            <if test="orgCode != null">
                ORG_CODE,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="itemcreateat != null">
                itemCreateAt,
            </if>
            <if test="updater != null">
                UPDATER,
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemcode != null">
                #{itemcode,jdbcType=CHAR},
            </if>
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="industrialDevelopName != null">
                #{industrialDevelopName,jdbcType=VARCHAR},
            </if>
            <if test="industrialDevelopLeader != null">
                #{industrialDevelopLeader,jdbcType=VARCHAR},
            </if>
            <if test="contacts != null">
                #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="context != null">
                #{context,jdbcType=LONGVARCHAR},
            </if>
            <if test="industrialDevelopStatus != null">
                #{industrialDevelopStatus,jdbcType=VARCHAR},
            </if>
            <if test="visitNum != null">
                #{visitNum,jdbcType=INTEGER},
            </if>
            <if test="orgCode != null">
                #{orgCode,jdbcType=CHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.IndustrialDevelopSciAchiDO">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Oct 28 16:25:52 CST 2020.
        -->
        update tb_industrial_develop_sci_achi
        <set>
            <if test="projectName != null">
                PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="industrialDevelopName != null">
                INDUSTRIAL_DEVELOP_NAME = #{industrialDevelopName,jdbcType=VARCHAR},
            </if>
            <if test="industrialDevelopLeader != null">
                INDUSTRIAL_DEVELOP_LEADER = #{industrialDevelopLeader,jdbcType=VARCHAR},
            </if>
            <if test="contacts != null">
                CONTACTS = #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                PHONE = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="context != null">
                CONTEXT = #{context,jdbcType=LONGVARCHAR},
            </if>
            <if test="industrialDevelopStatus != null">
                INDUSTRIAL_DEVELOP_STATUS = #{industrialDevelopStatus,jdbcType=VARCHAR},
            </if>
            <if test="visitNum != null">
                VISIT_NUM = #{visitNum,jdbcType=INTEGER},
            </if>
            <if test="orgCode != null">
                ORG_CODE = #{orgCode,jdbcType=CHAR},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                UPDATER = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
        </set>
        where itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.IndustrialDevelopSciAchiDO">
        <!--@mbg.generated-->
        update tb_industrial_develop_sci_achi
        set PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
        INDUSTRIAL_DEVELOP_NAME = #{industrialDevelopName,jdbcType=VARCHAR},
        INDUSTRIAL_DEVELOP_LEADER = #{industrialDevelopLeader,jdbcType=VARCHAR},
        CONTACTS = #{contacts,jdbcType=VARCHAR},
        PHONE = #{phone,jdbcType=VARCHAR},
        CONTEXT = #{context,jdbcType=LONGVARCHAR},
        INDUSTRIAL_DEVELOP_STATUS = #{industrialDevelopStatus,jdbcType=VARCHAR},
        VISIT_NUM = #{visitNum,jdbcType=INTEGER},
        ORG_CODE = #{orgCode,jdbcType=CHAR},
        CREATER = #{creater,jdbcType=VARCHAR},
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
        UPDATER = #{updater,jdbcType=VARCHAR},
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
        where itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <update id="updateVisitNumByItemidAndItemcode" parameterType="com.zyyglxt.dataobject.IndustrialDevelopSciAchiDOKey">
    update tb_industrial_develop_sci_achi set VISIT_NUM = VISIT_NUM + 1 where itemID = #{itemid} and itemCode = #{itemcode}
  </update>
</mapper>