<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.IndustrialDevelopBasestyleMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.IndustrialDevelopBasestyle">
    <!--@mbg.generated-->
    <!--@Table tb_industrial_develop_basestyle-->
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="FILE_CODE" jdbcType="CHAR" property="fileCode" />
    <result column="ORG_CODE" jdbcType="CHAR" property="orgCode" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
  </resultMap>
  <resultMap id="BaseResultMapWithFiles" type="com.zyyglxt.dto.industrialDevelop.IndustrialDevelopBasestyleDto">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="FILE_CODE" jdbcType="CHAR" property="fileCode" />
    <result column="ORG_CODE" jdbcType="CHAR" property="orgCode" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath"/>
  </resultMap>
  <sql id="SelectAll_Column_List">
    b.itemID, b.itemCode, b.FILE_CODE, b.ORG_CODE, b.STATUS, b.CREATER, b.itemCreateAt, b.UPDATER,
    b.itemUpdateAt
  </sql>
  <sql id="Base_Column_List">
    itemID, itemCode, FILE_CODE, ORG_CODE, STATUS, CREATER, itemCreateAt, UPDATER,
    itemUpdateAt
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_industrial_develop_basestyle
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
    order by itemUpdateAt desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from tb_industrial_develop_basestyle
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" keyColumn="itemID" keyProperty="itemid" parameterType="com.zyyglxt.dataobject.IndustrialDevelopBasestyle" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_industrial_develop_basestyle (itemCode, FILE_CODE, ORG_CODE, 
      `STATUS`, CREATER, itemCreateAt, 
      UPDATER, itemUpdateAt)
    values (#{itemcode,jdbcType=CHAR}, #{fileCode,jdbcType=CHAR}, #{orgCode,jdbcType=CHAR}, 
      #{status,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{itemupdateat,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="itemID" keyProperty="itemid" parameterType="com.zyyglxt.dataobject.IndustrialDevelopBasestyle" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_industrial_develop_basestyle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="fileCode != null">
        FILE_CODE,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="status != null">
        `STATUS`,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="fileCode != null">
        #{fileCode,jdbcType=CHAR},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.IndustrialDevelopBasestyle">
    <!--@mbg.generated-->
    update tb_industrial_develop_basestyle
    <set>
      <if test="fileCode != null">
        FILE_CODE = #{fileCode,jdbcType=CHAR},
      </if>
      <if test="orgCode != null">
        ORG_CODE = #{orgCode,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `STATUS` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.IndustrialDevelopBasestyle">
    update tb_industrial_develop_basestyle
    set FILE_CODE = #{fileCode,jdbcType=CHAR},
      ORG_CODE = #{orgCode,jdbcType=CHAR},
      `STATUS` = #{status,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMapWithFiles">
    select
    <include refid="SelectAll_Column_List"/>
    ,
    f.FILE_PATH
    from tb_industrial_develop_basestyle b
    left join tb_culpro_file f on f.DATA_CODE = b.itemCode
    where b.ORG_CODE = #{orgCode}
    order by itemUpdateAt desc
   </select>
</mapper>