<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.IndustrialDevelopExpertRefDOMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDO">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="EXPERT_CODE" jdbcType="CHAR" property="expertCode" />
    <result column="TOPIC_CODE" jdbcType="CHAR" property="topicCode" />
    <result column="EXMAINE_STATUS" jdbcType="VARCHAR" property="exmaineStatus" />
    <result column="SUBMIT_STATUS" jdbcType="VARCHAR" property="submitStatus" />
    <result column="OPINION" jdbcType="VARCHAR" property="opinion" />
    <result column="SCORE" jdbcType="VARCHAR" property="score" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
  </resultMap>
  <resultMap id="ExmainResultMap" type="com.zyyglxt.dto.ExmaineDto">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="EXPERT_CODE" jdbcType="CHAR" property="expertCode" />
    <result column="TOPIC_CODE" jdbcType="CHAR" property="topicCode" />
    <result column="EXMAINE_STATUS" jdbcType="VARCHAR" property="exmaineStatus" />
    <result column="SUBMIT_STATUS" jdbcType="VARCHAR" property="submitStatus" />
    <result column="OPINION" jdbcType="VARCHAR" property="opinion" />
    <result column="SCORE" jdbcType="VARCHAR" property="score" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
    <result column="PROJECT_NO" jdbcType="VARCHAR" property="projectNo" />
    <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
    <result column="DISCIPLINE_CODE" jdbcType="VARCHAR" property="disciplineCode" />
    <result column="DISCIPLINE_NAME" jdbcType="VARCHAR" property="disciplineName" />
    <result column="APPLICANT" jdbcType="VARCHAR" property="applicant" />
    <result column="COMPANY" jdbcType="VARCHAR" property="company" />
    <result column="POSTAL_ADDRESS" jdbcType="VARCHAR" property="postalAddress" />
    <result column="POSTAL_CODE" jdbcType="VARCHAR" property="postalCode" />
    <result column="CONTACT_CODE" jdbcType="VARCHAR" property="contactCode" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="APPLICATION_DATE" jdbcType="DATE" property="applicationDate" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath"/>
  </resultMap>
    <resultMap id="TopicResultMap" type="com.zyyglxt.dto.industrialDevelop.IndustrialDevelopTopicDODto">
        <id column="itemID" jdbcType="INTEGER" property="itemid" />
        <id column="itemCode" jdbcType="CHAR" property="itemcode" />
        <result column="PROJECT_NO" jdbcType="VARCHAR" property="projectNo" />
        <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
        <result column="DISCIPLINE_CODE" jdbcType="VARCHAR" property="disciplineCode"/>
        <result column="DISCIPLINE_NAME" jdbcType="VARCHAR" property="disciplineName"/>
        <result column="APPLICANT" jdbcType="VARCHAR" property="applicant"/>
        <result column="CONTACT_CODE" jdbcType="VARCHAR" property="contactCode"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="COMPANY" jdbcType="VARCHAR" property="company" />
        <result column="POSTAL_CODE" jdbcType="VARCHAR" property="postalCode" />
        <result column="POSTAL_ADDRESS" jdbcType="VARCHAR" property="postalAddress" />
        <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
        <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath"/>
        <collection property="expertList" ofType="com.zyyglxt.dto.industrialDevelop.IndustrialDevelopExpertDto">
            <id column="EXPERT_ID" jdbcType="INTEGER" property="itemid" />
            <id column="EXPERT_CODE" jdbcType="CHAR" property="itemcode" />
            <result column="NAME" jdbcType="VARCHAR" property="name"/>
            <result column="FILED" jdbcType="VARCHAR" property="filed"/>
            <result column="GENDER" jdbcType="VARCHAR" property="gender"/>
            <result column="mobilePhone" jdbcType="VARCHAR" property="mobilephone"/>
            <result column="SCORE" jdbcType="VARCHAR" property="score"/>
        </collection>
    </resultMap>
  <sql id="Base_Column_List">
    itemID, itemCode, EXPERT_CODE, TOPIC_CODE, EXMAINE_STATUS, SUBMIT_STATUS, SCORE,
    CREATER, itemCreateAt, UPDATER, itemUpdateAt, opinion
  </sql>
  <sql id="Exmain_Column_List">
    ef.itemID, ef.itemCode, ef.EXPERT_CODE, ef.TOPIC_CODE, ef.EXMAINE_STATUS, ef.SUBMIT_STATUS, ef.SCORE,
    ef.CREATER, ef.itemCreateAt, ef.UPDATER, ef.itemUpdateAt, ef.opinion, t.PROJECT_NAME, t.PROJECT_NO, t.DISCIPLINE_CODE,
    t.DISCIPLINE_NAME, t.APPLICANT, t.COMPANY, t.POSTAL_ADDRESS,t.POSTAL_CODE,t.CONTACT_CODE,t.EMAIL,t.APPLICATION_DATE
  </sql>
    <sql id="Topic_Column_List">
        t.itemID, t.itemCode, t.PROJECT_NO, t.PROJECT_NAME, t.DISCIPLINE_CODE, t.DISCIPLINE_NAME, t.APPLICANT, t.CONTACT_CODE, t.EMAIL,
        t.COMPANY, t.POSTAL_CODE, t.POSTAL_ADDRESS, e.itemID as EXPERT_ID, e.itemCode as EXPERT_CODE, u.NAME, e.FILED, u.GENDER, u.mobilePhone,
        f.FILE_NAME, f.FILE_PATH, ef.SCORE
    </sql>
  <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDOKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_industrial_develop_expert_ref
    where itemCode = #{itemcode,jdbcType=CHAR}
    order by itemUpdateAt desc
  </select>
  <select id="selectAllTopicCode" resultType="String">
    SELECT DISTINCT
	ef.TOPIC_CODE
FROM
	tb_industrial_develop_expert_ref ef
  </select>
  <select id="selectAllByTopicCode" resultMap="ExmainResultMap">
    SELECT
    <include refid="Exmain_Column_List" />
    ,
    f.FILE_NAME
    ,
    f.FILE_PATH
    from tb_industrial_develop_expert_ref ef, tb_industrial_develop_topic t
    left join tb_culpro_file f
    ON f.DATA_CODE = t.itemCode
    WHERE
    ef.TOPIC_CODE = t.itemCode
    AND ef.TOPIC_CODE = #{topicCode}
    AND ef.EXMAINE_STATUS = 0
    union
    SELECT
    ef.itemID, ef.itemCode, ef.EXPERT_CODE, ef.TOPIC_CODE, ef.EXMAINE_STATUS, ef.SUBMIT_STATUS, ef.SCORE,
    ef.CREATER, ef.itemCreateAt, ef.UPDATER, ef.itemUpdateAt, substring(ef.opinion,0), t.PROJECT_NAME, t.PROJECT_NO, t.DISCIPLINE_CODE,
    t.DISCIPLINE_NAME, t.APPLICANT, t.COMPANY, t.POSTAL_ADDRESS,t.POSTAL_CODE,t.CONTACT_CODE,t.EMAIL,t.APPLICATION_DATE
    ,
    f.FILE_NAME
    ,
    f.FILE_PATH
    from tb_industrial_develop_expert_ref ef, tb_industrial_develop_topic t left join tb_culpro_file f
    ON f.DATA_CODE = t.itemCode
    WHERE
    ef.TOPIC_CODE = t.itemCode
    AND ef.TOPIC_CODE = #{topicCode}
    AND ef.EXMAINE_STATUS in (1,2)
    order by itemUpdateAt
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDOKey">
    delete from tb_industrial_develop_expert_ref
    where itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDO">
    insert into tb_industrial_develop_expert_ref (itemCode, EXPERT_CODE, TOPIC_CODE,
    EXMAINE_STATUS, SUBMIT_STATUS, SCORE,
    CREATER, itemCreateAt, UPDATER, OPINION
    itemUpdateAt)
    values (#{itemcode,jdbcType=CHAR}, #{expertCode,jdbcType=CHAR}, #{topicCode,jdbcType=CHAR},
    #{exmaineStatus,jdbcType=VARCHAR}, #{submitStatus,jdbcType=VARCHAR}, #{score,jdbcType=VARCHAR},
    #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR},
    #{itemupdateat,jdbcType=TIMESTAMP}, #{opinion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDO">
    insert into tb_industrial_develop_expert_ref
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="expertCode != null">
        EXPERT_CODE,
      </if>
      <if test="topicCode != null">
        TOPIC_CODE,
      </if>
      <if test="exmaineStatus != null">
        EXMAINE_STATUS,
      </if>
      <if test="submitStatus != null">
        SUBMIT_STATUS,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
      <if test="opinion != null">
        opinion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="expertCode != null">
        #{expertCode,jdbcType=CHAR},
      </if>
      <if test="topicCode != null">
        #{topicCode,jdbcType=CHAR},
      </if>
      <if test="exmaineStatus != null">
        #{exmaineStatus,jdbcType=VARCHAR},
      </if>
      <if test="submitStatus != null">
        #{submitStatus,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="opinion != null">
        #{opinion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDO">
    update tb_industrial_develop_expert_ref
    <set>
      <if test="exmaineStatus != null">
        EXMAINE_STATUS = #{exmaineStatus,jdbcType=VARCHAR},
      </if>
      <if test="submitStatus != null">
        SUBMIT_STATUS = #{submitStatus,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        SCORE = #{score,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="opinion != null">
        OPINION = #{opinion,jdbcType=TIMESTAMP},
      </if>
    </set>
    where EXPERT_CODE = #{expertCode,jdbcType=CHAR}
    and TOPIC_CODE = #{topicCode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.IndustrialDevelopExpertRefDO">
    update tb_industrial_develop_expert_ref
    set EXPERT_CODE = #{expertCode,jdbcType=CHAR},
    TOPIC_CODE = #{topicCode,jdbcType=CHAR},
    EXMAINE_STATUS = #{exmaineStatus,jdbcType=VARCHAR},
    SUBMIT_STATUS = #{submitStatus,jdbcType=VARCHAR},
    SCORE = #{score,jdbcType=VARCHAR},
    CREATER = #{creater,jdbcType=VARCHAR},
    itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
    UPDATER = #{updater,jdbcType=VARCHAR},
    itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
    OPINION = #{opinion,jdbcType=TIMESTAMP},
    where itemCode = #{itemcode,jdbcType=CHAR}
  </update>
    <select id="selectByTopicCode" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_industrial_develop_expert_ref
        WHERE TOPIC_CODE = #{topicCode}
      order by itemUpdateAt desc
    </select>
    <!--<select id="selectByExpertCode" resultMap="BaseResultMap">-->
        <!--SELECT-->
        <!--<include refid="Base_Column_List" />-->
        <!--FROM tb_industrial_develop_expert_ref-->
        <!--WHERE EXPERT_CODE = #{expertCode,jdbcType=VARCHAR}-->
      <!--order by itemUpdateAt desc-->
    <!--</select>-->

  <select id="selectByExpertCode" resultMap="ExmainResultMap">
    SELECT
    <include refid="Exmain_Column_List" />
    ,
    f.FILE_NAME
    ,
    f.FILE_PATH
    from tb_industrial_develop_expert_ref ef, tb_industrial_develop_topic t left join tb_culpro_file f
    ON f.DATA_CODE = t.itemCode
    WHERE
    ef.TOPIC_CODE = t.itemCode
    AND ef.EXPERT_CODE = #{expertCode,jdbcType=VARCHAR}
    order by ef.itemUpdateAt desc
  </select>

    <delete id="deleteByTopicCode">
        DELETE FROM tb_industrial_develop_expert_ref
        WHERE TOPIC_CODE = #{topicCode}
    </delete>

    <delete id="delExpertTopic">
        DELETE FROM tb_industrial_develop_expert_ref
        WHERE EXPERT_CODE = #{expertCode,jdbcType=CHAR} AND TOPIC_CODE = #{topicCode,jdbcType=CHAR}
    </delete>

    <select id="topicAndExpertStatus" resultMap="TopicResultMap">
        SELECT
        <include refid="Topic_Column_List"/>
        FROM tb_industrial_develop_topic t left join tb_industrial_develop_expert_ref ef on t.itemCode=ef.TOPIC_CODE
        LEFT JOIN tb_industrial_develop_expert e ON ef.EXPERT_CODE = e.itemCode
        LEFT JOIN `user` u ON e.USER_CODE=u.itemCode
        LEFT JOIN tb_culpro_file f ON f.DATA_CODE = t.itemCode
        order by t.itemUpdateAt desc
    </select>
  <select id="selectZjktsl" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT
	count(*) as 'zjktsl'
FROM
	tb_industrial_develop_expert_ref ef
WHERE
	ef.TOPIC_CODE = #{topicCode}
  </select>
</mapper>