<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.ReceiptDOMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.ReceiptDO">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="RECEIVING_NUM" jdbcType="VARCHAR" property="receivingNum" />
    <result column="RECEIVING_DATE_OF_RECEIPT" jdbcType="TIMESTAMP" property="receivingDateOfReceipt" />
    <result column="RECEIVING_TITLE" jdbcType="VARCHAR" property="receivingTitle" />
    <result column="RECEIVING_UNIT_OF_COMMUN" jdbcType="VARCHAR" property="receivingUnitOfCommun" />
    <result column="FILE_NO" jdbcType="VARCHAR" property="fileNo" />
    <result column="NUMBER" jdbcType="INTEGER" property="number" />
    <result column="SECRET_LEVEL" jdbcType="VARCHAR" property="secretLevel" />
    <result column="RECEIVING_DEGREE_OF_URGENCY" jdbcType="VARCHAR" property="receivingDegreeOfUrgency" />
    <result column="RECEIVING_DATA_STATUS" jdbcType="VARCHAR" property="receivingDataStatus" />
    <result column="TIME_LIMIT" jdbcType="TIMESTAMP" property="timeLimit" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />

    <result column="REASONO" jdbcType="VARCHAR" property="reasono" />
    <result column="REASONT" jdbcType="VARCHAR" property="reasont" />
    <result column="REASONH" jdbcType="VARCHAR" property="reasonh" />
    <result column="REASONF" jdbcType="VARCHAR" property="reasonf" />
    <result column="REASONV" jdbcType="VARCHAR" property="reasonv" />
    <result column="REASONS" jdbcType="VARCHAR" property="reasons" />

    <result column="NAMEO" jdbcType="VARCHAR" property="nameo" />
    <result column="NAMET" jdbcType="VARCHAR" property="namet" />
    <result column="NAMEH" jdbcType="VARCHAR" property="nameh" />
    <result column="NAMEF" jdbcType="VARCHAR" property="namef" />
    <result column="NAMEV" jdbcType="VARCHAR" property="namev" />
    <result column="NAMES" jdbcType="VARCHAR" property="names" />

    <result column="DATEO" jdbcType="TIMESTAMP" property="dateo" />
    <result column="DATET" jdbcType="TIMESTAMP" property="datet" />
    <result column="DATEH" jdbcType="TIMESTAMP" property="dateh" />
    <result column="DATEF" jdbcType="TIMESTAMP" property="datef" />
    <result column="DATEV" jdbcType="TIMESTAMP" property="datev" />
    <result column="DATES" jdbcType="TIMESTAMP" property="dates" />

    <result column="RECEIPT_REASON" jdbcType="VARCHAR" property="receiptReason" />
    <result column="RECEIPT_REASONL" jdbcType="VARCHAR" property="receiptReasonl" />

  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBsAndFile" type="com.zyyglxt.dto.ReceiptDto">
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath"/>
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
  </resultMap>
  <resultMap id="ReceiptForMainPageResultMap" type="com.zyyglxt.dto.ReceiptMainDto">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="RECEIVING_TITLE" jdbcType="VARCHAR" property="dataTitle" />
  </resultMap>
  <resultMap id="ReceiptFileResultMap" type="com.zyyglxt.dataobject.PostFileDO">
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath"/>
  </resultMap>

  <sql id="Base_Column_List">
    itemID, itemCode, RECEIVING_NUM, RECEIVING_DATE_OF_RECEIPT, RECEIVING_TITLE, RECEIVING_UNIT_OF_COMMUN,
    FILE_NO, NUMBER, RECEIVING_DEGREE_OF_URGENCY, RECEIVING_DATA_STATUS, TIME_LIMIT, 
    CREATER, itemCreateAt, UPDATER, itemUpdateAt, SECRET_LEVEL
  </sql>

  <sql id="SelectAll_Column_List">
    rp.itemID, rp.itemCode, rp.RECEIVING_NUM, rp.RECEIVING_DATE_OF_RECEIPT, rp.RECEIVING_TITLE,
    rp.RECEIVING_UNIT_OF_COMMUN, rp.FILE_NO, rp.NUMBER, rp.RECEIVING_DEGREE_OF_URGENCY, rp.SECRET_LEVEL,
    rp.RECEIVING_DATA_STATUS, rp.TIME_LIMIT, rp.REASONO, rp.REASONT, rp.REASONH, rp.REASONF, rp.REASONV, rp.REASONS,
    rp.NAMEO, rp.NAMET, rp.NAMEH, rp.NAMEF, rp.NAMEV, rp.NAMES,rp.RECEIPT_REASON, rp.RECEIPT_REASONL,
    rp.DATEO, rp.DATET, rp.DATEH, rp.DATEF, rp.DATEV, rp.DATES,
    rp.CREATER, rp.itemCreateAt, rp.UPDATER, rp.itemUpdateAt
  </sql>


  <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.ReceiptDOKey" resultMap="BaseResultMap">
    select 
    <include refid="SelectAll_Column_List" />
    from tb_governres_receipt
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </select>

  <select id="selectOneForMainPage" parameterType="com.zyyglxt.dataobject.ReceiptDOKey" resultMap="ResultMapWithBLOBsAndFile">
    SELECT
    <include refid="SelectAll_Column_List" />
    ,
    cf.FILE_PATH
    ,
    cf.FILE_NAME
    FROM tb_governres_receipt rp left join tb_culpro_file cf
    on rp.itemCode = cf.DATA_CODE
    where rp.itemID = #{key.itemid,jdbcType=INTEGER}
    and rp.itemCode = #{key.itemcode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.ReceiptDOKey">
    delete from tb_governres_receipt
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zyyglxt.dataobject.ReceiptDO">
    insert into tb_governres_receipt (itemID, itemCode, RECEIVING_NUM, 
      RECEIVING_DATE_OF_RECEIPT, RECEIVING_TITLE, 
      RECEIVING_UNIT_OF_COMMUN, FILE_NO, NUMBER, 
      RECEIVING_DEGREE_OF_URGENCY, RECEIVING_DATA_STATUS, 
      TIME_LIMIT, CREATER, itemCreateAt, 
      UPDATER, itemUpdateAt)
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{receivingNum,jdbcType=VARCHAR}, 
      #{receivingDateOfReceipt,jdbcType=TIMESTAMP}, #{receivingTitle,jdbcType=VARCHAR}, 
      #{receivingUnitOfCommun,jdbcType=VARCHAR}, #{fileNo,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, 
      #{receivingDegreeOfUrgency,jdbcType=VARCHAR}, #{receivingDataStatus,jdbcType=VARCHAR}, 
      #{timeLimit,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{itemupdateat,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.ReceiptDO">
    insert into tb_governres_receipt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="receivingNum != null">
        RECEIVING_NUM,
      </if>
      <if test="receivingDateOfReceipt != null">
        RECEIVING_DATE_OF_RECEIPT,
      </if>
      <if test="receivingTitle != null">
        RECEIVING_TITLE,
      </if>
      <if test="receivingUnitOfCommun != null">
        RECEIVING_UNIT_OF_COMMUN,
      </if>
      <if test="fileNo != null">
        FILE_NO,
      </if>
      <if test="number != null">
        NUMBER,
      </if>
      <if test="secretLevel != null">
        SECRET_LEVEL,
      </if>
      <if test="receivingDegreeOfUrgency != null">
        RECEIVING_DEGREE_OF_URGENCY,
      </if>
      <if test="receivingDataStatus != null">
        RECEIVING_DATA_STATUS,
      </if>
      <if test="timeLimit != null">
        TIME_LIMIT,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="receivingNum != null">
        #{receivingNum,jdbcType=VARCHAR},
      </if>
      <if test="receivingDateOfReceipt != null">
        #{receivingDateOfReceipt,jdbcType=TIMESTAMP},
      </if>
      <if test="receivingTitle != null">
        #{receivingTitle,jdbcType=VARCHAR},
      </if>
      <if test="receivingUnitOfCommun != null">
        #{receivingUnitOfCommun,jdbcType=VARCHAR},
      </if>
      <if test="fileNo != null">
        #{fileNo,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="secretLevel != null">
        #{secretLevel,jdbcType=VARCHAR},
      </if>
      <if test="receivingDegreeOfUrgency != null">
        #{receivingDegreeOfUrgency,jdbcType=VARCHAR},
      </if>
      <if test="receivingDataStatus != null">
        #{receivingDataStatus,jdbcType=VARCHAR},
      </if>
      <if test="timeLimit != null">
        #{timeLimit,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.ReceiptDO">
    update tb_governres_receipt
    <set>
      <if test="receivingNum != null">
        RECEIVING_NUM = #{receivingNum,jdbcType=VARCHAR},
      </if>
      <if test="receivingDateOfReceipt != null">
        RECEIVING_DATE_OF_RECEIPT = #{receivingDateOfReceipt,jdbcType=TIMESTAMP},
      </if>
      <if test="receivingTitle != null">
        RECEIVING_TITLE = #{receivingTitle,jdbcType=VARCHAR},
      </if>
      <if test="receivingUnitOfCommun != null">
        RECEIVING_UNIT_OF_COMMUN = #{receivingUnitOfCommun,jdbcType=VARCHAR},
      </if>
      <if test="fileNo != null">
        FILE_NO = #{fileNo,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        NUMBER = #{number,jdbcType=INTEGER},
      </if>
      <if test="secretLevel != null">
        SECRET_LEVEL = #{secretLevel,jdbcType=VARCHAR},
      </if>
      <if test="receivingDegreeOfUrgency != null">
        RECEIVING_DEGREE_OF_URGENCY = #{receivingDegreeOfUrgency,jdbcType=VARCHAR},
      </if>
      <if test="receivingDataStatus != null">
        RECEIVING_DATA_STATUS = #{receivingDataStatus,jdbcType=VARCHAR},
      </if>
      <if test="timeLimit != null">
        TIME_LIMIT = #{timeLimit,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>

      <if test="reasono != null">
        REASONO = #{reasono,jdbcType=VARCHAR},
      </if>
      <if test="reasont != null">
        REASONT = #{reasont,jdbcType=VARCHAR},
      </if>
      <if test="reasonh != null">
        REASONH = #{reasonh,jdbcType=VARCHAR},
      </if>
      <if test="reasonf != null">
        REASONF = #{reasonf,jdbcType=VARCHAR},
      </if>
      <if test="reasonv != null">
        REASONV = #{reasonv,jdbcType=VARCHAR},
      </if>
      <if test="reasons != null">
        REASONS = #{reasons,jdbcType=VARCHAR},
      </if>

      <if test="nameo != null">
        NAMEO = #{nameo,jdbcType=VARCHAR},
      </if>
      <if test="namet != null">
        NAMET = #{namet,jdbcType=VARCHAR},
      </if>
      <if test="nameh != null">
        NAMEH = #{nameh,jdbcType=VARCHAR},
      </if>
      <if test="namef != null">
        NAMEF = #{namef,jdbcType=VARCHAR},
      </if>
      <if test="namev != null">
        NAMEV = #{namev,jdbcType=VARCHAR},
      </if>
      <if test="names != null">
        NAMES = #{names,jdbcType=VARCHAR},
      </if>

      <if test="dateo != null">
        DATEO = #{dateo,jdbcType=TIMESTAMP},
      </if>
      <if test="datet != null">
        DATET = #{datet,jdbcType=TIMESTAMP},
      </if>
      <if test="dateh != null">
        DATEH = #{dateh,jdbcType=TIMESTAMP},
      </if>
      <if test="datef != null">
        DATEF = #{datef,jdbcType=TIMESTAMP},
      </if>
      <if test="datev != null">
        DATEV = #{datev,jdbcType=TIMESTAMP},
      </if>
      <if test="dates != null">
        DATES = #{dates,jdbcType=TIMESTAMP},
      </if>
      <if test="receiptReason != null">
        RECEIPT_REASON = #{receiptReason,jdbcType=VARCHAR},
      </if>
      <if test="receiptReasonl != null">
        RECEIPT_REASONL = #{receiptReasonl,jdbcType=VARCHAR},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.ReceiptDO">
    update tb_governres_receipt
    set RECEIVING_NUM = #{receivingNum,jdbcType=VARCHAR},
      RECEIVING_DATE_OF_RECEIPT = #{receivingDateOfReceipt,jdbcType=TIMESTAMP},
      RECEIVING_TITLE = #{receivingTitle,jdbcType=VARCHAR},
      RECEIVING_UNIT_OF_COMMUN = #{receivingUnitOfCommun,jdbcType=VARCHAR},
      FILE_NO = #{fileNo,jdbcType=VARCHAR},
      NUMBER = #{number,jdbcType=INTEGER},
      RECEIVING_DEGREE_OF_URGENCY = #{receivingDegreeOfUrgency,jdbcType=VARCHAR},
      RECEIVING_DATA_STATUS = #{receivingDataStatus,jdbcType=VARCHAR},
      TIME_LIMIT = #{timeLimit,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <select id="selectAllReceipt" resultMap="ResultMapWithBLOBsAndFile">
        SELECT
          <include refid="SelectAll_Column_List" />
          ,
          cf.FILE_PATH
          ,
          cf.FILE_NAME
          FROM tb_governres_receipt rp left join tb_culpro_file cf
          on rp.itemCode = cf.DATA_CODE
          <if test='receivingDataStatus == "8" '>
            WHERE RECEIVING_DATA_STATUS in (7)
          </if>
          <if test='receivingDataStatus == "7" '>
            WHERE RECEIVING_DATA_STATUS in (5,7,16,17,18)
          </if>
          <if test='receivingDataStatus == "3" '>
            WHERE RECEIVING_DATA_STATUS in (7,18)
          </if>
          <if test='receivingDataStatus == "2" '>
                WHERE RECEIVING_DATA_STATUS in (1,2,4,3,5,6,7,16,17,18)
          </if>
          <if test='receivingDataStatus == "1" '>
               WHERE RECEIVING_DATA_STATUS in (0,1,2,3,4,5,6,7,16,17)
         </if>
        order by rp.itemUpdateAt desc
    </select>

  <select id="getDeputyDirector" resultMap="ResultMapWithBLOBsAndFile">
    select
    <include refid="SelectAll_Column_List" />
    ,
    cf.FILE_NAME
    ,
    cf.FILE_PATH
    from tb_governres_receipt rp left join tb_culpro_file cf
    on rp.itemCode = cf.DATA_CODE
    where RECEIVING_DATA_STATUS in (1,2,3,4,5,6,7,16,17,18)
    <if test='receiptReasonl == "1"'>
      and RECEIPT_REASONL in (1,12,13,14,123,124,134,1234)
    </if>
    <if test='receiptReasonl == "2"'>
      and RECEIPT_REASONL in (2,12,23,24,123,124,234,1234)
    </if>
    <if test='receiptReasonl == "3"'>
      and RECEIPT_REASONL in (3,13,23,34,123,134,234,1234)
    </if>
    <if test='receiptReasonl == "4"'>
      and RECEIPT_REASONL in (4,14,24,34,124,134,234,1234)
    </if>
    order by itemUpdateAt desc
  </select>

  <update id="changeStatusToReceipt">
    update tb_governres_receipt
    <set>
      <if test="receivingDataStatus != null">
        RECEIVING_DATA_STATUS = #{receivingDataStatus,jdbcType=VARCHAR}
      </if>
    </set>
    where itemID = #{key.itemid,jdbcType=INTEGER}
    and itemCode = #{key.itemcode,jdbcType=CHAR}
  </update>

  <select id="selectForMainPage" resultMap="ReceiptForMainPageResultMap">
    select
    a.RECEIVING_TITLE, a.itemID, a.itemCode
    from
    tb_governres_receipt a inner join
    (select itemID from tb_governres_receipt WHERE RECEIVING_DATA_STATUS = 18 order by itemUpdateAt desc limit 0,5)
    b on b.itemID = a.itemID
  </select>

  <select id="selectReceiptFileForMain" resultMap="ReceiptFileResultMap">
    select
      b.FILE_NAME,b.FILE_PATH
    from
      tb_governres_receipt a inner join
      (select p.itemID,tcf.FILE_NAME,tcf.FILE_PATH from tb_governres_receipt p
                left join tb_culpro_file tcf on p.itemCode = tcf.DATA_CODE where tcf.FILE_PATH IS NOT NULL limit 0,5)
        b on b.itemID = a.itemID where a.RECEIVING_DATA_STATUS = 18
  </select>
</mapper>