<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.RequestReportDOMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.RequestReportDO">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="REPORT_TITLE" jdbcType="VARCHAR" property="reportTitle" />
    <result column="REPORT_CONTENT" jdbcType="VARCHAR" property="reportContent" />
    <result column="REPORT_DATA_STATUS" jdbcType="VARCHAR" property="reportDataStatus" />
    <result column="REASON" jdbcType="VARCHAR" property="reason"/>
    <result column="REASONONE" jdbcType="VARCHAR" property="reasonone"/>
    <result column="REASONTWO" jdbcType="VARCHAR" property="reasontwo"/>
    <result column="REASONTH" jdbcType="VARCHAR" property="reasonth"/>
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="UPDATERONE" jdbcType="VARCHAR" property="updaterone" />
    <result column="UPDATERTWO" jdbcType="VARCHAR" property="updatertwo" />
    <result column="UPDATERTH" jdbcType="VARCHAR" property="updaterth" />
    <result column="UPDATERF" jdbcType="VARCHAR" property="updaterf" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
    <result column="UPDATEONE" jdbcType="TIMESTAMP" property="updateone" />
    <result column="UPDATETWO" jdbcType="TIMESTAMP" property="updatetwo" />
    <result column="UPDATEF" jdbcType="TIMESTAMP" property="updatef" />
    <result column="UPDATETH" jdbcType="TIMESTAMP" property="updateth" />


  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBsAndFile" type="com.zyyglxt.dto.RequestReportDto">
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath"/>
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
  </resultMap>


  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zyyglxt.dataobject.RequestReportDO">
    <result column="REPORT_CONTENT" jdbcType="VARCHAR" property="reportContent" />
  </resultMap>

  <sql id="Base_Column_List">
    itemID, itemCode, REPORT_TITLE, REPORT_DATA_STATUS, CREATER, itemCreateAt, UPDATER, 
    itemUpdateAt
  </sql>
  <sql id="Blob_Column_List">
    REPORT_CONTENT
  </sql>

  <sql id="SelectAll_Column_List">
    rt.itemID, rt.itemCode, rt.REPORT_TITLE, rt.REPORT_DATA_STATUS,
    rt.REASON, rt.REASONONE, rt.REASONTWO, rt.REASONTH,
    rt.CREATER, rt.itemCreateAt,
    rt.UPDATER,
    rt.UPDATERONE, rt.UPDATERTWO, rt.UPDATERTH, rt.UPDATERF,
    rt.UPDATEONE, rt.UPDATETWO, rt.UPDATEF, rt.UPDATETH,
    rt.itemUpdateAt
  </sql>
  <sql id="SelectAllBlob_Column_List">
    rt.REPORT_CONTENT
  </sql>

  <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.RequestReportDOKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_governres_request_report
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.RequestReportDOKey">
    delete from tb_governres_request_report
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zyyglxt.dataobject.RequestReportDO">
    insert into tb_governres_request_report (itemID, itemCode, REPORT_TITLE, 
      REPORT_DATA_STATUS, CREATER, itemCreateAt, 
      UPDATER, itemUpdateAt, REPORT_CONTENT
      )
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{reportTitle,jdbcType=VARCHAR}, 
      #{reportDataStatus,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{itemupdateat,jdbcType=TIMESTAMP}, #{reportContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.RequestReportDO">
    insert into tb_governres_request_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="reportTitle != null">
        REPORT_TITLE,
      </if>
      <if test="reportDataStatus != null">
        REPORT_DATA_STATUS,
      </if>
      <if test="reason != null">
        REASON,
      </if>
      <if test="reasonone != null">
        REASONONE,
      </if>
      <if test="reasontwo != null">
        REASONTWO,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="updaterone != null">
        UPDATERONE,
      </if>
      <if test="updatertwo != null">
        UPDATERONETWO,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
      <if test="reportContent != null">
        REPORT_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="reportTitle != null">
        #{reportTitle,jdbcType=VARCHAR},
      </if>
      <if test="reportDataStatus != null">
        #{reportDataStatus,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="reasonone != null">
        #{reasonone,jdbcType=VARCHAR},
      </if>
      <if test="reasontwo != null">
        #{reasontwo,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updaterone != null">
        #{updaterone,jdbcType=VARCHAR},
      </if>
      <if test="updatertwo != null">
        #{updateronetwo,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="reportContent != null">
        #{reportContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.RequestReportDO">
    update tb_governres_request_report
    <set>
      <if test="reportTitle != null">
        REPORT_TITLE = #{reportTitle,jdbcType=VARCHAR},
      </if>
      <if test="reportDataStatus != null">
        REPORT_DATA_STATUS = #{reportDataStatus,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        REASON = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="reasonone != null">
        REASONONE = #{reasonone,jdbcType=VARCHAR},
      </if>
      <if test="reasontwo != null">
        REASONTWO = #{reasontwo,jdbcType=VARCHAR},
      </if>
      <if test="reasonth != null">
        REASONTH = #{reasonth,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updaterone != null">
        UPDATERONE = #{updaterone,jdbcType=VARCHAR},
      </if>
      <if test="updatertwo != null">
        UPDATERTWO = #{updatertwo,jdbcType=VARCHAR},
      </if>
      <if test="updaterf != null">
        UPDATERF = #{updaterf,jdbcType=VARCHAR},
      </if>
      <if test="updaterth != null">
        UPDATERTH = #{updaterth,jdbcType=VARCHAR},
      </if>

      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateone != null">
        UPDATEONE= #{updateone,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetwo != null">
        UPDATETWO = #{updatetwo,jdbcType=TIMESTAMP},
      </if>
      <if test="updatef != null">
        UPDATEF = #{updatef,jdbcType=TIMESTAMP},
      </if>
      <if test="updateth != null">
        UPDATETH = #{updateth,jdbcType=TIMESTAMP},
      </if>

      <if test="reportContent != null">
        REPORT_CONTENT = #{reportContent,jdbcType=VARCHAR},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zyyglxt.dataobject.RequestReportDO">
    update tb_governres_request_report
    set REPORT_TITLE = #{reportTitle,jdbcType=VARCHAR},
      REPORT_DATA_STATUS = #{reportDataStatus,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      REPORT_CONTENT = #{reportContent,jdbcType=LONGVARCHAR}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.RequestReportDO">
    update tb_governres_request_report
    set REPORT_TITLE = #{reportTitle,jdbcType=VARCHAR},
      REPORT_DATA_STATUS = #{reportDataStatus,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <!--<select id="selectAllReport" resultMap="BaseResultMap">
        SELECT *
        FROM tb_governres_request_report
       WHERE REPORT_DATA_STATUS = #{reportDataStatus,jdbcType=VARCHAR}
       order by itemCreateAt desc
    </select>-->

  <select id="selectAllReport" resultMap="ResultMapWithBLOBsAndFile">
    SELECT
    <include refid="SelectAll_Column_List" />
    ,
    <include refid="SelectAllBlob_Column_List" />
    ,
    cf.FILE_PATH
    ,
    cf.FILE_NAME
    FROM tb_governres_request_report rt left join tb_culpro_file cf
    on rt.itemCode = cf.DATA_CODE
    <if test='reportDataStatus == "4" '>
      WHERE REPORT_DATA_STATUS in (3,6,7,8,9)
    </if>
    <if test='reportDataStatus == "3" '>
      WHERE REPORT_DATA_STATUS in (2,3,5,7,13)
    </if>
    <if test='reportDataStatus == "2" '>
      WHERE REPORT_DATA_STATUS in (1,2,4,7)
    </if>
    <if test='reportDataStatus == "1" '>
      WHERE REPORT_DATA_STATUS in (0,1,4,5,6,7,8,9,13)
    </if>
    order by rt.itemUpdateAt desc
    </select>

  <update id="changeStatusToReport">
    update tb_governres_request_report
    <set>
      <if test="reportDataStatus != null">
        REPORT_DATA_STATUS = #{reportDataStatus,jdbcType=VARCHAR}
      </if>
    </set>
    where itemID = #{key.itemid,jdbcType=INTEGER}
    and itemCode = #{key.itemcode,jdbcType=CHAR}
  </update>
</mapper>