<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.SpecialtyDOMapper">
    <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.SpecialtyDO">
        <id column="itemID" jdbcType="INTEGER" property="itemid"/>
        <id column="itemCode" jdbcType="CHAR" property="itemcode"/>
        <result column="SPECIALTY_NAME" jdbcType="VARCHAR" property="specialtyName"/>
        <result column="SPECIALTY_PICTURE" jdbcType="VARCHAR" property="specialtyPicture"/>
        <result column="SPECIALTY_PHONE" jdbcType="VARCHAR" property="specialtyPhone"/>
        <result column="SPECIALTY_ADDRESS_PRO" jdbcType="VARCHAR" property="specialtyAddressPro"/>
        <result column="SPECIALTY_ADDRESS_CITY" jdbcType="VARCHAR" property="specialtyAddressCity"/>
        <result column="SPECIALTY_ADDRESS_COUNTY" jdbcType="VARCHAR" property="specialtyAddressCounty"/>
        <result column="SPECIALTY_ADDRESS" jdbcType="VARCHAR" property="specialtyAddress"/>
        <result column="SPECIALTY_LINK" jdbcType="VARCHAR" property="specialtyLink"/>
        <result column="SPECIALTY_STATUS" jdbcType="VARCHAR" property="specialtyStatus"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zyyglxt.dataobject.SpecialtyDO">
        <result column="SPECIALTY_DESCRIBE" jdbcType="LONGVARCHAR" property="specialtyDescribe"/>
    </resultMap>
    <sql id="Base_Column_List">
        itemID, itemCode, SPECIALTY_NAME, SPECIALTY_PHONE, SPECIALTY_ADDRESS_PRO, SPECIALTY_ADDRESS_CITY,
        SPECIALTY_ADDRESS_COUNTY, SPECIALTY_ADDRESS, SPECIALTY_LINK, SPECIALTY_STATUS, CREATER,
        itemCreateAt, UPDATER, itemUpdateAt
    </sql>
    <sql id="Blob_Column_List">
        SPECIALTY_DESCRIBE
    </sql>
    <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.SpecialtyDOKey"
            resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_specialty
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.SpecialtyDOKey">
        delete from tb_culpro_specialty
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="com.zyyglxt.dataobject.SpecialtyDO">
        insert into tb_culpro_specialty (itemID, itemCode, SPECIALTY_NAME,
        SPECIALTY_PHONE, SPECIALTY_ADDRESS_PRO, SPECIALTY_ADDRESS_CITY,
        SPECIALTY_ADDRESS_COUNTY, SPECIALTY_ADDRESS,
        SPECIALTY_LINK, SPECIALTY_STATUS, CREATER,
        itemCreateAt, UPDATER, itemUpdateAt,
        SPECIALTY_DESCRIBE)
        values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{specialtyName,jdbcType=VARCHAR},
        #{specialtyPhone,jdbcType=VARCHAR}, #{specialtyAddressPro,jdbcType=VARCHAR},
        #{specialtyAddressCity,jdbcType=VARCHAR},
        #{specialtyAddressCounty,jdbcType=VARCHAR}, #{specialtyAddress,jdbcType=VARCHAR},
        #{specialtyLink,jdbcType=VARCHAR}, #{specialtyStatus,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR},
        #{itemcreateat,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{itemupdateat,jdbcType=TIMESTAMP},
        #{specialtyDescribe,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.SpecialtyDO">
        insert into tb_culpro_specialty
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemid != null">
                itemID,
            </if>
            <if test="itemcode != null">
                itemCode,
            </if>
            <if test="specialtyName != null">
                SPECIALTY_NAME,
            </if>
            <if test="specialtyPhone != null">
                SPECIALTY_PHONE,
            </if>
            <if test="specialtyAddressPro != null">
                SPECIALTY_ADDRESS_PRO,
            </if>
            <if test="specialtyAddressCity != null">
                SPECIALTY_ADDRESS_CITY,
            </if>
            <if test="specialtyAddressCounty != null">
                SPECIALTY_ADDRESS_COUNTY,
            </if>
            <if test="specialtyAddress != null">
                SPECIALTY_ADDRESS,
            </if>
            <if test="specialtyLink != null">
                SPECIALTY_LINK,
            </if>
            <if test="specialtyStatus != null">
                SPECIALTY_STATUS,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="itemcreateat != null">
                itemCreateAt,
            </if>
            <if test="updater != null">
                UPDATER,
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt,
            </if>
            <if test="specialtyDescribe != null">
                SPECIALTY_DESCRIBE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemid != null">
                #{itemid,jdbcType=INTEGER},
            </if>
            <if test="itemcode != null">
                #{itemcode,jdbcType=CHAR},
            </if>
            <if test="specialtyName != null">
                #{specialtyName,jdbcType=VARCHAR},
            </if>
            <if test="specialtyPhone != null">
                #{specialtyPhone,jdbcType=VARCHAR},
            </if>
            <if test="specialtyAddressPro != null">
                #{specialtyAddressPro,jdbcType=VARCHAR},
            </if>
            <if test="specialtyAddressCity != null">
                #{specialtyAddressCity,jdbcType=VARCHAR},
            </if>
            <if test="specialtyAddressCounty != null">
                #{specialtyAddressCounty,jdbcType=VARCHAR},
            </if>
            <if test="specialtyAddress != null">
                #{specialtyAddress,jdbcType=VARCHAR},
            </if>
            <if test="specialtyLink != null">
                #{specialtyLink,jdbcType=VARCHAR},
            </if>
            <if test="specialtyStatus != null">
                #{specialtyStatus,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
            <if test="specialtyDescribe != null">
                #{specialtyDescribe,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.SpecialtyDO">
        update tb_culpro_specialty
        <set>
            <if test="specialtyName != null">
                SPECIALTY_NAME = #{specialtyName,jdbcType=VARCHAR},
            </if>
            <if test="specialtyPhone != null">
                SPECIALTY_PHONE = #{specialtyPhone,jdbcType=VARCHAR},
            </if>
            <if test="specialtyAddressPro != null">
                SPECIALTY_ADDRESS_PRO = #{specialtyAddressPro,jdbcType=VARCHAR},
            </if>
            <if test="specialtyAddressCity != null">
                SPECIALTY_ADDRESS_CITY = #{specialtyAddressCity,jdbcType=VARCHAR},
            </if>
            <if test="specialtyAddressCounty != null">
                SPECIALTY_ADDRESS_COUNTY = #{specialtyAddressCounty,jdbcType=VARCHAR},
            </if>
            <if test="specialtyAddress != null">
                SPECIALTY_ADDRESS = #{specialtyAddress,jdbcType=VARCHAR},
            </if>
            <if test="specialtyLink != null">
                SPECIALTY_LINK = #{specialtyLink,jdbcType=VARCHAR},
            </if>
            <if test="specialtyStatus != null">
                SPECIALTY_STATUS = #{specialtyStatus,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                UPDATER = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
            <if test="specialtyDescribe != null">
                SPECIALTY_DESCRIBE = #{specialtyDescribe,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zyyglxt.dataobject.SpecialtyDO">
        update tb_culpro_specialty
        set SPECIALTY_NAME = #{specialtyName,jdbcType=VARCHAR},
        SPECIALTY_PHONE = #{specialtyPhone,jdbcType=VARCHAR},
        SPECIALTY_ADDRESS_PRO = #{specialtyAddressPro,jdbcType=VARCHAR},
        SPECIALTY_ADDRESS_CITY = #{specialtyAddressCity,jdbcType=VARCHAR},
        SPECIALTY_ADDRESS_COUNTY = #{specialtyAddressCounty,jdbcType=VARCHAR},
        SPECIALTY_ADDRESS = #{specialtyAddress,jdbcType=VARCHAR},
        SPECIALTY_LINK = #{specialtyLink,jdbcType=VARCHAR},
        SPECIALTY_STATUS = #{specialtyStatus,jdbcType=VARCHAR},
        CREATER = #{creater,jdbcType=VARCHAR},
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
        UPDATER = #{updater,jdbcType=VARCHAR},
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
        SPECIALTY_DESCRIBE = #{specialtyDescribe,jdbcType=LONGVARCHAR}
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.SpecialtyDO">
        update tb_culpro_specialty
        set SPECIALTY_NAME = #{specialtyName,jdbcType=VARCHAR},
        SPECIALTY_PHONE = #{specialtyPhone,jdbcType=VARCHAR},
        SPECIALTY_ADDRESS_PRO = #{specialtyAddressPro,jdbcType=VARCHAR},
        SPECIALTY_ADDRESS_CITY = #{specialtyAddressCity,jdbcType=VARCHAR},
        SPECIALTY_ADDRESS_COUNTY = #{specialtyAddressCounty,jdbcType=VARCHAR},
        SPECIALTY_ADDRESS = #{specialtyAddress,jdbcType=VARCHAR},
        SPECIALTY_LINK = #{specialtyLink,jdbcType=VARCHAR},
        SPECIALTY_STATUS = #{specialtyStatus,jdbcType=VARCHAR},
        CREATER = #{creater,jdbcType=VARCHAR},
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
        UPDATER = #{updater,jdbcType=VARCHAR},
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>



    <select id="selectAllSpecialty" resultMap="ResultMapWithBLOBs">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        FROM tb_culpro_specialty
        ORDER BY itemCreateAt DESC
    </select>

    <select id="searchSpecialty" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_specialty
        WHERE SPECIALTY_NAME LIKE "%"#{value}"%"
        OR SPECIALTY_DESCRIBE LIKE "%"#{value}"%"
        OR SPECIALTY_ADDRESS_PRO LIKE "%"#{value}"%"
        OR SPECIALTY_ADDRESS_CITY LIKE "%"#{value}"%"
        OR SPECIALTY_ADDRESS_COUNTY LIKE "%"#{value}"%"
        OR SPECIALTY_ADDRESS LIKE "%"#{value}"%"
        OR itemCode IN (select HOSPITAL_CODE
                        from tb_culpro_hosp, tb_culpro_hosp_specialty_ref
                        WHERE HOSPITAL_NAME LIKE "%"#{value}"%"
                        AND tb_culpro_hosp.itemCode=tb_culpro_hosp_specialty_ref.itemCode)
        ORDER BY itemCreateAt DESC
    </select>

    <select id="top5Specialty" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_specialty
        ORDER BY itemCreateAt DESC
        LIMIT 5
    </select>

    <select id="selectSpecialtyByItemCode" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_culpro_specialty
        where itemCode = #{itemcode}
    </select>

</mapper>