<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.UserDOMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.UserDO">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="ORG_CODE" jdbcType="CHAR" property="orgCode" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
    <result column="IDCARD_TYPE" jdbcType="VARCHAR" property="idcardType" />
    <result column="IDCARD_NO" jdbcType="VARCHAR" property="idcardNo" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="CONTACTS" jdbcType="VARCHAR" property="contacts" />
    <result column="mobilePhone" jdbcType="VARCHAR" property="mobilephone" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
    <result column="CITYID" jdbcType="CHAR" property="cityid" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zyyglxt.dataobject.UserDO">
    <result column="PORTRAIT" jdbcType="LONGVARBINARY" property="portrait" />
  </resultMap>
  <sql id="Base_Column_List">
    itemID, itemCode, ORG_CODE, USERNAME, PASSWORD, SALT, NAME, GENDER, IDCARD_TYPE,
    IDCARD_NO, EMAIL, STATE, CONTACTS, mobilePhone, CITYID, TYPE
  </sql>
  <sql id="Blob_Column_List">
     PORTRAIT
  </sql>
  <sql id="Base_Column_List_SELECTALL">
    u.USERNAME, u.NAME, u.GENDER, u.IDCARD_TYPE, u.IDCARD_NO, u.EMAIL,
    u.CONTACTS, u.mobilePhone, u.CITYID, u.CREATER, u.itemCreateAt
  </sql>
  <sql id="Blob_Column_List_SELECTALL">
     u.PORTRAIT
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.UserDOKey" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
    order by itemUpdateAt desc
  </select>
  <select id="selectByUsernameAndPassword" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user
    where username = #{username,jdbcType=VARCHAR}
    and password = #{password,jdbcType=VARCHAR}
    order by itemUpdateAt desc
  </select>
  <select id="selectAllUser" resultMap="ResultMapWithBLOBs">
    SELECT
    <include refid="Base_Column_List_SELECTALL" />
    ,
    <include refid="Blob_Column_List_SELECTALL" />
    ,r.ROLE_NAME
    FROM user u,role r
    WHERE u.TYPE IN(8,21) AND u.TYPE=r.ROLE_TYPE
    order by u.itemUpdateAt desc
  </select>
  <select id="selectAllUser2" resultMap="ResultMapWithBLOBs">
    SELECT
    <include refid="Base_Column_List_SELECTALL" />
    ,
    <include refid="Blob_Column_List_SELECTALL" />
    ,r.ROLE_NAME
    FROM user u,role r
    WHERE u.TYPE=7 AND u.TYPE=r.ROLE_TYPE AND u.ORG_CODE = #{orgCode,jdbcType=CHAR}
    order by u.itemUpdateAt desc
  </select>
  <select id="selectAllUser3" resultMap="ResultMapWithBLOBs">
    SELECT
    <include refid="Base_Column_List_SELECTALL" />
    ,u.itemCode,
    <include refid="Blob_Column_List_SELECTALL" />
    ,r.ROLE_NAME
    FROM user u,role r
    WHERE u.TYPE IN(25,26) AND u.TYPE=r.ROLE_TYPE
    order by u.itemUpdateAt desc
  </select>
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user
    where USERNAME = #{username,jdbcType=VARCHAR}
    order by itemUpdateAt desc
    limit 1
  </select>
  <select id="selectByMobilePhone" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
     select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user
    where mobilePhone = #{mobilephone,jdbcType=VARCHAR}
    order by itemUpdateAt desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.UserDOKey">
    delete from user
    where itemCode = #{itemcode,jdbcType=CHAR}
    <if test="itemid != null">
    and itemID = #{itemid,jdbcType=INTEGER}
</if>
  </delete>
  <delete id="deleteByUsername" parameterType="java.lang.String">
    delete from user
    where USERNAME = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zyyglxt.dataobject.UserDO">
    insert into user (itemID, itemCode, ORG_CODE,
      USERNAME, PASSWORD, SALT,
      NAME, GENDER, IDCARD_TYPE,
      IDCARD_NO, EMAIL, STATE,
      mobilePhone, CREATER, itemCreateAt,
      UPDATER, itemUpdateAt, CITYID,
      TYPE, PORTRAIT)
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{orgCode,jdbcType=CHAR},
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{idcardType,jdbcType=VARCHAR},
      #{idcardNo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
      #{mobilephone,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP},
      #{updater,jdbcType=VARCHAR}, #{itemupdateat,jdbcType=TIMESTAMP}, #{cityid,jdbcType=CHAR},
      #{type,jdbcType=INTEGER}, #{portrait,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.UserDO">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="salt != null">
        SALT,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="idcardType != null">
        IDCARD_TYPE,
      </if>
      <if test="idcardNo != null">
        IDCARD_NO,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="contacts != null">
        CONTACTS,
      </if>
      <if test="mobilephone != null">
        mobilePhone,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
      <if test="cityid != null">
        CITYID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="portrait != null">
        PORTRAIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=CHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="idcardType != null">
        #{idcardType,jdbcType=VARCHAR},
      </if>
      <if test="idcardNo != null">
        #{idcardNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="cityid != null">
        #{cityid,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="portrait != null">
        #{portrait,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.UserDO">
    update user
    <set>
      <if test="orgCode != null">
        ORG_CODE = #{orgCode,jdbcType=CHAR},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="idcardType != null">
        IDCARD_TYPE = #{idcardType,jdbcType=VARCHAR},
      </if>
      <if test="idcardNo != null">
        IDCARD_NO = #{idcardNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        CONTACTS = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        mobilePhone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="cityid != null">
        CITYID = #{cityid,jdbcType=CHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="portrait != null">
        PORTRAIT = #{portrait,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zyyglxt.dataobject.UserDO">
    update user
    set ORG_CODE = #{orgCode,jdbcType=CHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      SALT = #{salt,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=VARCHAR},
      IDCARD_TYPE = #{idcardType,jdbcType=VARCHAR},
      IDCARD_NO = #{idcardNo,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      mobilePhone = #{mobilephone,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      CITYID = #{cityid,jdbcType=CHAR},
      TYPE = #{type,jdbcType=INTEGER},
      PORTRAIT = #{portrait,jdbcType=LONGVARBINARY}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.UserDO">
    update user
    set ORG_CODE = #{orgCode,jdbcType=CHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      SALT = #{salt,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=VARCHAR},
      IDCARD_TYPE = #{idcardType,jdbcType=VARCHAR},
      IDCARD_NO = #{idcardNo,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      mobilePhone = #{mobilephone,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      CITYID = #{cityid,jdbcType=CHAR},
      TYPE = #{type,jdbcType=INTEGER}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updatePasswordByMobilePhone" parameterType="java.lang.String">
      update user
      set PASSWORD = #{password,jdbcType=VARCHAR}
      where mobilePhone = #{mobilePhone,jdbcType=VARCHAR}
  </update>
  <update id="updatePasswordByUserName" parameterType="java.lang.String">
    update user
    set PASSWORD = #{password,jdbcType=VARCHAR}
    where USERNAME = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateStateByUserName" parameterType="java.lang.String">
    update user
    set STATE = #{state,jdbcType=VARCHAR}
    where USERNAME = #{username,jdbcType=VARCHAR}
  </update>
</mapper>
