<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyglxt.dao.UserRoleRefDOMapper">
  <resultMap id="BaseResultMap" type="com.zyyglxt.dataobject.UserRoleRefDO">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="USER_CODE" jdbcType="CHAR" property="userCode" />
    <result column="APP_CODE" jdbcType="CHAR" property="appCode" />
    <result column="ROLE_CODE" jdbcType="CHAR" property="roleCode" />
    <result column="PLAT_ROLE" jdbcType="CHAR" property="platRole" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
  </resultMap>
  <sql id="Base_Column_List">
    itemID, itemCode, USER_CODE, APP_CODE, ROLE_CODE, PLAT_ROLE
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.zyyglxt.dataobject.UserRoleRefDOKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_role_ref
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
    order by itemUpdateAt desc
  </select>
  <select id="selectByUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_role_ref
    where USER_CODE = #{userCode,jdbcType=CHAR}
    order by itemUpdateAt desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zyyglxt.dataobject.UserRoleRefDOKey">
    delete from user_role_ref
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zyyglxt.dataobject.UserRoleRefDO">
    insert into user_role_ref (itemID, itemCode, USER_CODE,
      APP_CODE, ROLE_CODE, PLAT_ROLE, 
      CREATER, itemCreateAt, UPDATER, 
      itemUpdateAt)
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{userCode,jdbcType=CHAR}, 
      #{appCode,jdbcType=CHAR}, #{roleCode,jdbcType=CHAR}, #{platRole,jdbcType=CHAR}, 
      #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{itemupdateat,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zyyglxt.dataobject.UserRoleRefDO">
    insert into user_role_ref
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="userCode != null">
        USER_CODE,
      </if>
      <if test="appCode != null">
        APP_CODE,
      </if>
      <if test="roleCode != null">
        ROLE_CODE,
      </if>
      <if test="platRole != null">
        PLAT_ROLE,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=CHAR},
      </if>
      <if test="appCode != null">
        #{appCode,jdbcType=CHAR},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=CHAR},
      </if>
      <if test="platRole != null">
        #{platRole,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyyglxt.dataobject.UserRoleRefDO">
    update user_role_ref
    <set>
      <if test="userCode != null">
        USER_CODE = #{userCode,jdbcType=CHAR},
      </if>
      <if test="appCode != null">
        APP_CODE = #{appCode,jdbcType=CHAR},
      </if>
      <if test="roleCode != null">
        ROLE_CODE = #{roleCode,jdbcType=CHAR},
      </if>
      <if test="platRole != null">
        PLAT_ROLE = #{platRole,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByKeySelective" parameterType="com.zyyglxt.dataobject.UserRoleRefDOKey">
    update user_role_ref
    <set>
      <if test="userCode != null">
        USER_CODE = #{userCode,jdbcType=CHAR},
      </if>
      <if test="appCode != null">
        APP_CODE = #{appCode,jdbcType=CHAR},
      </if>
      <if test="roleCode != null">
        ROLE_CODE = #{roleCode,jdbcType=CHAR},
      </if>
      <if test="platRole != null">
        PLAT_ROLE = #{platRole,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyyglxt.dataobject.UserRoleRefDO">
    update user_role_ref
    set USER_CODE = #{userCode,jdbcType=CHAR},
      APP_CODE = #{appCode,jdbcType=CHAR},
      ROLE_CODE = #{roleCode,jdbcType=CHAR},
      PLAT_ROLE = #{platRole,jdbcType=CHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
</mapper>