<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1805932_ysrcp4y0uy9.css">
    <title>Document</title>
    <style>
        .upload-wrap {
            position: relative;
            display: inline-block;
            overflow: hidden;

            border-radius: 3px;
        }

        .upload-wrap .file-ele {
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }

        .upload-wrap .file-open {
            width: 90px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            color: #fff;
            background: red;
        }

        label {
            text-align: right;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-12">
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">企业照片：</label>
                <div class="upload-content" data-limit="1">
                    <div class="content-img">
                        <ul class="content-img-list"></ul>
                        <div class="file">
                            <i class="gcl gcladd"></i>
                            <input type="file" name="file" accept="image/*" id="upload" multiple>
                        </div>
                    </div>
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                         aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">企业名称：</label>
                <div class="col-sm-3">
                    <input id="name" type="text" class="form-control" placeholder="请输入">
                </div>

                <label class="col-sm-2 col-form-label">生产种类：</label>
                <div class="col-sm-3">
                    <input id="peoduceType" type="text" class="form-control" placeholder="请输入">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">生产药品：</label>
                <div class="col-sm-3">
                    <input id="peoduceDrug" type="text" class="form-control" placeholder="请输入">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">联系人：</label>
                <div class="col-sm-3">
                    <input id="contacts" type="text" class="form-control" placeholder="请输入">
                </div>

                <label class="col-sm-2 col-form-label">联系电话：</label>
                <div class="col-sm-3">
                    <input id="phone" type="text" class="form-control" placeholder="请输入">
                </div>

            </div>
            <div id="distpicker" class="form-group row">
                <label for="addressPro" class="col-sm-2 col-form-label">省：</label>
                <div class="col-sm-2">
                    <select id="addressPro" class="form-control"></select>
                </div>

                <label for="addressCity" class="col-sm-1 col-form-label">市：</label>
                <div class="col-sm-2">
                    <select id="addressCity" class="form-control"></select>
                </div>

                <label for="addressCountry" class="col-sm-1 col-form-label">区：</label>
                <div class="col-sm-2">
                    <select id="addressCountry" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">地址：</label>
                <div class="col-sm-3">
                    <input id="address" type="text" class="form-control" placeholder="请输入">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">企业简介：</label>
                <div id="div1" class="col-sm-8">
                </div>
            </div>


            <div class="form-group row">
                <div class="col-lg-4 col-md-4" ></div>
                <div class=" col-lg-4 row">
                    <div class="col">
                        <button id="cancelBtn" type="button" class="btn btn-light col">取消</button>
                    </div>
                    <div class="col">
                        <button id="saveBtn" type="button" class="btn btn-danger col">保存</button>
                    </div>
                    <div class="col">
                        <button id="submitBtn" type="submit" class="btn btn-primary col">提交</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" ></div>
            </div>
        </form>
    </div>

</div>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
<script type="text/javascript" th:src="@{/project/js/industrialdevelop/chinesemed/chinesemed-produce_add.js}"></script>
<script type="text/javascript" th:src="@{/component/jquery@3.5.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/component/distSelect/distpicker.common.js}"></script>
<link type="text/css" rel="stylesheet" href="/component/uploadImg/css/uploadImg.css"
      th:src="@{/component/uploadImg/css/uploadImg.css}">
<script type="text/javascript" th:src="@{/component/uploadImg/js/bootstrap.min.js}"></script>
</body>
</html>