<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>填报时间</title>
    <link rel="stylesheet" th:href="@{component/bootstrap-datetimepicker@4.7.14/bootstrap-datetimepicker.min.css}">
    <style>
        .modal-content {
            width: 15em;
        }
    </style>
</head>
<body>
<div id="fir_body">
    <div class="row" id="accordion2" >
        <div class="col-lg-8 col-md-8 row mb-4" style="padding-left: 3rem;">
                <lable style="margin-top: 6px;">年份：</lable>
                <select name="" id="taskNameSearch1" class="col-lg-4  col-md-4">
                </select>
                <lable style="margin-left:2rem;margin-top: 6px;">状态：</lable>
                <select name="" id="taskNameSearch2"  class="col-lg-4  col-md-4"style="margin-right: 1rem">
                    <option value ="2">失效</option>
                    <option value ="1">生效</option>
                    <option value ="0">未开始</option>
                </select>

            <div class="input-group-prepend">
                <span class="input-group-text" id="btnSearch" style="z-index: 1;">搜索</span>
            </div>

        </div>
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-2 col-md-2">
                <button id="btn_addTask" class="btn btn-danger ml-3">设置填报时间</button>
        </div>
        <hr size="1" class="mb-3" style="color: #EBEBEB;border-style:dashed;width:100%;margin-bottom:10px;">
    </div>


    <div class="col-lg-12">
        <table id="table"></table>
    </div>
</div>
</body>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
</html>


