/**
    base.css 勿改动
 */

body{
    font-family: "Microsoft YaHei UI";
    table-layout: fixed;
    background-color: white;
    zoom:80%;
}

table{
    table-layout: fixed;
    word-break:break-all;
    word-wrap:break-word;
}

.header-bg{
    background-color: #5b4622;
}
.topback{
    height: 1rem;
    background-color: #5b4622;
}

.W20 {
    width:20px !important;
}

.h10{
    height: 10px;
}
.h20{
    height: 20px;
}
.h30{
    height: 30px;
}
.h40{
    height: 40px;
}
.h50{
    height: 50px;
}
.h60{
    height: 60px;
}
.h70{
    height: 6rem;
}
.h100{
    height: 100px;
}
.h120{
    height: 120px;
}
.h150{
    height: 150px;
}
.h200{
    height: 200px;
}
.h300{
    height: 300px;
}
.h400{
    height: 400px;
}
.h500{
    /*height: 500px;*/
}

.cursor{
    cursor: pointer;
}

.p-r{
    padding-right: 0px
}





.test-border{
    border: 0px solid #D60000;
    margin-left: 0px!important;
    margin-right: 0px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.importanceType-veryUrgent{
    font-weight: bold;
    color: rgba(255,4,247,0.95);
}
.importanceType-urgent{
    color: rgba(255, 13, 30, 0.95);
}
.importanceType-generalUrgent{
    color: rgba(50, 49, 49, 0.95);
}
.importanceType-plan{
    color: rgba(93, 223, 255, 0.95);
}
.importanceType-longtime{
    color: rgba(46, 175, 187, 0.8);
}



.left-menu-dropdown-menu{
    position: static;
    display: block;
    width: 100%;
    border: none;
}


.dropdown-item.active, .dropdown-item:active {
    color: white;
    text-decoration: none;
    background: url("../../images/new/hover.png");
    background-size: 100% 100%;
}
.aaaa.active, .aaaa:active {
    color: white;
    text-decoration: none;
    background: url("../../images/new/titleHover.png") !important;
    background-size: 100% 100%;
}
.btn-link{
    color:black;
}
.dropdown-item {
    font-family: SourceHanSansCN-regular;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background: url("../../images/new/default.png");
    background-size: 100% 100%;
    margin: 0 10px;
    text-align: center;
    width: 161px;
    padding-left: 0;
    padding-right: 0;
    color: #1e2629;
}
.btn-block>h4 {
    font-family: SourceHanSansCN-regular;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    color: #5b4622;

}

.dropdown-menu.left-menu-dropdown-menu {
    padding-bottom: 0px;
    padding-top: 0;
    background-color: #F8F9FB;
}

.card{
    background-color: #FCFCFA;
    border-left: 4px solid #f6c2aa;
    border-right: 4px solid #f6c2aa;
}
hr {
    margin-top: 0;
    border-top: 1px solid;
    margin-bottom: 0;
}
.aaaa {

    padding: .12rem .1rem;
    padding-bottom: 10px;
}
.AFirstMenu {

    color: black;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    color: #5b4622;
}
.nullmenu{
    display:none;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #5b4622 !important;
    border-color: #5b4622 !important;
}
.page-link {
    color: black !important;
}
.fixed-table-pagination {
    font-size: smaller;
}
.page-link {
    margin-left: 9px;
}

.mh {
    width: 11px;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background-color: #000;
}

thead.self-thead {
    text-align: left;
    background: url(../../images/new/tableDefault.png) no-repeat !important;
    background-size: 100% 100% !important;
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
    color: #5b4622;
}

.btn-danger {
    color: #fff;
    background-color: #D60000;
    border-color: #D60000;
}


#btnSearch{
    background-color: #D60000;
    color: #FFFFFF;
    border: none;
    margin-left: 1rem;
    z-index: 1;
    border-radius: unset !important;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
}
.upload-wrap {
    padding-left: 0.8rem;
}

.upload-wrap .file-open {
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background: #D60000;
}

#left_menu{
    text-align: center!important;
    font-size: 16px!important;
    font-family: SourceHanSansCN-regular!important;
    color: #1e2629;
    /*border-left: 4px solid #f6c2aa;*/
    /*border-right: 4px solid #f6c2aa;*/
}
#headingOne{
    background: url("../../images/new/title.png");
    background-size: 100% 100%;
}
#left_menu_bottom{
    height: 20px;
    background: url("../../images/new/bottom.png");
    background-size: 100% 100%;
    border-left: 4px solid #f6c2aa;
    border-right: 4px solid #f6c2aa;
}


#table tr:nth-child(even){
    background: #f9f0eb;
}

#closeAndOpen{
    color: #ad6809 !important;
    font-size: 18px;
    font-family: SourceHanSansCN-Blod;
}
#collapseOne>hr{
    background: url("../../images/new/top.png");
    height: 15px;
}
#accordion2>hr{
    background: url("../../images/new/top.png");
    height: 15px;
}
#collapseOne{
    margin: 0;
    padding: 0;
}
#btnSearch{
    font-size: 18px;
    width: 80px;
    padding-left: 21px;
    font-family: SourceHanSansCN-Blod;
    background-color: #ad6809 !important;
}
#main_body {
    border-right: 10px solid #f7efeb;
    border-bottom: 1rem solid #f7efeb;
    width: 100%;
    overflow: hidden;
    height: 100%;
    border-left: 229px solid #f7efeb;
}
#accordion2{
    margin-top: 10px;
    border-top: 10px solid white;
}
#btn_addTask{
    width: 171px;
    height: 40px;
    background-color: #e66736 !important;
    text-align: center;
    font-size: 16px;
    border-color: #e66736;
}
#addExper{
    width: 140px;
    height: 40px;
    background-color: #e66736;
    text-align: center;
    font-size: 16px;
    border-color: #e66736;
}
#deleteExper{
    width: 154px;
    height: 40px;
    background-color: #e66736;
    text-align: center;
    font-size: 16px;
    border-color: #e66736;
    font-family: AdobeHeitiStd-Regular;
}

#chargePersonSearch{
    height: 40px;
    max-width: 280px;
    border-color:#c4d3d4;
}
.custom-select {
    background: #fff url("../../images/new/more.png") no-repeat right .75rem center/15px 10px;
}

.openBtnP{
    position: relative;
    left: 73%;
    top: -56px;
}
#table td, #table th {
    border: 0px solid #dee2e6;
}
#table{
    border: 0px
}


.rifuck{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}
.left_menu_fly{
    position: absolute;
    width: 229px;
    top: 0;
    left: 0;
    overflow: hidden;
}
.table{
    color: #3c4d53;
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table td:last-child
{
    white-space: nowrap;
    overflow: visible !important;
    text-overflow: unset !important;
}

span.input-text {
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
    color: #1e2629;
}
#fir_body{
    border-radius: 10px;
    background-color: white;
    background-clip: content-box;
}
#table td:last-child>a {
    margin: 0 0.6em 0 0 !important;
}

a{
    cursor: pointer;
}