.home-header{
    height: 3rem;
    border-bottom: 3px solid #775637;
    margin-top: 1rem;
}
.home-contain{
    margin-top: 1rem;
}
.more-c{
    color: #CC0001;
    margin-top: 1rem;
    float: right;
    z-index: 2;
}
.head-name{
    float: left;
    background-color: #775637;
    color: white;
    width: 100px;
    text-align: center;
    margin-top: 0.5rem;
    height: 2.5rem;
    padding-top: 0.7rem;
}
.mainLi{
    text-indent: 30px;
    list-style: none;
    margin: 1rem 0;
    background:url(../../images/li.PNG) no-repeat;
}
ul{
    padding: 0;
}
.myOf{
    background:url(../../images/new/default.png) no-repeat;
    float: left;
    text-align: center;
    width: 4rem;
    margin: 0 8px 0 17px;

}