<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1805932_ysrcp4y0uy9.css">
    <style>
        label{
            text-align: right;
            margin-top: 6px;
        }
    </style>
</head>
<body>
<div id="fir_body" class="row">
    <div class="col-12">
        <div class="titleCSS">新增电视电影信息</div>
        <form>
            <!--上传图片的div-->
            <div class="col-lg-12 row" >
                <div class="col-lg-6" >
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"><span style="color: red">*</span>电视电影名称：</label>
                        <div class="col-sm-6">
                            <input id="chineseCulturalName" type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">电视电影来源：</label>
                        <div class="col-sm-6">
                            <input id="chineseCulturalSource" type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">电视电影作者：</label>
                        <div class="col-sm-6">
                            <input id="chineseCulturalAuthor" type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="form-group row">
                        <label style="position: relative;top: 60px;" for="exampleFormControlFile1" class="col-sm-5 col-form-label"><span style="color: red">*</span>电视电影图片：</label>
                        <div class="upload-content" data-limit="1">
                            <div class="content-img">
                                <ul class="content-img-list"></ul>
                                <div class="file">
                                    <i class="gcl gcladd"></i>
                                    <input type="file" name="file" accept="image/*" id="upload" multiple>
                                </div>
                            </div>
                            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                                 aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><span style="color: red">*</span>电视电影介绍：</label>
                <div id="div1" class="col-sm-8">
                </div>
            </div>


            <div class="form-group row">
                <div class="col-lg-6 col-md-6" ></div>
                <div class=" col-lg-4 row" style="padding: 0" >
                    <div class="col">
                        <button id="cancel" type="button" class="btn btn-light col">取消</button>
                    </div>
                    <div class="col">
                        <button id="btn_save" type="submit" class="btn btn-danger col">保存</button>
                    </div>
                    <div class="col" style="padding-right: 0;">
                        <button id="btn_insert" type="submit" class="btn btn-primary col">提交</button>

                    </div>
                </div>
            </div>
        </form>

    </div>

</div>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
<link type="text/css" rel="stylesheet" href="/component/uploadImg/css/uploadImg.css"
      th:src="@{/component/uploadImg/css/uploadImg.css}">
</body>
</html>